<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" *ngIf="shouldRun">
  <mat-toolbar class=".mat-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name">BienestaSoft</h1>
  </mat-toolbar>
  <!--contenido del menu-->
  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-nav-list>
        <h3 matSubheader>Estructura Organizacional</h3>
        <a mat-list-item [routerLink]="nav.route" *ngFor="let nav of estructura">
          <mat-icon class="icon">{{nav.icon}}</mat-icon>
          {{nav.name}}
        </a>
        <h3 matSubheader>Entrega y recepción</h3>
        <a mat-list-item [routerLink]="nav.route" *ngFor="let nav of entrega">
          <mat-icon class="icon">{{nav.icon}}</mat-icon>
          {{nav.name}}
        </a>
        <h3 matSubheader>Beneficiarios</h3>
        <a mat-list-item [routerLink]="nav.route" *ngFor="let nav of beneficiarios">
          <mat-icon class="icon">{{nav.icon}}</mat-icon>
          {{nav.name}}
        </a>
      
        <h3 matSubheader>Rol</h3>
        <a mat-list-item [routerLink]="nav.route" *ngFor="let nav of rol">
          <mat-icon class="icon">{{nav.icon}}</mat-icon>
          {{nav.name}}
        </a>

        <h3 matSubheader>Usuarios</h3>
        <a mat-list-item [routerLink]="nav.route" *ngFor="let nav of Usuarios">
          <mat-icon class="icon">{{nav.icon}}</mat-icon>
          {{nav.name}}
        </a>

        <h3 matSubheader>Datos Maestros </h3>
        <a mat-list-item [routerLink]="nav.route" *ngFor="let nav of listad">
          <mat-icon class="icon">{{nav.icon}}</mat-icon>
          {{nav.name}}
        </a>

        <h3 matSubheader>Centro de distribucion</h3>
        <a mat-list-item [routerLink]="nav.route" *ngFor="let nav of centrod">
          <mat-icon class="icon">{{nav.icon}}</mat-icon>
          {{nav.name}}
        </a>

        <h3 matSubheader>Almacen</h3>
        <a mat-list-item [routerLink]="nav.route" *ngFor="let nav of almacen">
          <mat-icon class="icon">{{nav.icon}}</mat-icon>
          {{nav.name}}
        </a>

      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <p *ngFor="let content of fillerContent">{{content}}</p>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<div *ngIf="!shouldRun">Please open on Stackblitz to see result</div>