<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" *ngIf="shouldRun">
  <mat-toolbar class=".mat-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name">BienestaSoft</h1>
    
    
      
  </mat-toolbar>
  <!--contenido del menu-->
  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0" >
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-nav-list>
        <h3 matSubheader>Estructura Organizacional</h3>
        <a mat-list-item [routerLink]="nav.route" *ngFor="let nav of estructura" style="font-size:20px;">
          <mat-icon class="icon">{{nav.icon}}</mat-icon>
          {{nav.name}}
        </a>
        <h3 matSubheader>Entrega y Recepción</h3>
        <a mat-list-item [routerLink]="nav.route" *ngFor="let nav of entrega" style="font-size:20px;">
          <mat-icon class="icon">{{nav.icon}}</mat-icon>
          {{nav.name}}
        </a>
        <h3 matSubheader>Inventario</h3>
        <a mat-list-item [routerLink]="nav.route" *ngFor="let nav of inventarios" style="font-size:20px;">
          <mat-icon class="icon">{{nav.icon}}</mat-icon>
          {{nav.name}}
        </a>
        <h3 matSubheader>Beneficiarios</h3>
        <a mat-list-item [routerLink]="nav.route" *ngFor="let nav of beneficiarios" style="font-size:20px;">
          <mat-icon class="icon">{{nav.icon}}</mat-icon>
          {{nav.name}}
        </a>
      
        <h3 matSubheader>Rol</h3>
        <a mat-list-item [routerLink]="nav.route" *ngFor="let nav of rol" style="font-size:20px;">
          <mat-icon class="icon">{{nav.icon}}</mat-icon>
          {{nav.name}}
        </a>

        <h3 matSubheader>Usuarios</h3>
        <a mat-list-item [routerLink]="nav.route" *ngFor="let nav of Usuarios" style="font-size:20px;">
          <mat-icon class="icon">{{nav.icon}}</mat-icon>
          {{nav.name}}
        </a>

        <h3 matSubheader>Datos Maestros </h3>
        <a mat-list-item [routerLink]="nav.route" *ngFor="let nav of datos" style="font-size:20px;">
          <mat-icon class="icon">{{nav.icon}}</mat-icon>
          {{nav.name}}
        </a>

        <h3 matSubheader>Centro De Distribución</h3>
        <a mat-list-item [routerLink]="nav.route" *ngFor="let nav of centrod" style="font-size:20px;">
          <mat-icon class="icon">{{nav.icon}}</mat-icon>
          {{nav.name}}
        </a>

        <h3 matSubheader>Almacén</h3>
        <a mat-list-item [routerLink]="nav.route" *ngFor="let nav of almacen" style="font-size:20px;"> 
          <mat-icon class="icon">{{nav.icon}}</mat-icon>
          {{nav.name}}
        </a>
        <button (click)="logout()" class="btn btn-success" class="material-cust-medium-button" style="position: absolute;"   routerLink=’myRoute’ style="float: right;"> Cerrar sesión </button>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <p *ngFor="let content of fillerContent">{{content}}</p>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<div *ngIf="!shouldRun">Please open on Stackblitz to see result</div>

