<nav class="navbar navbar-success bg-success">
        <button class="btn btn-dark" routerLink="/menu">Volver</button>
      </nav>
      
      <div class="col-md-4 offset-md-4" style="padding-top: 50px;" padding>
        <div class="card" padding>
          <div class="card-body" padding>
            <form>
                    <h1>Reporte Listas De Datos Maestros</h1>
              <div class="form-group">
                
                    <span  >Nombre de la lista </span>
  <h2></h2>
  <select name="rols" [(ngModel)]="lista" class="select-css">
  <option [value]="item" *ngFor="let item of listar">{{item}} </option>
  </select>
  <h2></h2>
  <button (click)="onClickMe()" class="btn btn-success">Aceptar</button>
  {{clickMessage}}
       <h2></h2>

    
                </div>
                </form>
            </div>
          </div>
        </div>
