<nav class="navbar navbar-success bg-success">
  <button class="btn btn-dark" routerLink="/serviciosymodalidadesv">Volver</button>
</nav>

<div class="col-md-4 offset-md-4" style="padding-top: 50px;" padding>
  <div class="card" padding>
    <div class="card-body" padding>


      <form [formGroup]="servicioForm" (ngSubmit)="onSubmit()">
        <h1>Servicios y modalidades</h1>

          <div class="form-group">
              <label>Estado del dato maestro</label>
              <select formControlName="EstadoDatoMaestro" class="form-control" [(ngModel)]="x.EstadoDatoMaestro" [ngClass]="{ 'is-invalid': submitted && f.EstadoDatoMaestro.errors }">
                  <option value="1">Habilitado</option>
                  <option value="0">Deshabilitado</option>

              </select>
              <div *ngIf="submitted && f.EstadoDatoMaestro.errors" class="invalid-feedback">
                  <div *ngIf="f.EstadoDatoMaestro.errors.required">Estado es requerido</div>
              </div>
          </div>

        <div class="form-group">
          <label>Modalidad</label>
          <input type="text" placeholder="Nombre de la Modalidad" formControlName="Modalidad" class="form-control" [(ngModel)]="x.Modalidad"
            [ngClass]="{ 'is-invalid': submitted && f.Modalidad.errors }" />

          <div *ngIf="submitted && f.Modalidad.errors" class="invalid-feedback">
            <div *ngIf="f.Modalidad.errors.required">Nombre de la Modalidad es requerido</div>
            <div *ngIf="f.Modalidad.errors.pattern"> Nombre de la Modalidad solo puede contener letras minusculas o
              mayúsculas, parentesis</div>
          </div>
        </div>

        <div class="form-group">
          <label>Código servicio y modalidad</label>
          <input type="text" placeholder="Código servicio y modalidad" formControlName="Servicio" class="form-control" [(ngModel)]="x.Servicio"
            [ngClass]="{ 'is-invalid': submitted && f.Servicio.errors }" />

          <div *ngIf="submitted && f.Servicio.errors" class="invalid-feedback">
            <div *ngIf="f.Servicio.errors.required">Nombre de la Modalidad es requerido</div>
            <div *ngIf="f.Servicio.errors.pattern"> Código servicio y modalidad solo puede contener numeros</div>
          </div>
        </div>

        
        
        <br/>

        <div class="text-center">
          <button type="submit" class="btn btn-success btn-block">Guardar</button>
        </div>

      </form>
    </div>
  </div>
</div>