<nav class="navbar navbar-success bg-success">
        <button class="btn btn-dark" routerLink="/serviciosymodalidadesv">Volver</button>
      </nav>
      
      <div class="col-md-4 offset-md-4" style="padding-top: 50px;" padding>
        <div class="card" padding>
          <div class="card-body" padding>
            <form class="form-signin was-validated" style="justify-content: center; margin-bottom: 70px;" novalidate>
                    <h1>Servicio y modalidades</h1>
              <div class="form-group">
                    <span  >Estado del dato maestro</span>
                    <h2></h2>
                    
                    <select name="EstadoDatoMaestro" id="EstadoDatoMaestro" [(ngModel)]="x.EstadoDatoMaestro" style="width: 100%;" class="form-control" minlength="0" required="">
                              <option value="0">Inhabilitar</option>
                              <option value="1">Habilitar</option>
                            </select>
                  
                    <h2></h2>
                  
                    <span >Código servicio y modalidad</span>
                    <h2></h2>
                    <input type="text" class="form-control" [(ngModel)]="x.Servicio " name="codigo"
                          placeholder="Código servicio y modalidad" class="form-control" minlength="0" required="">
                    <h2></h2>
                    <span>Modalidad</span>
                    <h2></h2>
                    <input type="text" class="form-control" [(ngModel)]="x.Modalidad" name="modalidad"
                          placeholder="Modalidad" class="form-control" minlength="0" required="">
                    <h2></h2>
                    <button (click)="onClickMe()" class="btn btn-success">Aceptar</button>
                   
                         <h2></h2>
                  

                </div>
			</form>
		</div>
	  </div>
	</div>