<nav class="navbar navbar-success bg-success">
        <button class="btn btn-dark" routerLink="/inhabilitarcentrod">Volver</button>
      </nav>
    
      <table class="table">
        <thead class="thead-green">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Número externo</th>
            <th scope="col">Nombre</th>
            <th scope="col">Responsable</th>
            <th scope="col">Dirección</th>
            <th scope="col">Barrio </th>
            <th scope="col">Teléfono</th>
            <th scope="col">Estado </th>
            <th scope="col">UDS </th>
           
          </tr>
        </thead>
        <tbody>
                <tr *ngFor="let cen of centrodt">
                        <th scope="row">{{cen.idCentroDistribucion}}</th>
                        <td>{{cen.NumeroExterno}}</td>
                        <td>{{cen.Nombre}}</td>
                        <td>{{cen.Responsable}}</td>
              <td>{{cen.Direccion}}</td>
              <td>{{cen.Barrio}}</td>
              <td>{{cen.Telefono}}</td>
              <td>
                
                  <div *ngIf="cen.Estado == 1">
                      Habilitado
                    </div>
                    <div *ngIf="cen.Estado == 0">
                      Deshabilitado
                    </div>
                
                </td>      
                <td>{{cen.NombreUDS}}</td>     
              <td>
                <button class="btn btn-primary" [routerLink]="['/inhabilitarui', cen.idCentroDistribucion]">inhabilitar</button>
              </td>
            </tr>
                        
                
          </tbody>
      
    </table>
    
    

