<nav class="navbar navbar-success bg-success">
  <button class="btn btn-dark" routerLink="/salidacentro">Volver</button>
</nav>

<div class="col-md-4 offset-md-4" style="padding-top: 50px;" padding>
  <div class="card" padding>
    <div class="card-body" padding>
      <form>
        <div class="form-group">


          <h1>Salida Centro de distribucion </h1>
          <h2></h2>

          <span>Referencia Bienestarina</span>
          <h2></h2>

          <select name="idreferencia" class="select-css" style="width: 100%;" [(ngModel)]="sal.idTipoBienesterina"
            options="options" placeholder="referencia">
            <option *ngFor="let ud of tip" [value]="ud.idTipoBienesterina ">{{ud.TipoBienesterina }} </option>
          </select>

          <h2></h2>

          <span>Centro de distribucion de origen</span>
          <h2></h2>

          <select name="idcentrodistribucion" class="select-css" style="width: 100%;"
            [(ngModel)]="sal.idCentroDistribucionOrigen" options="options" placeholder="almacen">
            <option *ngFor="let ud of cen" [value]="ud.idCentroDistribucion">{{ud.Nombre }} </option>
          </select>

          <h2></h2>

          <span>Almacen de origen</span>
          <h2></h2>

          <select name="idAlmacenes" class="select-css" style="width: 100%;" [(ngModel)]="sal.idAlmacen" options="options"
           placeholder="Almacen" (change)="onChange1($event)">
                <option *ngFor="let do of alm" [value]="do.idAlmacenes">{{do.Nombre  }} </option>
              </select>

        

          <h2></h2>

          <span> Inventario</span>
          <h2></h2>

          <select name="idinv" class="select-css" style="width: 100%;" (change)="onChange3($event)" [(ngModel)]="idinv"
            options="options" placeholder="inventario" (change)="onChange1($event)">
            <option *ngFor="let ud of inv" [value]="ud.idInventario">{{ud.Nombre }} </option>
          </select>

          <h2></h2>

          <span>lote</span>
          <h2></h2>
          <input type="text" class="form-control" [(ngModel)]="sal.lote" name="cane" placeholder="lote "
            class="form-control" id="inputen" required="">

          <h2></h2>


          <span>Fecha de vencimiento </span>
          <h2></h2>
          <input type="date" class="form-control" [(ngModel)]="sal.fechavencimiento" name="fechai" placeholder="Fecha"
            min="2018-01-01" max="2050-12-31" class="form-control" required="">

            <h2></h2>

            <span >unidad de medida</span>
            <h2></h2>

            <br>
            <select name="unidad" [(ngModel)]="sal.unidad" (change)="onChange3($event)" class="select-css">
             <option [value]="item" *ngFor="let item of unidadmedida">{{item}} </option>
           </select>
           <h2></h2>


          <span>Cantidad</span>
          <h2></h2>
          <input type="number" class="form-control" [(ngModel)]="sal.cantidad" name="cantidad"
            placeholder="Cantidad Entregada" class="form-control" id="inputen" required="" (keyup)="onKey($event)">

          <h2></h2>

          <div id="unidad" hidden [hidden]="habilitado">
            <h2></h2>
            <span>Capacidad liquida</span>
            <h2></h2>
            <input type="number" class="form-control" [(ngModel)]="sal.cantidad2" name="cantidad2" placeholder="Capacidad liquida" (keyup)="onKey2($event)"
              class="form-control" id="inputcap">
  
            <h2></h2>
          </div>

          <span>Centro de distribucion de destino</span>
          <h2></h2>

          <select name="idcentrodistribucion" class="select-css" style="width: 100%;"
            [(ngModel)]="sal.idCentroDistribucionDestino" options="options" placeholder="almacen">
            <option *ngFor="let ud of cen" [value]="ud.idCentroDistribucion">{{ud.Nombre }} </option>
          </select>

          <h2></h2>

          <span>Fecha de registro </span>
          <h2></h2>
          <input type="date" class="form-control" [(ngModel)]="sal.fecharegistro" name="fechai" placeholder="Fecha"
            min="2018-01-01" max="2050-12-31" class="form-control" required="">

          <h2></h2>

          <button (click)="onClickMe()" class="btn btn-success">Aceptar</button>

          <h2></h2>



        </div>

      </form>
    </div>
  </div>
</div>