<label>Primer Nombre<label>
    <input type="text">
    <label>Segundo Nombre</label>
    <input type="text">
    <label>Primer Apellido</label>
    <input type="text">
    <label>Segundo Apellido</label>
    <input type="text">
  
      <label>Genero</label>
      <select placeholder="Seleciona una">
        <option value="f">Femenino</option>
        <option value="m">Masculino</option>
      </select>
  

      <label>Tipo Documento</label>
      <select placeholder="Selececiona una">
        <option value="CC">Cedula de ciudadania</option>
        <option value="TI">Tarjeta de identidad</option>
        <option value="TP"> Tarjeta pasaporte</option>
        <option value="RC"> Registro civil</option>
        <option value="CE">Cédula de extranjería</option>
        <option value="DNI">Documento nacional de identidad </option>
      </select>
   

    <label>Numero de Documento</label>
    <input type="text">
    <label>Parentesco</label>
    <input type="text">
    <label>Estado</label>
    <input type="text">

    
      <label>Fecha de ingreso </label>
    <input type="datetime-local">

    
      <label>Fecha de Nacimiento</label>
     
      <input type="datetime-local">

    <label>Modalidad</label>
    <select placeholder="Selecciona una">
      <option value="MI">Modalidad Institucional</option>
      <option value="MF">Modalidad Familiar</option>
      <option value="MPEI">Modalidad Propia e Intercultural </option>
      <option value="MC">Modalidad Comunitaria</option>
    </select>

    <label>Correo</label>
    <input type="email">
    <label>Telefono</label>
    <input type="tel">
    <label>Telefono extra</label>
    <input type="tel">
    <button >Enviar</button>
