<nav class="navbar navbar-success bg-success">
    <button class="btn btn-dark" routerLink="/menu">Volver</button>
  </nav>
  

                
        


              
              <table class="table">
                  <thead class="thead-green">
                    <tr>
                      <th scope="col"># </th>
                      <th scope="col">Nombres</th>
                      <th scope="col">Apellidos </th>
                      <th scope="col">Número Documento</th>
                      <th scope="col">Parentesco </th>
                      <th scope="col">Fecha Nacimiento </th>
                      <th scope="col">Fecha Ingreso </th>


                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let ac of acu">
                      <th scope="row">{{ac.idAcudientes}}</th>
                      <td>{{ac.Nombres }}</td>
                      <td>{{ac.Apellidos }}</td>
                      <td>{{ac.NumeroDocumento }}</td>
                      <td>{{ac.Parentesco }}</td>
                      <td>{{ac.FechaNacimiento  }}</td>
                      <td>{{ac.FechaIngreso }}</td>

                          
                    </tr>
                  </tbody>
                </table>



