<nav class="navbar navbar-success bg-success">
    <button class="btn btn-dark" routerLink="/modificaralmacen">Volver</button>
    <div>
      <label>Inhabilitar centro zonal</label>
  
  {{fecha}}  
  </div>
  
  <div>
    
  </div>
  </nav>
  
  <table class="table">
      <thead class="thead-green">
        <tr>
        <th scope="col"># </th>
          <th scope="col">Número externo </th>
          <th scope="col">Nombre almacén </th>
          <th scope="col">Responsable </th>
          <th scope="col">Cantidad </th>
          <th scope="col">Estado </th>
          <th scope="col">Centro distribución</th>
          <th scope="col">Centro zonal</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let al of alm">
          <th scope="row">{{al.idAlmacenes}}</th>
          <td>{{al.NumeroExterno }}</td>
          <td>{{al.Nombre }}</td>
          <td>{{al.Responsable }}</td>
          <td>{{al.Capacidad }}</td>
          <td>
          
          <div *ngIf="al.Estado == 1">
            Habilitado
          </div>
          <div *ngIf="al.Estado == 0">
            Deshabilitado
          </div>
          
          </td>
          <td>{{al.Nombre }}</td>
          <td>{{al.NombreCentroZonal}}</td>
          <td>
            <button class="btn btn-dark" [routerLink]="['/modificaralmacenm', usu.idAlmacenes]">Modificar</button>
          </td>
        </tr>
      </tbody>
    </table>
