<nav class="navbar navbar-success bg-success">
  <button class="btn btn-dark" routerLink="/modificaralmaceni">Volver</button>
</nav>

<div class="col-md-4 offset-md-4" style="padding-top: 50px;" padding>
  <div class="card" padding>
    <div class="card-body" padding>
      <form>
        <div class="form-group">


          <input type="number" class="form-control" [(ngModel)]="almac.NumeroExterno" name="numeroext"
            placeholder="numero Externo" class="form-control" id="inputnext">

          <input type="text" class="form-control" [(ngModel)]="almac.Nombre" name="nombre" placeholder="Nombre "
            class="form-control" id="nom">

          <input type="text" class="form-control" [(ngModel)]="almac.Responsable" name="res" placeholder="Responsable"
            class="form-control" id="app">

          <input type="text" class="form-control" [(ngModel)]="almac.Capacidad " name="cap" placeholder="Capacidad"
            class="form-control" id="usu">

          <div id="unidad" hidden [hidden]="habilitado">
            <input type="number" class="form-control" [(ngModel)]="almac.Capacidad2" name="Capacidad2"
              placeholder="Capacidad 2" class="form-control" id="inputcap">
          </div>

          <input type="text" class="form-control" (change)="onChange($event)" [(ngModel)]="almac.UnidadMedida"
            name="UnidadMedida" placeholder="Unidad de medida">

          <!-- name= "al campo de la tabla" [(ngModel)]="regionales.(Nombre de la columna)"-->
          <select name="Estado" [(ngModel)]="almac.Estado" style="width: 100%;" class="form-control">
            <option [value]="1">Habilitado</option>
            <Option [value]="0">Inhabilitado</Option>
          </select>

          <input type="text" class="form-control" [(ngModel)]="almac.idCentroDistribucion " name="cend"
            placeholder="centro de Distribucion" class="form-control" id="usu">

          <!-- Validacion para usar el mismo form  (click)="modificar ? updateDatos() : insertDatos()"-->
          <button class="btn btn-success btn-block" type="submit" (click)="updateDatos()"
            routerLink="/modifcaralmaceni">
            Guardar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>