<nav class="navbar navbar-success bg-success">
    <button class="btn btn-dark" routerLink="/menu">Volver</button>
  </nav>
  
  <table class="table" id="contentToConvert" >
    <thead class="thead-green">
      <footer id="sticky-footer" class="text-white-50" style="margin-bottom: 0px; bottom: 0px;">
        <div class="container text-center" style="justify-content: center;  bottom: 0px; margin-left: auto; margin-right: auto; margin-bottom: 0px;">
 
         <img src="../../assets/icbf-logo.png" style="width: 65px; height: 65px; margin-left: 10px; margin-top: 10px; margin-bottom: 0px;" class="rounded float-left">
        </div>
      </footer>
        {{Nombrereporte}}       {{fecha}}
      <tr>
        <th scope="col">#</th>
        <th scope="col">Código interno </th>
        <th scope="col">Estado</th>
        <th scope="col">Descripción del registro</th>
        <th scope="col">Valor</th>
        <th scope="col">Unidad de medida</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dat of datosv">
        <th scope="row">{{dat.idDatosVarios}}</th>
        <td>{{dat.CodigoInterno}}</td>
        <td>{{dat.EstadoDatoMaestro}}</td>
        <td>{{dat.DescripcionDelRegistro}}</td>
        <td>{{dat.Valor}}</td>
        <td>{{dat.UnidadDeMedida}}</td>
       
      </tr>
    </tbody>
  </table>
  <div class="trans">
  <button class="btn btn-dark" (click)="Generareporte()">Generar Reporte</button>
</div>
