<nav class="navbar navbar-success bg-success">
    <button class="btn btn-dark" routerLink="/niveldatosnutricionalesi">Volver</button>
    <div>
      <label>Deshabilitar datos nutricionales centro zonal</label>
  
  {{fecha}}  
  </div>
  
  <div>
    
  </div>
  </nav>
  
  <table class="table">
      <thead class="thead-green">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Código interno </th>
          <th scope="col">Estado </th>
          <th scope="col">Descripcion del registro</th>
          <th scope="col">Valor</th>
          <th scope="col">Unidad de medida</th>
          <th scope="col">Centro zonal</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cen of dvarios">
          <th scope="row">{{cen.idDatosVarios}}</th>
          <td>{{cen.CodigoInterno}}</td>
          <td>
            
            <div *ngIf="cen.EstadoDatoMaestro == 1">
              Habilitado
            </div>
            <div *ngIf="cen.EstadoDatoMaestro== 0">
              Deshabilitado
            </div>
            
          </td>
          <td>{{cen.DescripcionDelRegistro}}</td>
          <td>{{cen.Valor}}</td>
          <td>{{cen.UnidadDeMedida}}</td>
          <td>{{cen.NombreCentroZonal}}</td>
          <td>  
            <button class="btn btn-dark" [routerLink]="['/inhabilitardatosnutricionalesi', cen.idDatosVarios]">Deshabilitar</button>
          </td>
        </tr>
      </tbody>
    </table>


