<nav class="navbar navbar-success bg-success">
  <button class="btn btn-dark" routerLink="/centrozonal">Volver</button>
</nav>

<div class="col-md-4 offset-md-4" style="padding-top: 50px;" padding>
  <div class="card" padding>
    <div class="card-body" padding>
      <form class="form-signin was-validated" style="justify-content: center; margin-bottom: 70px;" novalidate>
        <div class="form-group">

          <!-- name= "al campo de la tabla" [(ngModel)]="regionales.(Nombre de la columna)"-->
          <label>Estado</label>
          <select name="Estado" id="Estado" [(ngModel)]="centros.Estado" style="width: 100%;" class="form-control">
            <option value="1"> Habilitar</option>
            <Option value="0">Inhabilitar</Option>
          </select>
          <br>
          <label>Nombre centro zonal</label>
          <input type="text" class="form-control" [(ngModel)]="centros.NombreCentroZonal" name="NombreCentroZonal"
            placeholder="Nombre centro zonal" class="form-control" minlength="1" required="">
          <br>
          <label>Regional</label>
          <!--select2 regional-->
          <select name="idRegional" class="Select2" style="width: 100%;" [(ngModel)]="centros.idRegional"
            options="options" placeholder="Regional" class="form-control">
            <option *ngFor="let reg of regional" [value]="reg.idRegional">{{reg.Regional}} | {{reg.codigo}}</option>
          </select>
          <br>
          <label>Municipio</label>
          <!--select 2 Municipio-->
          <select name="idMunicipios" class="Select2" style="width: 100%;" [(ngModel)]="centros.idMunicipios"
            options="options" class="form-control">
            <option *ngFor="let muni of municipios" [value]="muni.idMunicipios"> {{muni.Municipio}} | {{muni.codigo}} |
              {{muni.codigoR}}</option>
          </select>
          <br>
          <label>Comuna</label>
          <input type="text" class="form-control" name="Comuna" [(ngModel)]="centros.Comuna" placeholder="Comuna"
            minlength="1" required="">
          <br>

          <label>Código externo JCZ</label>
          <input type="text" class="form-control" name="CodigoExternoJcz" [(ngModel)]="centros.CodigoExternoJcz"
            placeholder="Codigo externo JCZ" minlength="1" required="">
          <br>
          <label>código externo ICBF centro zonal</label>
          <input type="number" class="form-control" name="CodigoExternoCZ" [(ngModel)]="centros.CodigoExternoCZ"
            placeholder="código externo ICBF centro zonal" minlength="1" required="">


        </div>
        <!-- Validacion para usar el mismo form  (click)="modificar ? updateDatos() : insertDatos()"-->
        <button class="btn btn-success btn-block" type="submit" (click)="updateDatos()" routerLink="/centrozonal">
          Guardar
        </button>
      </form>
    </div>
  </div>
</div>