<nav class="navbar navbar-success bg-success">
    <button class="btn btn-dark" routerLink="/menu">Volver</button>
    <button class="btn btn-dark" routerLink="/salidabeneficiarioc"> Crear </button>
  </nav>

  <table class="table">
    <thead class="thead-green">
      <tr>
        <th scope="col">#</th>
        <th scope="col">lote </th>
        <th scope="col">fechavencimiento</th>
        <th scope="col">cantidad</th>
        <th scope="col">unidad</th>
        <th scope="col"># Acudientes</th>
        <th scope="col"># Beneficiarios </th>
        <th scope="col"># CentroDistribucion</th>
        <th scope="col"># Almacenes</th>
        <th scope="col"># TipoBienesterina</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sal of centroB">
        <th scope="row">{{sal.idEntregaBeneficiario}}</th>
        <td>{{sal.lote}}</td>
        <td>{{sal.fechavencimiento}}</td>
        <td>{{sal.cantidad}}</td>
        <td>{{sal.unidad}}</td>
        <td>{{sal.idAcudientes}}</td>
        <td>{{sal.idBeneficiarios}}</td>
        <td>{{sal.idCentroDistribucion}}</td>
        <td>{{sal.idAlmacenes  }}</td>
        <td>{{sal.idTipoBienesterina}}</td>

      </tr>
    </tbody>
  </table>
