<nav class="navbar navbar-success bg-success">
        <div>
            <button class="btn btn-dark" routerLink="/menu"> Volver </button>
        </div>
          </nav>
          
          <table class="table" id="contentToConvert">
              <thead class="thead-green">
                  {{Nombrereporte}}       {{fecha}}
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Transacción</th>
                  <th scope="col">Objetivo rango numero</th>
                  <th scope="col"> 	Desde </th> 
                  <th scope="col">Hasta </th>
               
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let uni of unidadt">
                  <td>{{uni.idConsecutivosMaestro}}</td>
                  <td>{{uni.Transaccion }}</td>
                  <td>{{uni.ObejetivoRangoNumero}}</td>
                  <td>{{uni.Desde}}</td>
                  <td>{{uni.Hasta}}</td>
                  
            
                </tr>
              </tbody>
            </table>
            <div class="trans">
                    <button class="btn btn-dark" (click)="Generareporte()">Generar Reporte</button>
                  </div>
                  
