<nav class="navbar navbar-success bg-success">
  <button class="btn btn-dark" routerLink="/salidaconsumo">Volver</button>
</nav>

<div class="col-md-4 offset-md-4" style="padding-top: 50px;" padding>
  <div class="card" padding>
    <div class="card-body" padding>
      <form [formGroup]="czForm" (ngSubmit)="onSubmit()">
        <h1>Salida consumo interno </h1>
        <h2></h2>

        <div class="form-group">

          <span>Tipo bienestarina</span>
          <h2></h2>

          <select formControlName="idTipoBienesterina" [(ngModel)]="sal.idTipoBienesterina"
            (ngModelChange)="Referencia($event)" placeholder="referencia" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.idTipoBienesterina.errors }">
            <option *ngFor="let ud of tip" [value]="ud.idTipoBienesterina ">{{ud.TipoBienesterina }} </option>
          </select>

          <div *ngIf="submitted && f.idTipoBienesterina.errors" class="invalid-feedback">
            <div *ngIf="f.idTipoBienesterina.errors.required">Tipo de bienestarina es requerido</div>
          </div>
          <h2></h2>
        </div>

        <div class="form-group">
          <label>Referencia bienestarina</label>
          <select formControlName="Referencia" class="form-control" [(ngModel)]="refe.referencia"
            [ngClass]="{ 'is-invalid': submitted && f.Referencia.errors }">
            <option *ngFor="let t of Referencias" [value]="t">{{t}}</option>
          </select>
          <div *ngIf="submitted && f.Referencia.errors" class="invalid-feedback">
            <div *ngIf="f.Referencia.errors.required">Referencia es requerida</div>
          </div>
        </div>

        <div class="form-group">

          <span>Presentación</span>
          <h2></h2>
          <select [(ngModel)]="sal.unidad" (change)="onChange3($event)" class="form-control" formControlName="unidad"
            [ngClass]="{ 'is-invalid': submitted && f.unidad.errors }">
            <option [value]="item" *ngFor="let item of unidadmedida">{{item}} </option>
          </select>

          <div *ngIf="submitted && f.unidad.errors" class="invalid-feedback">
            <div *ngIf="f.unidad.errors.required">Presentación es requerido</div>
          </div>
          <h2></h2>
        </div>

        <div class="form-group">
          <span>Almacén </span>
          <h2></h2>
          <select formControlName="idAlmacenes" [(ngModel)]="sal.idAlmacenes" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.idAlmacenes.errors }" (ngModelChange)="traerAlmacen($event)">
            <option *ngFor="let ud of alm" [value]="ud.idAlmacenes">{{ud.Nombre }} </option>
          </select>
          <div *ngIf="submitted && f.idAlmacenes.errors" class="invalid-feedback">
            <div *ngIf="f.idAlmacenes.errors.required">Almacén es requerido</div>
          </div>
          <h2></h2>
        </div>

        <div class="form-group">

          <span>Centro de distribución </span>
          <h2></h2>

          <select formControlName="idCentroDistribucion" [(ngModel)]="sal.idCentroDistribucion" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.idCentroDistribucion.errors }">
            <option *ngFor="let ud of cen" [value]="ud.idCentroDistribucion">{{ud.Nombre }} </option>
          </select>

          <div *ngIf="submitted && f.idCentroDistribucion.errors" class="invalid-feedback">
            <div *ngIf="f.idCentroDistribucion.errors.required">Centro de distribución es requerido</div>
          </div>

          <h2></h2>

        </div>

        <div class="form-group">

          <span>Lote</span>
          <h2></h2>
          <select formControlName="lote" class="form-control" [(ngModel)]="sal.lote" placeholder="Lote" [ngClass]="{ 'is-invalid': submitted && f.lote.errors }">
            <option *ngFor="let lo of lotes" [value]="lo.lote">{{lo.lote }} </option>
          </select>

          <div *ngIf="submitted && f.lote.errors" class="invalid-feedback">
            <div *ngIf="f.lote.errors.required">Lote es requerido</div>
          </div>

          <h2></h2>

        </div>

        <div class="form-group">

          <span>Fecha de vencimiento </span>
          <h2></h2>
          <input type="date" [(ngModel)]="sal.fechavencimiento" placeholder="Fecha de vencimiento" min="1940-01-01"
            max="2050-12-31" class="form-control" formControlName="fechavencimiento"
            [ngClass]="{ 'is-invalid': submitted && f.fechavencimiento.errors }">

          <div *ngIf="submitted && f.fechavencimiento.errors" class="invalid-feedback">
            <div *ngIf="f.fechavencimiento.errors.required">Fecha vencimiento es requerido</div>
          </div>

          <h2></h2>

        </div>



        <div class="form-group">

          <span>Cantidad</span>
          <h2></h2>
          <input type="number" class="form-control" [(ngModel)]="sal.cantidad"
            [ngClass]="{ 'is-invalid': submitted && f.cantidad.errors }" placeholder="Cantidad" (keyup)="onKey($event)"
            formControlName="cantidad">

          <div *ngIf="submitted && f.cantidad.errors" class="invalid-feedback">
            <div *ngIf="f.cantidad.errors.required">Cantidad es requerido</div>
            <div *ngIf="f.cantidad.errors.pattern">Cantidad solo puede contener numeros</div>
          </div>

          <h2></h2>

        </div>

        <div class="form-group">

          <span>Fecha de registro </span>
          <h2></h2>
          <input type="date" class="form-control" formControlName="fecharegistro" [(ngModel)]="sal.fecharegistro"
            placeholder="Fecha de registro" min="1930-01-01" max="2050-12-31"
            [ngClass]="{ 'is-invalid': submitted && f.fecharegistro.errors }">

          <div *ngIf="submitted && f.fecharegistro.errors" class="invalid-feedback">
            <div *ngIf="f.fecharegistro.errors.required">Fecha de registro es requerido</div>
          </div>

          <h2></h2>

        </div>

        <div class="form-group">

          <button class="btn btn-success btn-block">Aceptar</button>

          <h2></h2>

        </div>


      </form>
    </div>
  </div>
</div>