<nav class="navbar navbar-success bg-success">
        <button class="btn btn-dark" routerLink="/listamaestrosinhabilitar">Volver</button>
        <div>
          <label>Inhabilitar servicios y modalidades</label>
      
      {{fecha}}  
      </div>
      
      <div>
        
      </div>
      </nav>
      
      <table class="table">
          <thead class="thead-green">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Estado </th>
              <th scope="col">Modalidad</th>
              <th scope="col">Servicio</th>
              
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cen of serviciom">
              <th scope="row">{{cen.idListasMaestro}}</th>
              <td>
                  <div *ngIf="cen.EstadoDatoMaestro == 1">
                      Habilitado
                    </div>
                    <div *ngIf="cen.EstadoDatoMaestro == 0">
                      Deshabilitado
                    </div>
                
                
               </td>
              <td>{{cen.Modalidad}}</td>
              <td>{{cen.Servicio}}</td>
              <td>
                <button class="btn btn-primary" [routerLink]="['/inhabilitarserviciomi', cen.idListasMaestro]">Inhabilitar</button>
              </td>
            </tr>
          </tbody>
        </table>
    
