<nav class="navbar navbar-success bg-success">
        <button class="btn btn-dark" routerLink="/listadocursosv">Volver</button>
      </nav>
      
      <div class="col-md-4 offset-md-4" style="padding-top: 50px;" padding>
        <div class="card" padding>
          <div class="card-body" padding>
            <form>
                    <h1>Crear Datos Maestros</h1>
              <div class="form-group">
                
                    <span >Nombre Agente Educativo</span>
                    <h2></h2>
                    <input type="text" class="form-control" [(ngModel)]="x.NombreAgenteE" name="nombreagente"
                    placeholder="Nombre Agente Educativo" class="form-control" id="agentee">
            
            
                    <h2></h2>
                    <h2></h2>
                    <span c>Tipo Documento</span>
                    <h2></h2>
                    
                    <select name="idRegional" class="select-css" style="width: 100%;" [(ngModel)]="x.idTipoDocumento"
                    options="options" placeholder="tipo documento">
                    <option *ngFor="let do of tip" [value]="do.idTipoDocumento">{{do.NombreTipo }} </option>
                  </select>
                    
                    <h2></h2>
                <span >Numero de Documento</span>
                    <h2></h2>
                    <input type="number" class="form-control" [(ngModel)]="x.NumeroDocumento" name="numerodoc"
                    placeholder="numero Documento" class="form-control" id="inputdoc">
                <h2></h2>
                <h1>Beneficiario</h1>
                <h2></h2>
                    <span >Numero de documento de identidad</span>
                    <h2></h2>

                    <select name="idRegional" class="select-css" style="width: 100%;" [(ngModel)]="x.idBenefiarios "
                    options="options" placeholder="tipo documento">
                    <option *ngFor="let do of ben" [value]="do.idBeneficiarios">{{do.NumeroDocumento }} </option>
                  </select>

              
                    <h2></h2>
                    <span >  Primer nombre beneficiario ICBF</span>
                    <h2></h2>

                    <select name="idRegional" class="select-css" style="width: 100%;" [(ngModel)]="y.PrimerNombre"
                    options="options" placeholder="tipo documento">
                    <option *ngFor="let do of ben" [value]="do.idBeneficiarios">{{do.PrimerNombre }} </option>
                  </select>

                <h2></h2>
              
                <span >  Segundo nombre beneficiario ICBF</span>
                    <h2></h2>
                    <select name="idRegional" class="select-css" style="width: 100%;" [(ngModel)]="y.SegundoNombre"
                    options="options" placeholder="tipo documento">
                    <option *ngFor="let do of ben" [value]="do.idBeneficiarios">{{do.SegundoNombre }} </option>
                  </select>

                <h2></h2>
            
                <span >Primer Apellido beneficiario ICBF</span>
                    <h2></h2>
                    <select name="idRegional" class="select-css" style="width: 100%;" [(ngModel)]="y.PrimerApellido"
                    options="options" placeholder="tipo documento">
                    <option *ngFor="let do of ben" [value]="do.idBeneficiarios">{{do.PrimerApellido  }} </option>
                  </select>
                <h2></h2>
            
              
                <span >Segundo Apellido beneficiario ICBF</span>
                    <h2></h2>
                    <select name="idRegional" class="select-css" style="width: 100%;" [(ngModel)]="y.SegundoApellido"
                    options="options" placeholder="tipo documento">
                    <option *ngFor="let do of ben" [value]="do.idBeneficiarios">{{do.SegundoApellido  }} </option>
                  </select>

                <h2></h2>
            
                    <span >Fecha</span>
                    <h2></h2>
                    <input type="date" class="form-control" [(ngModel)]="y.FechaNacimiento" name="fechai" placeholder="Fecha" min="1900-01-01" max="2050-12-31" class="form-control">
                
            <h2></h2>
                     {{today}}
                 <h2></h2>
                 <span >Estado del dato Maestro</span>
                    <h2></h2>
                    
                 <select name="estadomaestro" [(ngModel)]="x.Estado" class="select-css">
              <option [value]="item" *ngFor="let item of listamaestro">{{item}} </option>
              </select>
                 
                           <h2></h2>
                           
                              
                           <button (click)="onClickMe()" class="btn btn-success">Aceptar</button>
                               
                           <h2></h2>
                    
    
                </div>
                </form>
            </div>
          </div>
        </div>
    
    