<nav class="navbar navbar-success bg-success">
    <button class="btn btn-dark" routerLink="/listadocursosv">Volver</button>
  </nav>
  
  <div class="col-md-4 offset-md-4" style="padding-top: 50px;" padding>
    <div class="card" padding>
      <div class="card-body" padding>
        <form class="form-signin was-validated" style="justify-content: center; margin-bottom: 70px;" novalidate>
                <h1>Listado de cursos</h1>
          <div class="form-group">
            
              <span >Seleccione centro zonal</span>
              <h2></h2>
              
              
           <select name="idnivel1" class="form-control" style="width: 100%;" [(ngModel)]="x.idCentrosZonales"
           options="options" placeholder="nivel" 
           minlength="0" required="">
           <option *ngFor="let do of cen1 " [value]="do.idCentrosZonales">{{do.NombreCentroZonal }} </option>
       
           </select>

            
                <span >Nombre agente educativo</span>
                <h2></h2>
                <input type="text" class="form-control" [(ngModel)]="x.NombreAgenteE" name="nombreagente"
                placeholder="Nombre Agente Educativo" class="form-control" id="agentee" minlength="0" required="">
        
        
                <h2></h2>
                <h2></h2>
                <span c>Tipo documento</span>
                <h2></h2>
                
                <select name="idRegional" class="select-css" style="width: 100%;" [(ngModel)]="x.idTipoDocumento"
                options="options" placeholder="tipo documento" class="form-control" minlength="0" required="">
                <option *ngFor="let do of tip" [value]="do.idTipoDocumento">{{do.NombreTipo }} </option>
              </select>
                
                <h2></h2>
            <span >Número de documento</span>
                <h2></h2>
                <input type="number" class="form-control" [(ngModel)]="x.NumeroDocumento" name="numerodoc"
                placeholder="Número De Documento" class="form-control" id="inputdoc" minlength="0" required="" minlength="0" required="">
            <h2></h2>
            <h1>Beneficiario</h1>
            <h2></h2>
                <span >Número de documento de identidad</span>
                <h2></h2>

                <select name="idRegional" class="select-css" style="width: 100%;" [(ngModel)]="x.idBenefiarios "
                options="options" placeholder="tipo documento" class="form-control" minlength="0" required="">
                <option *ngFor="let do of ben" [value]="do.idBeneficiarios">{{do.NumeroDocumento }} </option>
              </select>

          
                <h2></h2>
                <span > Primer nombre beneficiario </span>
                <h2></h2>

                <select name="idRegional" class="select-css" style="width: 100%;" [(ngModel)]="y.PrimerNombre"
                options="options" placeholder="tipo documento " class="form-control" minlength="0" required="">
                <option *ngFor="let do of ben" [value]="do.idBeneficiarios">{{do.PrimerNombre }} </option>
              </select>

            <h2></h2>
          
            <span >  Segundo nombre beneficiario </span>
                <h2></h2>
                <select name="idRegional" class="select-css" style="width: 100%;" [(ngModel)]="y.SegundoNombre"
                options="options" placeholder="tipo documento" class="form-control" minlength="0" required="">
                <option *ngFor="let do of ben" [value]="do.idBeneficiarios">{{do.SegundoNombre }} </option>
              </select>

            <h2></h2>
        
            <span >Primer apellido beneficiario </span>
                <h2></h2>
                <select name="idRegional" class="select-css" style="width: 100%;" [(ngModel)]="y.PrimerApellido"
                options="options" placeholder="tipo documento" class="form-control" minlength="0" required="">
                <option *ngFor="let do of ben" [value]="do.idBeneficiarios">{{do.PrimerApellido  }} </option>
              </select>
            <h2></h2>
        
          
            <span >Segundo apellido beneficiario </span>
                <h2></h2>
                <select name="idRegional" class="select-css" style="width: 100%;" [(ngModel)]="y.SegundoApellido"
                options="options" placeholder="tipo documento" class="form-control" >
                <option *ngFor="let do of ben" [value]="do.idBeneficiarios">{{do.SegundoApellido  }} </option>
              </select>

            <h2></h2>
        
                <span >Fecha</span>
                <h2></h2>
                <input type="date" class="form-control" [(ngModel)]="x.Fecha" name="fechai" placeholder="Fecha" min="1900-01-01" max="2050-12-31" class="form-control" minlength="0" required="">
            
        <h2></h2>
                 {{today}}
             <h2></h2>
             <span >Estado del dato maestro</span>
                <h2></h2>
                
                <select name="EstadoDatoMaestro" id="EstadoDatoMaestro" [(ngModel)]="x.Estado" style="width: 100%;" class="form-control" minlength="0" required="">
                  <option value="0">Deshabilitado</option>
                  <option value="1">Habilitado</option>
                </select>
             
                       <h2></h2>
                       
                          
                       <button (click)="onClickMe()" class="btn btn-success">Aceptar</button>
                           
                       <h2></h2>
                

            </div>
            </form>
        </div>
      </div>
    </div>


    
    