
<html>
		<title>Menu Desplegable</title>
		<head>

			

		</head>
		<body>
                

		<h1>Crear Listas De Datos Maestros</h1>
		<div class="container"  class="padre">
		 <div class="card card-container" >
		
		<form class="form-signin padding" >
		<h2></h2>
		<span class="btn btn-success" >Estado del dato Maestro</span>
		<h2></h2>
		
		<select class="select-css">
				<option value="0">1</option>
				<option value="1">2</option>
		</select>
		<h2></h2>

		<span class="btn btn-success">Codigo Servicio y madalidad</span>
		<h2></h2>
		<input type="text" id="inputservicio" placeholder="Codigo Servicio y modalidad" required autofocus>
		<h2></h2>
		<span class="btn btn-success">Modalidad</span>
		<h2></h2>
		<input type="text" id="inputmodalidad"  placeholder="Modalidad" required autofocus>
		<h2></h2>
			   <button type="button" class="btn btn-success">Aceptar</button>
			   <h2></h2>

			   

		</form><!-- /form -->
		</div><!-- /card-container -->
		</div><!-- /card-container -->






	</body>
</html>
