<nav class="navbar navbar-success bg-success">
    <button class="btn btn-dark" routerLink="/modificarlistamaestro">Volver</button>

  </nav>
  
  <table class="table">
      <thead class="thead-green">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Estado Dato Maestro</th>
          <th scope="col">Modalidad</th>
          <th scope="col">Servicio</th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cen of serviciom">
          <th scope="row">{{cen.idListasMaestro}}</th>
          <td>{{cen.EstadoDatoMaestro}}</td>
          <td>{{cen.Modalidad}}</td>
          <td>{{cen.Servicio}}</td>
          <td>
            <button class="btn btn-primary" [routerLink]="['/modificarserviciomm', cen.idListasMaestro]">Modificar</button>
          </td>
        </tr>
      </tbody>
    </table>
