<nav class="navbar navbar-success bg-success">
  <button class="btn btn-dark" routerLink="/udsv"> Volver </button>
</nav>

<div class="col-md-4 offset-md-4" style="padding-top: 50px;" padding>
  <div class="card" padding>
    <div class="card-body" padding>


      <form [formGroup]="udForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
          <label>Centro zonal</label>
          <select formControlName="idCentrosZonales" class="form-control" [(ngModel)]="unidad.idCentrosZonales"
            [ngClass]="{ 'is-invalid': submitted && f.idCentrosZonales.errors }">
            <option *ngFor="let cen of cz" [value]="cen.idCentrosZonales">{{cen.NombreCentroZonal}}</option>
          </select>
          <div *ngIf="submitted && f.idCentrosZonales.errors" class="invalid-feedback">
            <div *ngIf="f.idCentrosZonales.errors.required">Centro zonal es requerido</div>
          </div>
        </div>

        <div class="form-group">
          <label>Punto de entrega</label>
          <select formControlName="idPuntoEntrega" class="form-control" [(ngModel)]="unidad.idPuntoEntrega"
            [ngClass]="{ 'is-invalid': submitted && f.idPuntoEntrega.errors }">
            <option *ngFor="let pun of pe" [value]="pun.idPuntoEntrega">{{pun.NombrePE}}</option>
          </select>
          <div *ngIf="submitted && f.idPuntoEntrega.errors" class="invalid-feedback">
            <div *ngIf="f.idPuntoEntrega.errors.required">Punto de entrega es requerido</div>
          </div>
        </div>

        <div class="form-group">
          <label>Estado</label>
          <select formControlName="Estado" class="form-control" [(ngModel)]="unidad.Estado"
            [ngClass]="{ 'is-invalid': submitted && f.Estado.errors }">
            <option value="1">Habilitado</option>
            <option value="0">Inhabilitado</option>

          </select>
          <div *ngIf="submitted && f.Estado.errors" class="invalid-feedback">
            <div *ngIf="f.Estado.errors.required">Estado es requerido</div>
          </div>
        </div>

        <div class="form-group">
          <label>Nombre unidad de servicio</label>
          <input type="text" placeholder="Nombre unidad de servicio" formControlName="NombreUDS" class="form-control"
            [(ngModel)]="unidad.NombreUDS" [ngClass]="{ 'is-invalid': submitted && f.NombreUDS.errors }" />

          <div *ngIf="submitted && f.NombreUDS.errors" class="invalid-feedback">
            <div *ngIf="f.NombreUDS.errors.required"> Nombre unidad de servicio es requerido</div>
            <div *ngIf="f.NombreUDS.errors.pattern"> Nombre unidad de servicio solo puede contener letras minusculas o
              mayúsculas</div>
          </div>
        </div>

        <div class="form-group">
          <label>Código externo unidad de servicio</label>

          <input type="text" placeholder="Código externo unidad de servicio" formControlName="CodigoExternoUDS"
            class="form-control" [(ngModel)]="unidad.CodigoExternoUDS"
            [ngClass]="{ 'is-invalid': submitted && f.CodigoExternoUDS.errors }" />

          <div *ngIf="submitted && f.CodigoExternoUDS.errors" class="invalid-feedback">
            <div *ngIf="f.CodigoExternoUDS.errors.required">Código externo unidad de servicio es requiredo</div>
            <div *ngIf="f.CodigoExternoUDS.errors.minlength"> Código externo unidad de servicio debe contener minimo 13
              caracteres</div>
            <div *ngIf="f.CodigoExternoUDS.errors.pattern"> Código externo unidad de servicio solo puede conterner
              numeros
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>Código interno unidad de servicio</label>

          <input type="text" placeholder="Código interno unidad de servicio" formControlName="CodigoInternoUDS"
            class="form-control" [(ngModel)]="unidad.CodigoInternoUDS"
            [ngClass]="{ 'is-invalid': submitted && f.CodigoInternoUDS.errors }" />

          <div *ngIf="submitted && f.CodigoInternoUDS.errors" class="invalid-feedback">
            <div *ngIf="f.CodigoInternoUDS.errors.required">Código interno unidad de servicio es requiredo</div>
            <div *ngIf="f.CodigoInternoUDS.errors.pattern"> Código interno unidad de serviciosolo puede contener numeros
              y
              letras minusculas o
              mayusculas</div>
          </div>
        </div>

        <div class="form-group">
          <label>Responsable unidad de servicio</label>

          <input type="text" placeholder="Responsable unidad de servicio" formControlName="ReponsableUDS"
            class="form-control" [(ngModel)]="unidad.ReponsableUDS"
            [ngClass]="{ 'is-invalid': submitted && f.ReponsableUDS.errors }" />

          <div *ngIf="submitted && f.ReponsableUDS.errors" class="invalid-feedback">
            <div *ngIf="f.ReponsableUDS.errors.required">Responsable unidad de servicio es requiredo</div>
            <div *ngIf="f.ReponsableUDS.errors.pattern">Responsable unidad de servicio solo puede conterner letras
              minusculas o
              mayusculas</div>
          </div>
        </div>

        <div class="form-group">
          <label>Localidad, comuna o vereda</label>

          <input type="text" placeholder="Localidad, comuna o vereda" formControlName="Comuna" class="form-control"
            [(ngModel)]="unidad.Comuna" [ngClass]="{ 'is-invalid': submitted && f.Comuna.errors }" />

          <div *ngIf="submitted && f.Comuna.errors" class="invalid-feedback">
            <div *ngIf="f.Comuna.errors.required">Localidad, comuna o vereda es requiredo</div>
            <div *ngIf="f.Comuna.errors.pattern">Localidad, comuna o vereda solo puede conterner letras minusculas o
              mayusculas</div>
          </div>
        </div>

        <div class="form-group">
          <label>Dirección unidad de servicio</label>

          <input type="text" placeholder="Dirección unidad de servicio " formControlName="Direccion"
            class="form-control" [(ngModel)]="unidad.Direccion"
            [ngClass]="{ 'is-invalid': submitted && f.Direccion.errors }" />

          <div *ngIf="submitted && f.Direccion.errors" class="invalid-feedback">
            <div *ngIf="f.Direccion.errors.required">Dirección unidad de servicio es requiredo</div>
            <div *ngIf="f.Direccion.errors.pattern">Dirección unidad de servicio solo puede conterner - # numeros y
              letras
              minusculas o
              mayusculasletras minusculas o
              mayúsculas </div>
          </div>
        </div>

        <div class="form-group">
          <label>Barrio unidad de servicio</label>

          <input type="text" placeholder="Barrio unidad de servicio" formControlName="Barrio" class="form-control"
            [(ngModel)]="unidad.Barrio" [ngClass]="{ 'is-invalid': submitted && f.Barrio.errors }" />

          <div *ngIf="submitted && f.Barrio.errors" class="invalid-feedback">
            <div *ngIf="f.Barrio.errors.required">Barrio unidad de servicio es requiredo</div>
            <div *ngIf="f.Barrio.errors.pattern">Barrio unidad de servicio solo puede conterner numeros</div>
          </div>
        </div>

        <div class="form-group">
          <label>Teléfono unidad de servicio</label>

          <input type="text" placeholder="Teléfono unidad de servicio" formControlName="Telefono" class="form-control"
            [(ngModel)]="unidad.Telefono" [ngClass]="{ 'is-invalid': submitted && f.Telefono.errors }" />

          <div *ngIf="submitted && f.Telefono.errors" class="invalid-feedback">
            <div *ngIf="f.Telefono.errors.required">Teléfono unidad de servicio es requiredo</div>
            <div *ngIf="f.Telefono.errors.minlength"> Teléfono unidad de servicio debe contener minimo 10 caracteres
            </div>
            <div *ngIf="f.Telefono.errors.pattern">Teléfono unidad de servicio solo puede conterner numeros</div>
          </div>
        </div>

        <br />

        <div class="text-center">
          <button type="submit" class="btn btn-success btn-block">Guardar</button>
        </div>

      </form>
    </div>
  </div>
</div>