<nav class="navbar navbar-success bg-success">
  <button class="btn btn-dark" routerLink="/uds"> Volver </button>
</nav>

<div class="col-md-4 offset-md-4" padding>
  <div class="card">
    <div class="card-body">
      <form>
        <div class="form-group padding">
         

          <select required name="Estado" [(ngModel)]="unidad.Estado" style="width: 100%;" class="form-control">
            <option value="1"> Habilitar</option>
            <Option value="0">Inhabilitar</Option>
          </select>
          <!-- name= "al campo de la tabla" [(ngModel)]="regionales.(Nombre de la columna)"-->
          <input type="text" class="form-control" name="UDS" placeholder="Nombre UDS" [(ngModel)]="unidad.NombreUDS"
            required>
          <input type="number" class="form-control" name="Codigo Externo UDS" placeholder="Codigo Externo UDS"
            [(ngModel)]="unidad.CodigoExternoUDS" required>
          <input type="text" class="form-control" name="Codigo Interno UDS" placeholder="Codigo Interno UDS"
            [(ngModel)]="unidad.CodigoInternoUDS" required>
          <input type="text" class="form-control" name="Responsable UDS" placeholder="Responsable UDS"
            [(ngModel)]="unidad.ReponsableUDS" required>
          <input type="text" class="form-control" name="Localidad, Comuna o Vereda"
            placeholder="Localidad, Vereda o Comuna" [(ngModel)]="unidad.Comuna" required>
          <input type="text" class="form-control" name="Direccion" placeholder="Direccion"
            [(ngModel)]="unidad.Direccion" required>

          <input type="text" class="form-control" name="Barrio" placeholder="Barrio" [(ngModel)]="unidad.Barrio"
            required>
          <input type="tel" class="form-control" name="Telefono" placeholder="Telefono" [(ngModel)]="unidad.Telefono"
            required>

            <select name="idpuntoentrega" class="select-css" style="width: 100%;" [(ngModel)]="unidad.idPuntoEntrega"
            options="options" placeholder="Punto entrega">
            <option *ngFor="let do of puntos" [value]="do.idPuntoEntrega">{{do.NombrePE  }} </option>
            </select>

            <select name="idcentrozonal" class="select-css" style="width: 100%;" [(ngModel)]="unidad.idCentrosZonales"
            options="options" placeholder="Punto entrega">
            <option *ngFor="let do of centros" [value]="do.idCentrosZonales">{{do.NombreCentroZonal  }} </option>
            </select>


        </div>
        <!-- Validacion para usar el mismo form  (click)="modificar ? updateDatos() : insertDatos()"  -->
        <button class="btn btn-success" (click)="insertDatos()" type="submit">
          Guardar
        </button>
      </form>
    </div>
  </div>
</div>