<nav class="navbar navbar-success bg-success">
    <button class="btn btn-dark" routerLink="/menu">Volver</button>



    <label  style="text-align:left;"  >Filtar Por : </label>
    <select style="width: 200px;" class="form-control"  [(ngModel)]="fil" (change)="onChange()"> 
        <option >  
          Fecha recepción 
        </option > 
        <option> 
          Tipo bienesterina 
        </option > 
        <option > 
          lote
        </option > 
        
        </select>
  
        <label [hidden]="isHidden2" class="menu">Fecha recepción</label>
        <input type="date"  min="1900-01-01" max="2050-12-31" [hidden]="isHidden2"/>
    
          <label class="menu" [hidden]="isHidden">Tipo bienesterina  </label>
        <input type="text"  style="width: 200px;" class="form-control" class="menu" placeholder="Tipo bienesterina  " [hidden]="isHidden" [(ngModel)]="res" (ngModelChange)="cambiaLado($event)" />
  
  
        <label  [hidden]="isHidden1" class="menu"> lote </label>
        <input type="text"  style="width: 200px;" class="form-control" class="menu" placeholder="lote " [hidden]="isHidden1" [(ngModel)]="res" (ngModelChange)="cambiaLado($event)" />
       
     
          <button class="btn btn-dark" >Buscar</button>
  















  </nav>
  
  <table class="table" id="contentToConvert">
    <thead class="thead-green">
      <footer id="sticky-footer" class="text-white-50" style="margin-bottom: 0px; bottom: 0px;">
        <div class="container text-center" style="justify-content: center;  bottom: 0px; margin-left: auto; margin-right: auto; margin-bottom: 0px;">
 
         <img src="../../assets/icbf-logo.png" id="imagen" style="width: 65px; height: 65px; margin-left: 10px; margin-top: 10px; margin-bottom: 0px;" class="rounded float-left">
        </div>
      </footer>
      
        {{Nombrereporte}}       {{fecha}}
      <tr>
        <th scope="col">#</th>
        <th scope="col">lote </th>
        <th scope="col">Fecha vencimiento </th>
        <th scope="col">Cantidad </th>
        <th scope="col">Unidad Principal  </th>
        <th scope="col">Fecha recepción  </th>
        <th scope="col">Tipo bienesterina </th>
        <th scope="col">Inventario </th>
        <th scope="col">Almacén </th>
        <th scope="col">Centro distribución </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ser of rec">
        <th scope="row">{{ser.idBienestarina}}</th>
        <td>{{ser.lote}}</td>
        <td>{{ser.FechaVencimiento   }}</td>
        <td>{{ser.Cantidad   }}</td>
        <td>{{ser.UnidadPrincipal  }}</td>
        <td>{{ser.FechaRecepcion   }}</td>
        <td>{{ser.TipoBienesterina  }}</td>
        <td>{{ser.inventario  }}</td>
        <td>{{ser.almacenes }}</td>
        <td>{{ser.centrodistribucion}}</td>
      </tr>
    </tbody>
  </table>
  <div class="trans">
    <button class="btn btn-dark" (click)="Generareporte()" >Generar Reporte</button>
    </div>



