<nav class="navbar navbar-success bg-success">
    <button class="btn btn-dark" routerLink="/menu">Volver</button>

  </nav>
  
  <table class="table" id="contentToConvert">
    <thead class="thead-green">
      <footer id="sticky-footer" class="text-white-50" style="margin-bottom: 0px; bottom: 0px;">
        <div class="container text-center" style="justify-content: center;  bottom: 0px; margin-left: auto; margin-right: auto; margin-bottom: 0px;">
 
         <img src="../../assets/icbf-logo.png" id="imagen" style="width: 65px; height: 65px; margin-left: 10px; margin-top: 10px; margin-bottom: 0px;" class="rounded float-left">
        </div>
      </footer>
      
        {{Nombrereporte}}       {{fecha}}
      <tr>
        <th scope="col">#</th>
        <th scope="col">lote </th>
        <th scope="col">Fecha vencimiento </th>
        <th scope="col">Cantidad </th>
        <th scope="col">UnidadPrincipal  </th>
        <th scope="col">Fecha recepción  </th>
        <th scope="col">Tipo bienesterina </th>
        <th scope="col">Inventario </th>
        <th scope="col">Almacén </th>
        <th scope="col">Centro distribución </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ser of rec">
        <th scope="row">{{ser.idBienestarina}}</th>
        <td>{{ser.lote}}</td>
        <td>{{ser.FechaVencimiento   }}</td>
        <td>{{ser.Cantidad   }}</td>
        <td>{{ser.UnidadPrincipal  }}</td>
        <td>{{ser.FechaRecepcion   }}</td>
        <td>{{ser.TipoBienesterina  }}</td>
        <td>{{ser.inventario  }}</td>
        <td>{{ser.almacenes }}</td>
        <td>{{ser.centrodistribucion}}</td>
      </tr>
    </tbody>
  </table>
  <div class="trans">
    <button class="btn btn-dark" (click)="Generareporte()" >Generar Reporte</button>
    </div>



