<nav class="navbar navbar-success bg-success">
  <button class="btn btn-dark" routerLink="/devoluciones">Volver</button>
</nav>

<div class="col-md-4 offset-md-4" style="padding-top: 50px;" padding>
  <div class="card" padding>
    <div class="card-body" padding>


      <form [formGroup]="dev" (ngSubmit)="onSubmit()">
        <h1>Gestión de devoluciones</h1>
        <div class="form-group">
          <label>Referencia bienestarina</label>
          <select formControlName="idTipoBienesterina" class="form-control" [(ngModel)]="sal.idTipoBienesterina"
            [ngClass]="{ 'is-invalid': submitted && f.idTipoBienesterina.errors }" (ngModelChange)="Referencia($event)">
            <option *ngFor="let t of tip" [value]="t.idTipoBienesterina">{{t.TipoBienesterina}}</option>
          </select>
          <div *ngIf="submitted && f.idTipoBienesterina.errors" class="invalid-feedback">
            <div *ngIf="f.idTipoBienesterina.errors.required">Referencia es requerida</div>
          </div>
        </div>

        <div class="form-group">
          <label>Presentación</label>
          <select formControlName="unidad" class="form-control" [(ngModel)]="sal.unidad"
            [ngClass]="{ 'is-invalid': submitted && f.unidad.errors }">
            <option value="bolsa">bolsa</option>
            <option value="caja">caja</option>
          </select>
          <div *ngIf="submitted && f.unidad.errors" class="invalid-feedback">
            <div *ngIf="f.unidad.errors.required">Presentación es requerida</div>
          </div>
        </div>

        <div class="form-group">
          <label>Almacén de origen</label>
          <select formControlName="idAlmacenes2" class="form-control" [(ngModel)]="sal.idAlmacenes"
            [ngClass]="{ 'is-invalid': submitted && f.idAlmacenes2.errors }" (ngModelChange)="traerAlmacen($event)">
            <option *ngFor="let ud of alm" [value]="ud.idAlmacenes">{{ud.Nombre}}</option>
          </select>
          <div *ngIf="submitted && f.idAlmacenes2.errors" class="invalid-feedback">
            <div *ngIf="f.idAlmacenes2.errors.required">Almacén de origen es requerido</div>
          </div>
        </div>

        <div class="form-group">
          <label>Centro de distribución de origen</label>
          <select formControlName="idCentroDistribucionOrigen" class="form-control"
            [(ngModel)]="sal.idCentroDistribucionOrigen"
            [ngClass]="{ 'is-invalid': submitted && f.idCentroDistribucionOrigen.errors }">
            <option *ngFor="let c of cen" [value]="c.idCentroDistribucion">{{c.Nombre}}</option>
          </select>
          <div *ngIf="submitted && f.idCentroDistribucionOrigen.errors" class="invalid-feedback">
            <div *ngIf="f.idCentroDistribucionOrigen.errors.required">Centro de distribución de origen es requerido
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>Lote</label>

          <input type="text" placeholder="Lote" formControlName="lote" class="form-control" [(ngModel)]="sal.lote"
            [ngClass]="{ 'is-invalid': submitted && f.lote.errors }" />

          <div *ngIf="submitted && f.lote.errors" class="invalid-feedback">
            <div *ngIf="f.lote.errors.required">Lote es requireda</div>
            <div *ngIf="f.lote.errors.pattern"> Lote solo puede conterner números y letras minúsculas o mayúsculas</div>
          </div>
        </div>

        <div class="form-group">
          <label>Fecha de vencimiento</label>

          <input type="date" placeholder="Fecha de Ingreso" formControlName="fechavencimiento" class="form-control"
            [(ngModel)]="sal.fechavencimiento" min="1900-01-01" max="2050-12-31"
            [ngClass]="{ 'is-invalid': submitted && f.fechavencimiento.errors }" />

          <div *ngIf="submitted && f.fechavencimiento.errors" class="invalid-feedback">
            <div *ngIf="f.fechavencimiento.errors.required">Fecha de vencimiento es requireda</div>
          </div>
        </div>

        <div class="form-group">
          <label>Almacén de destino</label>
          <select formControlName="idAlmacenesDestino" class="form-control" [(ngModel)]="sal.idAlmacenesDestino"
            [ngClass]="{ 'is-invalid': submitted && f.idAlmacenesDestino.errors }"
            (ngModelChange)="traerAlmacen2($event)">
            <option *ngFor="let ud of alm" [value]="ud.idAlmacenes">{{ud.Nombre}}</option>
          </select>
          <div *ngIf="submitted && f.idAlmacenesDestino.errors" class="invalid-feedback">
            <div *ngIf="f.idAlmacenesDestino.errors.required">Almacen de destino es requerido</div>
          </div>
        </div>

        <div class="form-group">
          <label>Centro de distribución de destino</label>
          <select formControlName="idCentroDistribucionDestino" class="form-control"
            [(ngModel)]="sal.idCentroDistribucionDestino"
            [ngClass]="{ 'is-invalid': submitted && f.idCentroDistribucionDestino.errors }">
            <option *ngFor="let ud of cen" [value]="ud.idCentroDistribucion">{{ud.Nombre}}</option>
          </select>
          <div *ngIf="submitted && f.idCentroDistribucionDestino.errors" class="invalid-feedback">
            <div *ngIf="f.idCentroDistribucionDestino.errors.required">Centro de distribución de destino es requerido
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>Cantidad</label>

          <input type="text" placeholder="Cantidad" formControlName="cantidad" class="form-control"
            [(ngModel)]="sal.cantidad" [ngClass]="{ 'is-invalid': submitted && f.cantidad.errors }" (keyup)="onKey($event)"/>

          <div *ngIf="submitted && f.cantidad.errors" class="invalid-feedback">
            <div *ngIf="f.cantidad.errors.required">La cantidad es requireda</div>
            <div *ngIf="f.cantidad.errors.required">La cantidad solo puede contener números</div>
          </div>
        </div>

        <div class="form-group">
          <label>Fecha de registro</label>

          <input type="date" placeholder="Fecha de Ingreso" formControlName="fecharegistro" class="form-control"
            [(ngModel)]="sal.fecharegistro" min="1900-01-01" max="2050-12-31"
            [ngClass]="{ 'is-invalid': submitted && f.fecharegistro.errors }" />

          <div *ngIf="submitted && f.fecharegistro.errors" class="invalid-feedback">
            <div *ngIf="f.fecharegistro.errors.required">Fecha de registro es requireda</div>
          </div>
        </div>

        <div class="form-group">
          <label>Motivo</label>

          <input type="text" placeholder="Motivo" formControlName="motivo" class="form-control" [(ngModel)]="sal.motivo"
            [ngClass]="{ 'is-invalid': submitted && f.motivo.errors }" />

          <div *ngIf="submitted && f.motivo.errors" class="invalid-feedback">
            <div *ngIf="f.motivo.errors.required">Motivo es requiredo</div>
            <div *ngIf="f.motivo.errors.pattern"> Motivo solo puede conterner números y letras minúsculas o mayúsculas
            </div>
          </div>
        </div>

        <br />

        <div class="text-center">
          <button type="submit" class="btn btn-success btn-block">Guardar</button>
        </div>

      </form>
    </div>
  </div>
</div>