<nav class="navbar navbar-success bg-success">
    <button class="btn btn-dark" routerLink="/almacenp">Volver</button>
  </nav>
  
  <div class="col-md-4 offset-md-4" style="padding-top: 50px;" padding>
    <div class="card" padding>
      <div class="card-body" padding>
        <form [formGroup]="czForm" (ngSubmit)="onSubmit()">
          
          <div class="form-group">

            <span>Número externo</span>
            <h2></h2>
            <input type="number" class="form-control" formControlName="NumeroExterno" [(ngModel)]="x.NumeroExterno " name="numeroex"
              placeholder="Número externo" class="form-control" id="inputex" minlength="0" required="">
              <div *ngIf="submitted && f.NumeroExterno.errors" class="invalid-feedback">
                <div *ngIf="f.NumeroExterno.errors.required"> Número externo es requerido</div>
                <div *ngIf="f.NumeroExterno.errors.pattern"> Número externo solo puede contener letras minusculas , mayúsculas y numeros</div>
              </div>
            <h2></h2>

          </div>

          <div class="form-group">
            
            <span>Nombre almacén</span>
            <h2></h2>
            <input type="text" class="form-control" formControlName="Nombre" [(ngModel)]="x.Nombre" name="nombre" placeholder="Nombre"
              class="form-control" id="inputnom" minlength="0" required="">
  
              <div *ngIf="submitted && f.Nombre.errors" class="invalid-feedback">
                <div *ngIf="f.Nombre.errors.required"> Nombre almacen es requerido</div>
                <div *ngIf="f.Nombre.errors.pattern"> nombre almacen solo puede contener letras minusculas y mayúsculas </div>
              </div>

            <h2></h2>

          </div>


          <div class="form-group">
            
            <span>Responsable</span>
            <h2></h2>
            <input type="text" class="form-control" formControlName="Responsable" [(ngModel)]="x.Responsable" name="res" placeholder="Responsable"
              class="form-control" id="inputres" minlength="0" required="">
            
              <div *ngIf="submitted && f.Responsable.errors" class="invalid-feedback">
                <div *ngIf="f.Responsable.errors.required"> Responsable es requerido</div>
                <div *ngIf="f.Responsable.errors.pattern"> Responsable solo puede contener letras minusculas y mayúsculas </div>
              </div>
            
              <h2></h2>

          </div>

          <div class="form-group">
            
            <span>Unidad de medida</span>
            <h2></h2>
            <select name="unidadmedida" formControlName="UnidadMedida" [(ngModel)]="x.UnidadMedida" (change)="onChange($event)" class="select-css" minlength="0" required="" class="form-control">
              <option [value]="item" *ngFor="let item of unidadmedida">{{item}} </option>
            </select>

            <div *ngIf="submitted && f.UnidadMedida.errors" class="invalid-feedback">
            <div *ngIf="f.UnidadMedida.errors.required"> Unidad de medida es requerido</div>
           
          </div>

            <h2></h2>


          </div>

          <div class="form-group">
            
            <span>Cantidad</span>
            <h2></h2>
            <input type="number" class="form-control" formControlName="Capacidad" [(ngModel)]="x.Capacidad" name="cap" placeholder="Capacidad"
              class="form-control" id="inputcap" minlength="0" required="">
  
              <div *ngIf="submitted && f.Capacidad.errors" class="invalid-feedback">
                <div *ngIf="f.Capacidad.errors.required"> Cantidad es requerido</div>
                <div *ngIf="f.Capacidad.errors.pattern"> Cantidad solo puede contener numeros </div>
              </div>

            <h2></h2>
            


          </div>

          <div class="form-group">
            
            <div id="unidad" hidden [hidden]="habilitado">
              <h2></h2>
              <span>Capacidad liquída</span>
              <h2></h2>
              <input type="number" class="form-control" formControlName="Capacidad2" [(ngModel)]="x.Capacidad2" name="Capacidad2" placeholder="Capacidad 2"
                class="form-control" id="inputcap" minlength="0" required="">
    
                <div *ngIf="submitted && f.Capacidad2.errors" class="invalid-feedback">
                <div *ngIf="f.Capacidad2.errors.required"> Capacidad liquída  es requerido</div>
                <div *ngIf="f.Capacidad2.errors.pattern"> Capacidad liquída solo puede contener numeros </div>
              </div>

              <h2></h2>
            </div>


          </div>

          <div class="form-group">


            <span>Estado del dato maestro</span>
            <h2></h2>
  
            <select name="estadomaestro" formControlName="Estado" [(ngModel)]="x.Estado" class="form-control" 
            minlength="0" required="" class="form-control">
            <Option value="1"> Habilitado</Option>
            <option value="0"> Deshabilitado</option>
           </select>
  
           <div *ngIf="submitted && f.Estado.errors" class="invalid-feedback">
            <div *ngIf="f.Estado.errors.required"> Capacidad liquída  es requerido</div>
            <div *ngIf="f.Estado.errors.pattern"> Capacidad liquída solo puede contener numeros </div>
          </div>
  
            <h2></h2>
  
            
          </div>

          <div class="form-group">
            

            <span>Centro de distribución</span>
            <h2></h2>
  
            <select name="idRegional" formControlName="idCentroDistribucion" class="select-css" style="width: 100%;" [(ngModel)]="x.idCentroDistribucion"
              options="options" placeholder="centro de distribucion" minlength="0" required="" class="form-control">
              <option *ngFor="let do of cen" [value]="do.idCentroDistribucion">{{do.Nombre  }} </option>
            </select>

            <div *ngIf="submitted && f.idCentroDistribucion.errors" class="invalid-feedback">
              <div *ngIf="f.idCentroDistribucion.errors.required"> Centro de distribución es requerido</div>
              
            </div>


            <h2></h2>


          </div>

          <div class="form-group">
            
            <span >Seleccione punto de entrega</span>
            <h2></h2>
            
            
         <select name="idnivel1" formControlName="idPuntoEntrega" class="form-control" style="width: 100%;" [(ngModel)]="x.idPuntoEntrega"
         options="options" placeholder="nivel" 
         minlength="0" required="">
         <option *ngFor="let do of cen1 " [value]="do.idPuntoEntrega">{{do.NombrePE }} </option>
     
         </select>

         <div *ngIf="submitted && f.idPuntoEntrega.errors" class="invalid-feedback">
          <div *ngIf="f.idPuntoEntrega.errors.required"> Centro zonal  es requerido</div>
          

          </div>
        </div>
     
        </form>

        <form [formGroup]="czForm1" (ngSubmit)="onSubmit()">


          <div class="form-group">
            
            <span >Inventario</span>
            <h2></h2>
     
            <select name="select" class="form-control" (change)="inventario($event)" [(ngModel)]="inv">
             <option value="0"> Crear inventario</option> 
             <option value="1" >Añadir inventario existente</option>
           </select>
     
            <h2></h2>

          </div>

          <div class="form-group">
            
            <div id="unidad" hidden [hidden]="habilitar">
  
              <span >Seleccione inventario</span>
              <h2></h2>
    
           <select name="idinventario" formControlName="Nombre" class="form-control" style="width: 100%;" [(ngModel)]="x.Nombre"
           options="options" placeholder="nivel" 
           minlength="0" required="">
           <option *ngFor="let do of inv2" [value]="do.Nombre">{{do.Nombre }} </option>
          </select>

          <div *ngIf="submitted && f.Nombre.errors" class="invalid-feedback">
            <div *ngIf="f.Nombre.errors.required"> Nombre inventario  es requerido</div>
         
          </div>
           <h2></h2>
    
          </div>
          </div>

          <div class="text-center">
            
            <h2></h2>
            <button (click)="onClickMe()" class="btn btn-success">Aceptar</button>
  
            <h2></h2>


          </div>
        </form>
      </div>
    </div>
  </div>
