<nav class="navbar navbar-success bg-success">
    <button class="btn btn-dark" routerLink="/listamaestros">Volver</button>
    <button class="btn btn-dark" routerLink="/listadocursos"> Crear </button>
  </nav>
  
  <table class="table">
    <thead class="thead-green">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre Agente  </th>
        <th scope="col">Número Documento </th>
        <th scope="col">Fecha </th>
        <th scope="col">Estado </th>
        <th scope="col">Tipo Documento </th>
        <th scope="col">Beneficiarios</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ser of servic">
    
        <th scope="row">{{ser.idListadoCursos}}</th>
        <td>{{ser.NombreAgenteE  }}</td>
        <td>{{ser.NumeroDocumento }}</td>
        <td>{{ser.Fecha  }}</td>
        <td>{{ser.Estado }}</td>
        <td >{{ser.idTipoDocumento }}</td>
        <td>{{ser.idBenefiarios }}</td>
      </tr>

    </tbody>
  </table>

