<nav class="navbar navbar-success bg-success">
    <button class="btn btn-dark" routerLink="/listamaestros">Volver</button>
    <button class="btn btn-dark" routerLink="/listadocursos"> Crear </button>
  </nav>
  
  <table class="table">
    <thead class="thead-green">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre agente  </th>
        <th scope="col">Número documento </th>
        <th scope="col">Fecha </th>
        <th scope="col">Estado </th>
        <th scope="col">Tipo documento </th>
        <th scope="col">Beneficiarios</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ser of listad">
    
        <th scope="row">{{ser.idListadoCursos}}</th>
        <td>{{ser.NombreAgenteE  }}</td>
        <td>{{ser.NumeroDocumento }}</td>
        <td>{{ser.Fecha  }}</td>
        <td>
          
            <div *ngIf="ser.Estado == 1">
                Habilitado
              </div>
              <div *ngIf="ser.Estado == 0">
                Deshabilitado
              </div>
          
          
        </td>
        <td >
          {{ser.tipodocumento}}  
        </td>
        <td>
            
          
          {{ser.nombrecompleto }}</td>
      </tr>

    </tbody>
  </table>

