<nav class="navbar navbar-success bg-success">
    <button class="btn btn-dark" routerLink="/menu">Volver</button>
  </nav>
  
  <div class="col-md-4 offset-md-4" style="padding-top: 50px;" padding>
    <div class="card" padding>
      <div class="card-body" padding>
        <form>
          <div class="form-group">
  
            <span  >Salida De Movimiento</span>
            <h2></h2> 


            <!-- name= "al campo de la tabla" [(ngModel)]="regionales.(Nombre de la columna)"-->
            <select name="Salida" [(ngModel)]="salida" class="form-control">
              <option >Salida Para Centro De Distribución</option>
              <Option >Salida Para Beneficiario ICBF</Option>
              <Option >Salida Para Consumo Interno</Option>
            </select>
         
        <h2> </h2> 
          <!-- Validacion para usar el mismo form  (click)="modificar ? updateDatos() : insertDatos()" routerLink="/centrozonal"-->
          <button class="btn btn-success btn-block" (click)="validar()" type="submit" >
            siguiente
          </button>
        </div>
        </form>
      </div>
    </div>
  </div>

