<nav class="navbar navbar-success bg-success">
	<button class="btn btn-dark" routerLink="/usuariosv">Volver</button>
  </nav>
  
  <div class="col-md-4 offset-md-4" style="padding-top: 50px;" padding>
	<div class="card" padding>
	  <div class="card-body" padding>
		<form class="form-signin was-validated" style="justify-content: center; margin-bottom: 70px;" novalidate>
			
				<h1>Crear usuarios</h1>

				<span >Seleccione UDS</span>
			   <h2></h2>
			   
			   
			<select name="idnivel1" class="form-control" style="width: 100%;" [(ngModel)]="x.idUDS"
			options="options" placeholder="nivel" 
			minlength="0" required="">
			<option *ngFor="let do of ud " [value]="do.idUDS">{{do.NombreUDS }} </option>
	
		  </select>

		 
				
		  <div class="form-group">

				
			   <h1>Datos generales usuario</h1>
			   <h2></h2>
			   <span  >Estado del dato Maestro</span>
			   <h2></h2>
			   
			   <select name="estadomaestro" [(ngModel)]="x.Estado" class="select-css" 
			   minlength="0" required="" class="form-control">
			   <Option value="1"> Habilitar</Option>
			   <option value="0"> Inhabilitar</option>
			   
			  		
					
		 </select>
		
			   <h2></h2>
			   <span >Tipo documento</span>
			   <h2></h2>
			   
			   <select name="idRegional" class="select-css" style="width: 100%;" [(ngModel)]="x.idTipoDocumento"
			   options="options" placeholder="Tipo documento" 
			   minlength="0" required="" class="form-control">
			   <option *ngFor="let do of doc" [value]="do.idTipoDocumento">{{do.NombreTipo }} </option>
			 </select>
				  
			   
			   <h2></h2>
		   <span >Número de documento</span>
			   <h2></h2>
			   <input type="number" class="form-control" [(ngModel)]="x.NumeroDocumento" name="numerodoc"
			   placeholder="Número de documento" class="form-control" id="inputdoc" 
			   minlength="0" required="">
		   
			   
	   
		   <h2></h2>
			   <span >Nombres</span>
			   <h2></h2>
			   <input type="text" class="form-control" [(ngModel)]="x.Nombres" name="nombre"
			   placeholder="Nombres" class="form-control" id="nom" 
			   minlength="0" required="">
		 
			   <h2></h2>
			   <span >Apellidos</span>
			   <h2></h2>
			   <input type="text" class="form-control" [(ngModel)]="x.Apellidos" name="apellidos"
			   placeholder="Apellidos" class="form-control" id="app" 
			   minlength="0" required="">
		   <h2></h2>
		 
			   <span >Fecha de ingreso</span>
			   <h2></h2>
			   <input type="date" class="form-control" [(ngModel)]="x.FechaIngreso" name="fechai" placeholder="Fecha" min="1900-01-01" max="2050-12-31" class="form-control" 
			   minlength="0" required="">
		   
				<h2></h2>
				{{today}}
				<h1>Usuario y asignación de Roles</h1>
				<span  >Usuario en el sistema</span>
		 <h2></h2>
		 <input type="text" class="form-control" [(ngModel)]="x.NombreUsuarioSistema" name="Usuario"
			   placeholder="Usuario Sistema" class="form-control" id="usu" 
			   minlength="0" required="">
	   
		 <h2></h2>


		 <span >Tipo usuario</span>

		 <h2></h2>

		 <select name="select" class="form-control" [(ngModel)]="x.tipo">
			<option value="PE">PE</option> 
			<option value="UDS">UDS</option>
			<option value="ADMINISTRADOR">ADMINISTRADOR</option>
		  </select>


		  <h2></h2>

		 
		 <span >Rol</span>
		 <h2></h2>
		 
		 <select name="idtipousuario" class="select-css" style="width: 100%;" [(ngModel)]="x.TipoUsuario"
		 options="options" placeholder="Tipo usuario" 
		 minlength="0" required="" class="form-control">
		 <option *ngFor="let do of rol" [value]="do.idRolPersona">{{do.RolPersona  }} </option>
	   </select>

	   <span  >Contraseña</span>
	   <h2></h2>
	   <input type={{tipo}} class="form-control" [(ngModel)]="x.password" name="password"
			 placeholder="Contraseña" class="form-control" id="psw" 
			 minlength="0" required="">
	 
	   <h2></h2>
	   <button (click)="ver()" class="btn btn-success">ver</button>
					<h2></h2>
					
				 
				 <h1>Datos de contacto</h1>
				 <span  >Dirección</span>
				 <h2></h2>
				 
				 
				 <input type="text" class="form-control" [(ngModel)]="x.Direccion" name="Nombredireccion"
							 placeholder="Dirección" class="form-control" 
							 minlength="0" required="">
				 
				 
				 <h2></h2>
				 <span >Teléfono fijo 1</span>
				 <h2></h2>
				 
				 <input type="number" class="form-control" [(ngModel)]="x.TelefonoFijo" name="telefonof1"
							 placeholder="Teléfono fijo 1" class="form-control" 
							 minlength="0" required="">
				 
				 <h2></h2>
				 <span >Teléfono fijo 2</span>
				 <h2></h2>
				 <input type="number" class="form-control" [(ngModel)]="x.TelefonoFijo2" name="telefonof2"
							 placeholder="Teléfono fijo 2" class="form-control">
				 <h2></h2>
				 <span >Teléfono movil 1</span>
				 <h2></h2>
				 <input type="number" class="form-control" [(ngModel)]="x.TelefonoMovil" name="telefonom1"
							 placeholder="Teléfono movil 1" class="form-control" 
							 minlength="0" required="">
				 <h2></h2>
				 <span >Teléfono movil 2</span>
				 <h2></h2>
				 <input type="number" class="form-control" [(ngModel)]="x.TelefonoMovil2" name="telefonom2"
							 placeholder="Teléfono movil 2" class="form-control">
				 <h2></h2>
				 <span>Email</span>
				 <h2></h2>
				 <input type="text" class="form-control" [(ngModel)]="x.Email" name="email"
				 placeholder="Email" class="form-control" 
				 minlength="0" required="">
				 
					  <h2></h2>
					  
						 
					  <button (click)="onClickMe()" class="btn btn-success">Aceptar</button>
						 
					  <h2></h2>
			   

			</div>
		</form>
	</div>
  </div>
</div>

