<nav class="navbar navbar-success bg-success">
    <button class="btn btn-dark" routerLink="/inventario">Volver</button>
    <button class="btn btn-dark" routerLink="/inventarioc"> Crear </button>
  </nav>
  
  <table class="table">
    <thead class="thead-green">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre </th>
        <th scope="col">Cantidad </th>
        <th scope="col">Cantidad </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cen of inv">
        <th scope="row">{{cen.idInventario}}</th>
        <td>{{cen.Nombre }}</td>
        <td>{{cen.Cantidad }}</td>
        <td>{{cen.Cantidad2 }}</td>
        
      </tr>
    </tbody>
  </table>
