<nav class="navbar navbar-success bg-success">
    <button class="btn btn-dark" routerLink="/menu"> Volver </button>
  </nav>
  
  <table class="table">
      <thead class="thead-green">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre UDS</th>
            <th scope="col">Código interno UDS</th>
            <th scope="col">Dirección</th> 
            <th scope="col">Responsable</th>
            <th scope="col">Estado</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Código externo UDS</th>
            <th scope="col">punto de entrega</th>
            <th scope="col">centro zonal</th>
            <th scope="col">Localidad, municipio, vereda</th>
      
         
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let uni of unidadt">
            <td>{{uni.idUDS}}</td>
            <td>{{uni.NombreUDS}}</td>
            <td>{{uni.CodigoInternoUDS}}</td>
            <td>{{uni.Direccion}}</td>
            <td>{{uni.ReponsableUDS}}</td>
            <td>
              
                <div *ngIf="uni.Estado == 1">
                    Habilitado
                  </div>
                  <div *ngIf="uni.Estado== 0">
                    Deshabilitado
                  </div>
              
              </td>
            <td>{{uni.Telefono}}</td>
            <td>{{uni.CodigoExternoUDS}}</td>
            <td>{{uni.NombrePE}}</td>
            <td>{{uni.NombreCentroZonal}}</td>
            <td>{{uni.Comuna}}</td>
         
          <td>
            <button class="btn btn-primary" [routerLink]="['/inhabilitaruds', uni.idUDS]">Inhabilitar</button>
          </td>
        </tr>
      </tbody>
    </table>