<nav class="navbar navbar-success bg-success">
    <button class="btn btn-dark" routerLink="/reportentregab">Volver</button>

  </nav>

  <table class="table" id="contentToConvert">
    <thead class="thead-green">
      <tr>
        <th scope="col">#</th>
        <th scope="col">lote</th>
        <th scope="col">fechavencimiento</th>
        <th scope="col">cantidad</th>
        <th scope="col">unidad</th>
        <th scope="col">fecharegistro</th>
        <th scope="col"># TipoBienesterina</th>
        <th scope="col"># CentroDistribucion</th>
        <th scope="col"># Almacenes</th>
       
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sal of centroC">
        <th scope="row">{{sal.idEntregaconsumointerno }}</th>
        <td>{{sal.lote}}</td>
        <td>{{sal.fechavencimiento}}</td>
        <td>{{sal.cantidad}}</td>
        <td>{{sal.unidad}}</td>
        <td>{{sal.fecharegistro}}</td>
        <td>{{sal.idTipoBienesterina}}</td>
        <td>{{sal.idCentroDistribucion}}</td>
        <td>{{sal.idAlmacenes }}</td>
       

      </tr>
    </tbody>
  </table>

  <div class="trans">
    <button class="btn btn-dark" (click)="Generareporte()">Generar Reporte</button>
  </div>

