
<html>
		<body>
		<h1>Crear Usuario</h1>

		<h1>Datos Generales Usuario</h1>
		<div class="container">
		 <div class="card card-container">
		
		<form class="form-signin padding" >
		
		<span class="label success" >Estado del dato Maestro</span>
		<h2></h2>
		<select class="select-css">
				<option value="0">1</option>
				<option value="1">2</option>
		</select>
		<h2></h2>
		<span class="label success">Tipo Documento</span>
		<h2></h2>
		
		<select class="select-css">
				<option value="0">CC</option>
				<option value="1">CE</option>
				<option value="2">PA</option>
				
		</select>
		
		<h2></h2>
		<span class="label success">Numero de Documento</span>
		<h2></h2>
		<input type="text" id="inputnumerodoc" placeholder="Numero de documento" required autofocus>
		<h2></h2>
		<span class="label success">Nombres</span>
		<h2></h2>
		<input type="text" id="inputnombres"  placeholder="Nombres" required autofocus>
		<h2></h2>
		<span class="label success">Apellidos</span>
		<h2></h2>
		<input type="text" id="inputapellidos"  placeholder="Apellidos" required autofocus>
		<h2></h2>
		<span class="label success">Fecha de Ingreso</span>
		<h2></h2>
		<input type="date" id="start" name="trip-start"
			   value="2018-07-22"
			   min="2018-01-01" max="2050-12-31">
			   <h2></h2>
			   <button type="button" class="btn btn-success" routerLink="/usuariosroles">siguiente</button>
			   <h2></h2>
		</form><!-- /form -->
		</div><!-- /card-container -->
		</div><!-- /card-container -->






	</body>
</html>