<nav class="navbar navbar-success bg-success">
  <a class="navbar-brand">
    <img src="../../assets/" width="40" height="45">
    Bienvenidos
  </a>
</nav>
<div class="container">
    
  <form class="form-signin was-validated" novalidate>
      
    <div class="card card-container">
        <img class="card-img-top" src="../../assets/logheader.PNG" alt="Card image cap">
      <br>
        <img id="profile-img" width="300" height="300" class="profile-img-card" src="../../assets/login icon.svg" />

      <div class="form-group">
         <div> </div>

        <label for="NombreUsuarioSistema">Nombre de usuario</label>
        <input type="text" class="form-control" name="NombreUsuarioSistema" minlength="6" maxlength="20"
        [(ngModel)]="usuario.NombreUsuarioSistema"placeholder="Nombre de usuario" required="">

        <div class="valid-feedback"></div>
        <div class="invalid-feedback">Completa este campo</div>

        <label for="password">Contraseña</label>
        <input type="password" class="form-control" name="password" minlength="6" maxlength="20"
         [(ngModel)]="usuario.password" placeholder="Contraseña" required="">

        <div class="valid-feedback"></div>
        <div class="invalid-feedback">Completa este campo</div>

      </div>
      

      <input type="submit" class="btn btn-success btn-block" (click)="login()" value="Iniciar sesión">

    </div>

  </form>
</div>

</div>