<!-- Just an image -->
<nav class="navbar navbar-success bg-success">
  <a class="navbar-brand">
    <img src="../../assets/Logo UDEC.png" width="40" height="45">
    Bienvenidos
  </a>
</nav>
<!-- Default form login -->
<div class="container">
    <div class="card card-container">
        <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
        <img id="profile-img" width="100" height="100" class="profile-img-card" src="../../assets/Logo UNAL.png" />
        <p id="profile-name" class="profile-name-card"></p>
        <form class="form-signin padding" >
          
            <span id="reauth-email" class="reauth-email"></span>
            <input type="text" id="inputEmail" class="form-control" placeholder="Usuario" required autofocus [(ngModel)]="usuario">
            <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" required [(ngModel)]="pass">
  
            <button type="button" class="btn btn-success" routerLink="/menu">Iniciar Sessión<nav></nav></button>
        </form><!-- /form -->
    </div><!-- /card-container -->
</div><!-- /container -->
<!-- Default form login -->
