<nav class="navbar navbar-success bg-success">

  <div>
    <button class="btn btn-dark" routerLink="/menu">Volver</button>
    <button class="btn btn-dark" routerLink="/devolucionesc"> Crear </button>
  </div>


  <div>
    <label>Crear Devolución</label>
    {{fecha}}
  </div>

  <div>
             
  </div>
  
</nav>

<table class="table">
  <thead class="thead-green">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Lote</th>
      <th scope="col">Fecha de vencimiento</th>
      <th scope="col">Fecha de registro</th>
      <th scope="col">Presentación</th>
      <th scope="col">Tipo de bienesterina</th>
      <th scope="col">Centro de distribución de origen </th>
      <th scope="col">Almacén origen</th>
      <th scope="col">Centro de distribución de destino</th>
      <th scope="col">Almacén destino</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let sal of devolucion">
      <th scope="row">{{sal.iddevoluciones}}</th>
      <td>{{sal.lote}}</td>
      <td>{{sal.fechavencimiento}}</td>
      <td>{{sal.fecharegistro}}</td>
      <td>{{sal.unidad}}</td>
      <td>{{sal.Referencia}}</td>
      <td>{{sal.centrodistribucionorigen}}</td>
      <td>{{sal.Nombrealmacen}}</td>
      <td>{{sal.centrodistribuciondestino}}</td>
      <td>{{sal.idAlmacenesDestino}}</td>
    </tr>
  </tbody>
</table>