<nav class="navbar navbar-fixed-top">
  <button class="btn btn-dark" routerLink="/menu">Volver</button>
</nav>

<table class="table" id="contentToConvert">
  <thead class="thead-green">
    <footer id="sticky-footer" class="text-white-50" style="margin-bottom: 0px; bottom: 0px;">
      <div class="container text-center" style="justify-content: center;  bottom: 0px; margin-left: auto; margin-right: auto; margin-bottom: 0px;">

       <img src="../../assets/icbf-logo.png" style="width: 65px; height: 65px; margin-left: 10px; margin-top: 10px; margin-bottom: 0px;" class="rounded float-left">
      </div>
    </footer>
    {{Nombrereporte}} {{fecha}}
    <tr>
      <th scope="col"># </th>
      <th scope="col">Nombres</th>
      <th scope="col">Apellidos</th>
      <th scope="col">Estado</th>
      <th scope="col">Número documento</th>
      <th scope="col">Fecha ingreso</th>
      <th scope="col">Nombre usuario sistema</th>
      <th scope="col">Contraseña</th>
      <th scope="col">Dirección</th>
      <th scope="col">Teléfono fijo</th>
      <th scope="col">Teléfono fijo2</th>
      <th scope="col">Teléfono móvil</th>
      <th scope="col">Teléfono móvil2</th>
      <th scope="col">Correo electrónico</th>
      <th scope="col">Tipo documento</th>
      <th scope="col">Tipo usuario</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let usu of usua">
      <th scope="row">{{usu.idUsuarios}}</th>
      <td>{{usu.Nombres}}</td>
      <td>{{usu.Apellidos}}</td>
      <td> <div *ngIf="usu.Estado == 1">
        Habilitado
      </div>
      <div *ngIf="usu.Estado== 0">
        Deshabilitado
      </div></td>
      <td>{{usu.NumeroDocumento}}</td>
      <td>{{usu.FechaIngreso}}</td>
      <td>{{usu.NombreUsuarioSistema}}</td>
      <td>*******</td>
      <td>{{usu.Direccion}}</td>
      <td>{{usu.TelefonoFijo}}</td>
      <td>{{usu.TelefonoFijo2}}</td>
      <td>{{usu.TelefonoMovil}}</td>
      <td>{{usu.TelefonoMovil2}}</td>
      <td>{{usu.Email}}</td>
      <td>{{usu.NombreTipo}}</td>
      <td>{{usu.RolPersona}}</td>
    </tr>
  </tbody>
</table>
<div class="trans">
  <button class="btn btn-dark" (click)="Generareporte()">Generar Reporte</button>
</div>