<nav class="navbar navbar-success bg-success">
  <button class="btn btn-dark" routerLink="/menu">Volver</button>
</nav>

<div class="col-md-4 offset-md-4" style="padding-top: 50px;" padding>
  <div class="card" padding>
    <div class="card-body" padding>
      <form>
        <div class="form-group">
          <!--Select 2 Centro Zonal-->
          <label >Centro Zonal</label>
          <select name="idCentrosZonales" placeholder="Centro Zonal" class="form-control" [(ngModel)]="puntos.idCentrosZonales">
            <option *ngFor="let cen of centros" [value]="cen.idCentrosZonales"> {{cen.NombreCentroZonal}}</option>
          </select>
          <!-- name= "al campo de la tabla" [(ngModel)]="regionales.(Nombre de la columna)"-->
          <label>Estado</label>
          <select name="Estado" style="width: 100%;" class="form-control" [(ngModel)]="puntos.Estado">
            <option value="1"> Habilitar</option>
            <Option value="0">Inhabilitar</Option>
          </select>
          <label> Nombre PE</label>
          <input type="text" class="form-control" name="NombrePE" placeholder="Nombre punto de entrega" [(ngModel)]="puntos.NombrePE">
          <label>Codigo Externo PE</label>
          <input type="number" class="form-control" name="CodigoExternoPE" placeholder="Codigo externo PE" [(ngModel)]="puntos.CodigoExternoPE">
          <label> CodigoInternoPE </label>
          <input type="text" class="form-control" name="CodigoInternoPE" placeholder="Codigo interno PE" [(ngModel)]="puntos.CodigoInternoPE">
          <label>Responsable</label>
          <input type="text" class="form-control" name="Responsable" placeholder="Responsable" [(ngModel)]="puntos.Responsable">
          <label> Comuna o vereda </label>
          <input type="text" class="form-control" name="Comuna" placeholder="Comuna o vereda" [(ngModel)]="puntos.Comuna">
          <label>Direccion PE</label>
          <input type="text" class="form-control" name="Direccion" placeholder="Direccion PE" [(ngModel)]="puntos.Direccion">
          <label>Barrio PE</label>
          <input type="text" class="form-control" name="BarrioPE" placeholder="Barrio PE" [(ngModel)]="puntos.BarrioPE">
          <label>Telefono</label>
          <input type="tel" class="form-control" name="Telefono" placeholder="Telefono PE" [(ngModel)]="puntos.Telefono">
        </div>

        <!-- Validacion para usar el mismo form  (click)="modificar ? updateDatos() : insertDatos()"  -->
        <button class="btn btn-success btn-block" type="submit" (click)="insertDatos()" routerLink="/puntoentrega">
          Guardar 
        </button>
      </form>
    </div>
  </div>
</div>