<nav class="navbar navbar-success bg-success">
  <button class="btn btn-dark" routerLink="/puntoentrega">Volver</button>
</nav>

<div class="col-md-4 offset-md-4" style="padding-top: 50px;" padding>
  <div class="card" padding>
    <div class="card-body" padding>
      <form>
        <div class="form-group">
          <!-- name= "al campo de la tabla" [(ngModel)]="regionales.(Nombre de la columna)"-->
          <input type="text" class="form-control" name="NombrePE" placeholder="NombrePE">
          <input type="text" class="form-control" name="CodigoInternoPE" placeholder="CodigoInternoPE">
          <input type="text" class="form-control" name="Direccion" placeholder="Direccion">
          <input type="text" class="form-control" name="Responsable" placeholder="Responsable">
          <input type="number" class="form-control" name="Estado" placeholder="Estado">
          <input type="text" class="form-control" name="Telefono" placeholder="Telefono">
          <input type="number" class="form-control" name="CodigoExternoPE" placeholder="CodigoExternoPE">
          <input type="number" class="form-control" name="idBarriosVeredas" placeholder="BarriosVeredas">
          <input type="number" class="form-control" name="idCentrosZonales" placeholder="Centro Zonal">
        </div>
        <!-- Validacion para usar el mismo form  (click)="modificar ? updateDatos() : insertDatos()"-->
        <button class="btn btn-success btn-block" type="submit" (click)=" modificar ? updateDatos() : insertDatos()"
          routerLink="/puntoentrega">
          Guardar
        </button>
      </form>
    </div>
  </div>
</div>