
<html>
		<body>
		<h1>Crear Usuario</h1>

		<h1>Datos de contacto</h1>
		<div class="container">
		 <div class="card card-container">
		
		<form class="form-signin padding" >
		
		<span class="label success" >Direccion</span>
		<h2></h2>
        <input type="text" id="inputdireccion" placeholder="Direccion" required autofocus>
        
		<h2></h2>
		<span class="label success">Telefono Fijo 1</span>
		<h2></h2>
		
		<input type="text" id="inputtelefonof1" placeholder="Telefono 1" required autofocus>
		
		<h2></h2>
		<span class="label success">Telefono Fijo 2</span>
		<h2></h2>
		<input type="text" id="inputtelefonof2" placeholder="Telefono 2" required autofocus>
		<h2></h2>
		<span class="label success">Telefono movil 1 </span>
		<h2></h2>
		<input type="text" id="inputtelefonom1"  placeholder="Telefono Movil 1" required autofocus>
		<h2></h2>
		<span class="label success">Telefono movil 2</span>
		<h2></h2>
		<input type="text" id="inputtelefonom2"  placeholder="Telefono Movil 2" required autofocus>
		<h2></h2>
		<span class="label success">Email</span>
		<h2></h2>
		<input type="text" id="inputemail"  placeholder="Email" required autofocus>
			   <h2></h2>
			   <button type="button" class="btn btn-success" routerLink="">Aceptar</button>
			   <h2></h2>
		</form><!-- /form -->
		</div><!-- /card-container -->
		</div><!-- /card-container -->






	</body>
</html>