<nav class="navbar navbar-success bg-success">
    <button class="btn btn-dark" routerLink="/listamaestros">Volver</button>
    <button class="btn btn-dark" routerLink="/datosvarios"> Crear </button>
  </nav>
  
  <table class="table">
    <thead class="thead-green">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Código Interno </th>
        <th scope="col">Estado </th>
        <th scope="col">Descripción Del Registro</th>
        <th scope="col">Valor </th>
        <th scope="col">Unidad De Medida  </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ser of servic">
        <th scope="row">{{ser.idDatosVarios}}</th>
        <td>{{ser.CodigoInterno  }}</td>
        <td>{{ser.EstadoDatoMaestro }}</td>
        <td>{{ser.DescripcionDelRegistro }}</td>
        <td>{{ser.Valor }}</td>
        <td>{{ser.UnidadDeMedida  }}</td>
      </tr>
    </tbody>
  </table>

