<nav class="navbar navbar-success bg-success">
    <button class="btn btn-dark" routerLink="/menu"> Volver</button>
  </nav>


 <div id="contentToConvert">
    <table >
        
        <div style="margin-bottom: 0px; position: unset;  bottom: 0px;" >
            <footer id="sticky-footer" class="text-white-50" style="margin-bottom: 0px; bottom: 0px;">
                <div class="container text-center" style="justify-content: center;  bottom: 0px; margin-left: auto; margin-right: auto; margin-bottom: 0px;">
         
                 <img src="../../assets/icbf-logo.png" id="imagen" style="width: 65px; height: 65px; margin-left: 10px; margin-top: 10px; margin-bottom: 0px;" class="rounded float-left">
                </div>
              </footer>
              {{Nombrereporte}}       {{fecha}}

             
              
              

        </div>
        <tbody > 
          <tr class="row0" STYLE="border-top: 3px solid #000000; border-left: 3px solid #000000" WIDTH=27 HEIGHT=30 ALIGN=LEFT VALIGN=BOTTOM SDNUM="1033;1033;General">
            <td class="column0 style1 s">NOMBRE DEL PUNTO DE ENTREGA</td>
            <td class="column1 style2 null">
              
              <select 
              (ngModelChange)="valores($event)"
              name="idv"
              [(ngModel)]="id.idv"
            >
              <option               
                *ngFor="let do of punto"
                [value]="do.NombrePE"
                >{{ do.NombrePE }}
              </option>
              
            </select>


            </td>
            <td class="column2 style2 null"></td>
             
           
            <td class="column9 style4 s">CODIGO DEL PUNTO</td>
            <td class="column10 style5 null">

              <input type="text" name="cod" [(ngModel)]="cod"[disabled]="txt2"  />


            </td>
            <td >
            </td>
            <td >
            </td>
            <td >
            </td>
            <td >
            </td>
            <td >
            </td>
            <td >
            </td>
            <td >
            </td>
            <td STYLE="border-left: 3px solid #000000">
            </td>
            <td class="column11 style72 null"></td>
            
            
            <td class="column20">&nbsp;</td>
          </tr>
          <tr class="row1" STYLE=" border-left: 3px solid #000000" WIDTH=27 HEIGHT=30 ALIGN=LEFT VALIGN=BOTTOM SDNUM="1033;1033;General">
            <td class="column0 style9 s">NOMBRE RESPONSABLE DEL PUNTO</td>
            <td class="column1 style10 null">

              <input type="text" name="rep" [(ngModel)]="rep" [disabled]="txt1"  />

               

            </td>
            <td class="column2 style10 null"></td>
            
           
            
            <td class="column9 style12 s">NOMBRE RESPONSABLE DE DILIGENCIAR EL FORMATO</td>
            <td class="column10 style13 null">

                <input type="text" class="form-control" name="numerodoc" style="width: 100%;"
                placeholder="responsable" class="form-control" id="inputdoc">
               
               

            </td>
          
            <td>
            </td>
            <td>
            </td>
    
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
    
            <td>
            </td>
    
            <td>
            </td>
            <td STYLE="border-left: 3px solid #000000">
            </td>
            
            <td class="column11 style13 null"></td>
            
           
            <td class="column20">&nbsp;</td>
          </tr>
          <tr class="row2" STYLE=" border-left: 3px solid #000000" WIDTH=27 HEIGHT=30 ALIGN=LEFT VALIGN=BOTTOM SDNUM="1033;1033;General">
            <td class="column0 style18 s">REGIONAL</td>
            <td class="column1 style13 null">

                <select name="idnivel1" class="select-css" style="width: 100%;" 
                options="options" placeholder="nivel" >
                <option *ngFor="let do of region ">{{do.Regional }} </option>
                </select>


            </td>
            <td>
            </td>
          
          
            <td class="column9 style16 s">CENTRO ZONAL </td>
            <td class="column10 style13 null">

              <input type="text" name="cen" [(ngModel)]="cen" [disabled]="txt3" />
              
            </td>
          
            
            <td class="column14 style12 s">MUNICIPIO</td>
            
            <td class="column15 style11 null">

                <select name="idnivel1" class="select-css" style="width: 110%;" 
                options="options" placeholder="nivel" >
                <option *ngFor="let do of mun ">{{do.Municipio }} </option>
                </select>

               

            </td>
            <td class="column15 style11 null">
            </td>
            <td class="column15 style11 null">
            </td>
            <td class="column15 style11 null">
            </td>
            <td class="column15 style11 null">
            </td>
            <td class="column15 style11 null">
            </td>

            <td class="column15 style11 null"  STYLE="border-left: 3px solid #000000">
            </td>

          </tr>



          
         
          <tr class="row4" STYLE="border-top: 3px solid #000000; border-left: 3px solid #000000" WIDTH=27 HEIGHT=20 ALIGN=LEFT VALIGN=BOTTOM SDNUM="1033;1033;General" >
            <td class="column0 style24 s">DESCRIPCION DEL AAVN:</td>
            
            <td class="column4 style26 s">Bienestarina Mas®</td>
            <td class="column5 style25 null">

                <input type="checkbox" id="cbox2" value="second_checkbox" (change)="checkValue($event)"
                [disabled]="check1"    > 

            </td>
        
            <td class="column9 style26 s">Bienestarina Mas® Vainilla</td>
            <td class="column10 style25 null">

                <input type="checkbox" id="cbox2" value="second_checkbox" (change)="checkValue1($event)"
                [disabled]="check2" > 

            </td>
           
         
            <td class="column13 style26 s">Bienestarina Mas® Fresa:</td>
            <td class="column14 style25 null">

                <input type="checkbox" id="cbox2" value="second_checkbox" (change)="checkValue2($event)"
                [disabled]="check3" > 

            </td>

            <td >
            </td>

            <td >
            </td>
            <td >
            </td>

            <td >
            </td>
            <td >
            </td>
           
            <td STYLE="border-left: 3px solid #000000">
            </td>
            
          </tr>
          <tr class="row5" STYLE=" border-left: 3px solid #000000" WIDTH=27 HEIGHT=30 ALIGN=LEFT VALIGN=BOTTOM SDNUM="1033;1033;General">
           
            <td class="column4 style7 s">Alimento para la Mujer Gestante y en Periodo de Lactancia</td>
            <td class="column5 style30 null">

                <input type="checkbox" id="cbox2" value="second_checkbox" (change)="checkValue3($event)"[disabled]="check5"  > 

            </td>

            <td >
            </td>
            <td >
            </td>

            <td >
            </td>
            <td >
            </td>

            <td >
            </td>
            <td >
            </td>
            <td >
            </td>
            <td >
            </td>
            <td >
            </td>
            <td >
            </td>
           
            <td STYLE="border-left: 3px solid #000000">
            </td>
            
          </tr>
          <tr class="row6" STYLE=" border-left: 3px solid #000000" WIDTH=27 HEIGHT=30 ALIGN=LEFT VALIGN=BOTTOM SDNUM="1033;1033;General">
            
            <td class="column4 style12 s">Bienestarina® Líquida</td>
            <td class="column5 style13 null">

                <input type="checkbox" id="cbox2" value="second_checkbox" (change)="checkValue4($event)"
                [disabled]="check4"> 


            </td>
           
            <td class="column7 style34 s">Sabor: </td>
            <td class="column8 style35 null">

              <input type="text" class="form-control"  style="width: 100%;"
              placeholder="Sabor" class="form-control"  >

            </td>
           
            
            <td class="column13 style12 s">Otro </td>
            <td class="column15 style11 null">

                <input type="checkbox" id="cbox2" value="second_checkbox" (change)="checkValue6($event)"
                [disabled]="check6" > 

            </td>
            <td class="column14 style39 s" >Cúal: </td>
            

                <input type="text" class="form-control" name="numerodoc" style="width: 100%;"
                placeholder="Cual" class="form-control" id="inputdoc" [disabled]="txt"  >

          
            <td >
            </td>
            <td >
            </td>
            <td >
            </td>
            <td >
            </td>
            
            <td STYLE="border-left: 3px solid #000000">
            </td>

          </tr>
          
          <tr  STYLE="border-top: 3px solid #000000;border-left: 3px solid #000000" >
            <td class="column0 style24 s">VALOR INFORMATIVO </td>
            
            
            
            <td class="column4 style44 s">Mes: 

                <select name="idnivel1" class="select-css" style="width: 100%;" 
                options="options" placeholder="nivel" >
                <option *ngFor="let do of pre ">{{do.Mes }} </option>
                </select>


            </td>
            <td class="column5 style45 s">Valor: 

                <select name="idnivel1" class="select-css" style="width: 100%;" 
                options="options" placeholder="nivel" >
                <option *ngFor="let do of pre ">{{do.ValorCop }} </option>
                </select>

            </td>
            
            <td class="column9 style47 s">Mes: 
                <select name="idnivel1" class="select-css" style="width: 100%;" 
                options="options" placeholder="nivel" >
                <option *ngFor="let do of pre ">{{do.Mes }} </option>
                </select>


            </td>
            
            <td class="column11 style45 s">Valor: 

                <select name="idnivel1" class="select-css" style="width: 100%;" 
                options="options" placeholder="nivel" >
                <option *ngFor="let do of pre ">{{do.ValorCop }} </option>
                </select>

            </td>
            
            <td class="column13 style47 s">Mes: 

                <select name="idnivel1" class="select-css" style="width: 100%;" 
                options="options" placeholder="nivel" >
                <option *ngFor="let do of pre ">{{do.Mes }} </option>
                </select>

            </td>
            
            <td class="column15 style45 s">Valor: 


                <select name="idnivel1" class="select-css" style="width: 100%;" 
                options="options" placeholder="nivel" >
                <option *ngFor="let do of pre ">{{do.ValorCop }} </option>
                </select>

            </td>

            <td >
            </td>
            <td >
            </td>
            <td >
            </td>
            <td >
            </td>
            <td >
            </td>
            <td STYLE="border-left: 3px solid #000000">
            </td>
           
          </tr>
          <tr class="row9" STYLE=" border-left: 3px solid #000000" WIDTH=27 HEIGHT=30 ALIGN=LEFT VALIGN=BOTTOM SDNUM="1033;1033;General">
            <td class="column0 style29 s">DEL PRECIO DEL AAVN</td>
            
           
            
          

            <td class="column4 style49 s">Mes: 

                <select name="idnivel1" class="select-css" style="width: 100%;" 
                options="options" placeholder="nivel" >
                <option *ngFor="let do of pre ">{{do.Mes }} </option>
                </select>


            </td>
            <td class="column5 style12 s">Valor: 

                <select name="idnivel1" class="select-css" style="width: 100%;" 
                options="options" placeholder="nivel" >
                <option *ngFor="let do of pre ">{{do.ValorCop }} </option>
                </select>


            </td>
           
            <td class="column9 style39 s">Mes: 

                <select name="idnivel1" class="select-css" style="width: 100%;" 
                options="options" placeholder="nivel" >
                <option *ngFor="let do of pre ">{{do.Mes }} </option>
                </select>

            </td>
         
            <td class="column11 style12 s">Valor: 

                <select name="idnivel1" class="select-css" style="width: 100%;" 
                options="options" placeholder="nivel" >
                <option *ngFor="let do of pre ">{{do.ValorCop }} </option>
                </select>

            </td>
           
            <td class="column13 style39 s">Mes: 

                <select name="idnivel1" class="select-css" style="width: 100%;" 
                options="options" placeholder="nivel" >
                <option *ngFor="let do of pre ">{{do.Mes }} </option>
                </select>

            </td>
            
            <td class="column15 style12 s">Valor:

                <select name="idnivel1" class="select-css" style="width: 100%;" 
                options="options" placeholder="nivel" >
                <option *ngFor="let do of pre ">{{do.ValorCop }} </option>
                </select>

            </td>

            <td >
            </td>
            <td >
            </td>
            <td >
            </td>
            <td >
            </td>
            <td >
            </td>
            <td STYLE="border-left: 3px solid #000000">
            </td>
           
          </tr>
          <tr class="row10" STYLE="border-left: 3px solid #000000" >
            
          
            <td class="column2 style13 null" ></td>
            
            
            
          

            <td class="column4 style49 s" >Mes: 


                <select name="idnivel1" class="select-css" style="width: 100%;" 
                options="options" placeholder="nivel" >
                <option *ngFor="let do of pre ">{{do.Mes }} </option>
                </select>

            </td>
            <td class="column5 style12 s" >Valor: 

                <select name="idnivel1" class="select-css" style="width: 100%;" 
                options="options" placeholder="nivel" >
                <option *ngFor="let do of pre ">{{do.ValorCop }} </option>
                </select>

            </td>
            
            <td class="column9 style39 s" >Mes: 

                <select name="idnivel1" class="select-css" style="width: 100%;" 
                options="options" placeholder="nivel" >
                <option *ngFor="let do of pre ">{{do.Mes }} </option>
                </select>

            </td>
           
            <td class="column11 style12 s" >Valor: 

                <select name="idnivel1" class="select-css" style="width: 100%;" 
                options="options" placeholder="nivel" >
                <option *ngFor="let do of pre ">{{do.ValorCop }} </option>
                </select>

            </td>
           
            <td class="column13 style39 s" >Mes: 

                <select name="idnivel1" class="select-css" style="width: 100%;" 
                options="options" placeholder="nivel" >
                <option *ngFor="let do of pre ">{{do.Mes }} </option>
                </select>

            </td>
            
            <td class="column15 style12 s"  >Valor: 

                <select name="idnivel1" class="select-css" style="width: 100%;" 
                options="options" placeholder="nivel" >
                <option *ngFor="let do of pre ">{{do.ValorCop }} </option>
                </select>

            </td>
            
            <td >
            </td>
            <td >
            </td>
            <td >
            </td>
            <td >
            </td>
            <td >
            </td>
            <td STYLE="border-left: 3px solid #000000">
            </td>

          </tr>

         

     
          

        </tbody>
      </table>

      <table class="table" style="border-collapse: collapse;"  [hidden]="visible" >
          <thead class="thead-green">
            <tr  STYLE="border-top: 3px solid #000000" WIDTH=27 HEIGHT=30 ALIGN=LEFT VALIGN=BOTTOM SDNUM="1033;1033;General" >
              <th scope="col" style="font-size: 9px;" ># </th>
              <th scope="col" style="font-size: 9px;">Fecha entrada </th>
              <th scope="col" style="font-size: 9px;">Numero de acta </th>
              <th scope="col" style="font-size: 9px;">No. Lote</th>
              <th scope="col" style="font-size: 9px;">Fecha de vencimiento</th>
              <th scope="col" style="font-size: 9px;">(Entrada)unidades</th >
              <th scope="col" style="font-size: 9px;">Unidades</th >
              <th scope="col" style="font-size: 9px;">Beneficiarios</th >
              <th scope="col" style="font-size: 9px;">Unidades ejecutoras</th>
              
              <th scope="col" style="font-size: 9px;">Existencias a lote(Unidades)</th>
              <th scope="col" style="font-size: 9px;">Existencias punto de entrega(Unidades)</th>
              <th scope="col" style="font-size: 9px;">Reserva(Unidades)</th>
              <th scope="col" style="font-size: 9px;">Entregado</th>
              <th scope="col" style="font-size: 9px;">Nombre</th>
              <th scope="col" style="font-size: 9px;">Entidad</th>
              <th scope="col" style="font-size: 9px;">Fecha</th>
            </tr>
          </thead>
          <tbody>
            <tr  *ngFor="let cen of au" >
              <th scope="row"style="font-size: 9px;">{{cen.idBienestarina  }}</th>
              <th scope="row" style="font-size: 9px;">{{cen.FechaRecepcion }}</th>
              <th scope="row" style="font-size: 9px;">{{cen.numero}}</th>
              <th scope="row"style="font-size: 9px;" >{{cen.lote }}</th>
              <th scope="row" style="font-size: 9px;" >{{cen.FechaVencimiento }}</th>
              <th scope="row" style="font-size: 9px;" >{{cen.Cantidad  }}</th>
              <th scope="row" style="font-size: 9px;">{{cen.cantidad  }}</th>
              <th scope="row" style="font-size: 9px;"> <input type="checkbox" value="second_checkbox" > </th>
              <th scope="row"  ><input type="checkbox"  value="second_checkbox" > </th>
              <th scope="row" style="font-size: 9px;">{{cen.lote1 }}</th>
              <th scope="row" ><input type="text" name="cen" size="1" /></th>
              <th scope="row" ><input type="text" name="cen" size="1" /></th>
              <th scope="row"><input type="text" name="cen" size="1" /></th>
              <th scope="row"><input type="text" name="cen" size="1"  /></th>
              <th scope="row"><input type="text" name="cen" size="1"  /></th>
              <th scope="row"><input type="date" name="cen" size="1"  /></th>
            </tr>
            
          </tbody>
          
      
      

       
        
          
        </table>

          
         <table class="table"  >
         
          <tr >
            <td >Firma del responsable del punto de entrega 


                <input type="text" class="form-control" name="numerodoc" style="width: 50%;"
                 class="form-control" id="inputdoc">

            </td>
            
          </tr>

          <tr >
            <td >Cédula del responsable del punto de entrega

              <input type="text" class="form-control" name="numerodoc" style="width: 50%;"
                 class="form-control" id="inputdoc">


            </td>
            
          </tr>
          <tr >
           
            <td>Antes de imprimir este documento… piense en el medio ambiente!</td>
            
          </tr>
         
        </table>


 </div>
     
 <div class="trans">
      <button class="btn btn-dark" (click)="Generareporte()">Generar Reporte</button> 
    </div>
   