
<html>
		<body>
		<h1>Crear Usuario</h1>

		<h1>Usuario y Asignación de Roles</h1>
		<div class="container">
		 <div class="card card-container">
		
		<form class="form-signin padding" >
		
		<span class="label success" >Usuario en el sistema</span>
		<h2></h2>
		<input type="text" id="inputusuariosistema" placeholder="Ususario Sistema" required autofocus>
		<h2></h2>
		<span class="label success">Tipo Documento</span>
		<h2></h2>
		
		<select class="select-css">
				<option value="0">PE</option>
				<option value="1">UDS</option>
				<option value="2">ADMINISTRADOR</option>
				
		</select>
		
               <h2></h2>
               <span class="label success">Tipo Documento</span>
               <h2></h2>
               <select class="select-css">
                    <option value="0">Rol1</option>
                    <option value="1">Rol2</option>
                    <option value="2">Rol3</option>
                    <option value="2">Rol4</option>
                    <option value="2">Rol5</option>
                    <option value="2">Rol6</option>
                    <option value="2">Rol7</option>
                    <option value="2">Rol8</option>
                    <option value="2">Rol9</option>
                    <option value="2">Rol10</option>

                    
            </select>
            <h2></h2>
			   <button type="button" class="btn btn-success" routerLink="/datoscontactousuario">siguiente</button>
			   <h2></h2>
		</form><!-- /form -->
		</div><!-- /card-container -->
		</div><!-- /card-container -->






	</body>
</html>