<nav class="navbar navbar-success bg-success">
    <button class="btn btn-dark" routerLink="/reportentregab">Volver</button>
  </nav>

  <table class="table" id="contentToConvert">
    <thead class="thead-green" >
      <tr>
        <th scope="col">#</th>
        <th scope="col">Lote</th>
        <th scope="col">Fecha vencimiento</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Unidad</th>
        <th scope="col">Acudientes</th>
        <th scope="col">Beneficiarios </th>
        <th scope="col">Centro distribución</th>
        <th scope="col">Almacenés</th>
        <th scope="col">Tipo bienesterina</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sal of centroB">
        <th scope="row">{{sal.idEntregaBeneficiario}}</th>
        <td>{{sal.lote}}</td>
        <td>{{sal.fechavencimiento}}</td>
        <td>{{sal.cantidad}}</td>
        <td>{{sal.unidad}}</td>
        <td>{{sal.NombrePadre}}</td>
        <td>{{sal.Nombrecompleto}}</td>
        <td>{{sal.centrodistribucion}}</td>
        <td>{{sal.almacenes  }}</td>
        <td>{{sal.TipoBienesterina}}</td>

      </tr>
    </tbody>
  </table>

  <div class="trans">
    <button class="btn btn-dark" (click)="Generareporte()">Generar reporte</button>
  </div>