<nav class="navbar navbar-success bg-success">
	<button class="btn btn-dark" routerLink="/usuariosv">Volver</button>
  </nav>
  
  <div class="col-md-4 offset-md-4" style="padding-top: 50px;" padding>
	<div class="card" padding>
	  <div class="card-body" padding>
		<form>
			
				<h1>Crear Usuarios</h1>

				<span >Seleccionar nivel</span>
			   <h2></h2>
			   
			   <select name="estadomaestro" [(ngModel)]="nivel" (change)="onChange($event)" class="select-css">
					<option >Centrozonal</option>
					<Option>Punto de entrega</Option>
					<Option >Unidad de servicio</Option>
		    </select>
			<h2></h2>
			<select name="idnivel1" class="select-css" style="width: 100%;" [(ngModel)]="x.idCentrosZonales"
			options="options" placeholder="nivel" [hidden]="habilitado">
			<option *ngFor="let do of cen " [value]="do.idCentrosZonales">{{do.NombreCentroZonal }} </option>
	
		  </select>

		  <select name="idnivel2" class="select-css" style="width: 100%;" [(ngModel)]="x.idPuntoEntrega"
			options="options" placeholder="nivel" [hidden]="habilitado1">
			<option *ngFor="let do of pe" [value]="do.idPuntoEntrega">{{do.NombrePE }} </option>
	
		  </select>

		  <select name="idnivel3" class="select-css" style="width: 100%;" [(ngModel)]="x.idUDS" 
			options="options" placeholder="nivel" [hidden]="habilitado2">
			<option *ngFor="let do of ud" [value]="do.idUDS">{{do.NombreUDS }} </option>
	
		  </select>
				
		  <div class="form-group">

				
			   <h1>Datos Generales Usuario</h1>
			   <h2></h2>
			   <span  >Estado del dato Maestro</span>
			   <h2></h2>
			   
			   <select name="estadomaestro" [(ngModel)]="x.Estado" class="select-css">
					<option value="1"> Habilitar</option>
					<Option value="0">Inhabilitar</Option>
		 </select>
		
			   <h2></h2>
			   <span >Tipo Documento</span>
			   <h2></h2>
			   
			   <select name="idRegional" class="select-css" style="width: 100%;" [(ngModel)]="x.idTipoDocumento"
			   options="options" placeholder="tipo documento">
			   <option *ngFor="let do of doc" [value]="do.idTipoDocumento">{{do.NombreTipo }} </option>
			 </select>
				  
			   
			   <h2></h2>
		   <span >Numero de Documento</span>
			   <h2></h2>
			   <input type="number" class="form-control" [(ngModel)]="x.NumeroDocumento" name="numerodoc"
			   placeholder="numero Documento" class="form-control" id="inputdoc">
		   
			   
	   
		   <h2></h2>
			   <span >Nombres</span>
			   <h2></h2>
			   <input type="text" class="form-control" [(ngModel)]="x.Nombres" name="nombre"
			   placeholder="Nombres" class="form-control" id="nom">
		 
			   <h2></h2>
			   <span >Apellidos</span>
			   <h2></h2>
			   <input type="text" class="form-control" [(ngModel)]="x.Apellidos" name="apellidos"
			   placeholder="Apellidos" class="form-control" id="app">
		   <h2></h2>
		 
			   <span >Fecha de Ingreso</span>
			   <h2></h2>
			   <input type="date" class="form-control" [(ngModel)]="x.FechaIngreso" name="fechai" placeholder="Fecha" min="1900-01-01" max="2050-12-31" class="form-control">
		   
				<h2></h2>
				{{today}}
				<h1>Usuario y Asignación de Roles</h1>
				<span  >Usuario en el sistema</span>
		 <h2></h2>
		 <input type="text" class="form-control" [(ngModel)]="x.NombreUsuarioSistema" name="Usuario"
			   placeholder="Usuario Sistema" class="form-control" id="usu">
	   
		 <h2></h2>
		 <span >Tipo Usuario</span>
		 <h2></h2>
		 
		 <select name="idtipousuario" class="select-css" style="width: 100%;" [(ngModel)]="x.TipoUsuario"
		 options="options" placeholder="tipo usuario">
		 <option *ngFor="let do of rol" [value]="do.idRolPersona">{{do.RolPersona  }} </option>
	   </select>

	   <span  >Contraseña</span>
	   <h2></h2>
	   <input type="text" class="form-control" [(ngModel)]="x.password" name="password"
			 placeholder="Contraseña" class="form-control" id="psw">
	 
	   <h2></h2>

					<h2></h2>
					
				 
				 <h1>Datos de contacto</h1>
				 <span  >Direccion</span>
				 <h2></h2>
				 
				 
				 <input type="text" class="form-control" [(ngModel)]="x.Direccion" name="Nombredireccion"
							 placeholder="Direccion" class="form-control">
				 
				 
				 <h2></h2>
				 <span >Telefono Fijo 1</span>
				 <h2></h2>
				 
				 <input type="number" class="form-control" [(ngModel)]="x.TelefonoFijo" name="telefonof1"
							 placeholder="Telefono fijo 1" class="form-control">
				 
				 <h2></h2>
				 <span >Telefono Fijo 2</span>
				 <h2></h2>
				 <input type="number" class="form-control" [(ngModel)]="x.TelefonoFijo2" name="telefonof2"
							 placeholder="Telefono fijo 2" class="form-control">
				 <h2></h2>
				 <span >Telefono Movil 1</span>
				 <h2></h2>
				 <input type="number" class="form-control" [(ngModel)]="x.TelefonoMovil" name="telefonom1"
							 placeholder="Telefono movil 1" class="form-control">
				 <h2></h2>
				 <span >Telefono movil 2</span>
				 <h2></h2>
				 <input type="number" class="form-control" [(ngModel)]="x.TelefonoMovil2" name="telefonom2"
							 placeholder="Telefono movil 2" class="form-control">
				 <h2></h2>
				 <span>Email</span>
				 <h2></h2>
				 <input type="text" class="form-control" [(ngModel)]="x.Email" name="email"
				 placeholder="Email" class="form-control">
				 
					  <h2></h2>
					  
						 
					  <button (click)="onClickMe()" class="btn btn-success">Aceptar</button>
						 
					  <h2></h2>
			   

			</div>
		</form>
	</div>
  </div>
</div>
