<nav class="navbar navbar-success bg-success">
  <button class="btn btn-dark" routerLink="/salidabeneficiario">Volver</button>
</nav>

<div class="col-md-4 offset-md-4" style="padding-top: 50px;" padding>
  <div class="card" padding>
    <div class="card-body" padding>
      <form class="form-signin was-validated" style="justify-content: center; margin-bottom: 70px;" novalidate>
        <div class="form-group">


          <h1>Salida para beneficiario </h1>
          <h2></h2>

          <span>Referencia bienestarina</span>
          <h2></h2>

          <select name="idreferencia" class="select-css" style="width: 100%;" [(ngModel)]="sal.idTipoBienesterina"
            options="options" placeholder="referencia" minlength="0" required="" class="form-control">
            <option *ngFor="let ud of tip" [value]="ud.idTipoBienesterina ">{{ud.TipoBienesterina }} </option>
          </select>

          <br>

          <span>Centro de distribución de origen</span>
          <h2></h2>

          <select name="idcentrodistribucion" class="select-css" style="width: 100%;"
            [(ngModel)]="sal.idCentroDistribucion" options="options" placeholder="almacen" minlength="0" required="" class="form-control">
            <option *ngFor="let ud of cen" [value]="ud.idCentroDistribucion">{{ud.Nombre }} </option>
          </select>

          <h2></h2>

          <span>Almacén de origen</span>
          <h2></h2>

          <select name="idalmacen" class="select-css" style="width: 100%;" [(ngModel)]="sal.idAlmacenes"
            options="options" placeholder="almacen" minlength="0" required="" class="form-control">
            <option *ngFor="let ud of alm" [value]="ud.idAlmacenes">{{ud.Nombre }} </option>
          </select>

          <br> 

          <span> Inventario</span>
          <h2></h2>

          <select name="idinv" class="select-css" style="width: 100%;" (change)="onChange3($event)" [(ngModel)]="idinv"
            options="options" placeholder="inventario" (change)="onChange1($event)" minlength="0" required="" class="form-control">
            <option *ngFor="let ud of inv" [value]="ud.idInventario">{{ud.Nombre }} </option>
          </select>

          <h2></h2>

          <span>Lote</span>
          <h2></h2>
          <input type="text" class="form-control" [(ngModel)]="sal.lote" name="cane" placeholder="Lote"
            class="form-control" id="inputen"  minlength="0" required="" class="form-control">

          <h2></h2>


          <span>Fecha de vencimiento </span>
          <h2></h2>
          <input type="date" class="form-control" [(ngModel)]="sal.fechavencimiento" name="fechai" placeholder="Fecha"
            min="2018-01-01" max="2050-12-31" class="form-control" minlength="0" required="" class="form-control">

          <h2></h2>

          <span>Unidad de medida</span>
          <h2></h2>

          <select name="unidad" [(ngModel)]="sal.unidad" (change)="onChange3($event)" class="select-css" minlength="0" required="" class="form-control">
            <option [value]="item" *ngFor="let item of unidadmedida">{{item}} </option>
          </select>

          <h2></h2>


          <span>Cantidad</span>
          <h2></h2>
          <input type="number" class="form-control" [(ngModel)]="sal.cantidad" name="cantidad" (keyup)="onKey($event)"
            placeholder="Cantidad" class="form-control" id="inputen" required="" class="form-control">

          <h2></h2>

          <div id="unidad" [hidden]="habilitado">
            <h2></h2>
            <span>Cantidad líquida</span>
            <h2></h2>
            <input type="number" class="form-control" [(ngModel)]="sal.Cantidad2" name="Cantidad2"
              placeholder="Cantidad líquida" (keyup)="onKey2($event)" class="form-control" id="inputcap" minlength="0" required="" class="form-control">

            <h2></h2>
          </div>

          <span>Beneficiario </span>
          <h2></h2>

          <select name="idbenicbf" class="select-css" style="width: 100%;" [(ngModel)]="sal.idBeneficiarios"
            options="options" placeholder="" minlength="0" required="" class="form-control">
            <option *ngFor="let ud of ben" [value]="ud.idBeneficiarios">{{ud.PrimerNombre || ud.PrimerApellido}}
            </option>
          </select>

          <h2></h2>

          <span>Acudiente  </span>
          <h2></h2>

          <select name="idacuicbf" class="select-css" style="width: 100%;" [(ngModel)]="sal.idAcudientes"
            options="options" placeholder="" minlength="0" required="" class="form-control">
            <option *ngFor="let ud of acu" [value]="ud.idAcudientes">{{ud.Nombres || ud.Apellidos}} </option>
          </select>

          <h2></h2>
          <br>
          <button (click)="onClickMe()" class="btn btn-success btn-block">Aceptar</button>

          <h2></h2>



        </div>

      </form>
    </div>
  </div>
</div>