<nav class="navbar navbar-success bg-success">
  <button class="btn btn-dark" routerLink="/salidabeneficiario">Volver</button>
</nav>

<div class="col-md-4 offset-md-4" style="padding-top: 50px;" padding>
  <div class="card" padding>
    <div class="card-body" padding>
      <form [formGroup]="czForm" (ngSubmit)="onSubmit()">
        <h1>Salida para beneficiario </h1>
        <h2></h2>
        <div class="form-group">
          <span>Tipo bienestarina</span>
          <h2></h2>

          <select formControlName="idTipoBienesterina" [(ngModel)]="sal.idTipoBienesterina"
            (ngModelChange)="Referencia($event)" placeholder="referencia" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.idTipoBienesterina.errors }">
            <option *ngFor="let ud of tip" [value]="ud.idTipoBienesterina ">{{ud.TipoBienesterina }} </option>
          </select>

          <div *ngIf="submitted && f.idTipoBienesterina.errors" class="invalid-feedback">
            <div *ngIf="f.idTipoBienesterina.errors.required">Tipo de bienestarina es requerido</div>
          </div>
        </div>

        <div class="form-group">
          <label>Referencia bienestarina</label>
          <select formControlName="Referencia" class="form-control" [(ngModel)]="refe.referencia"
            [ngClass]="{ 'is-invalid': submitted && f.Referencia.errors }">
            <option *ngFor="let t of Referencias" [value]="t">{{t}}</option>
          </select>
          <div *ngIf="submitted && f.Referencia.errors" class="invalid-feedback">
            <div *ngIf="f.Referencia.errors.required">Referencia es requerida</div>
          </div>
        </div>

        <div class="form-group">
          <span>Unidad de medida</span>
          <h2></h2>
          <select [(ngModel)]="sal.unidad" formControlName="unidad" (change)="onChange3($event)" class="select-css"
            class="form-control" [ngClass]="{ 'is-invalid': submitted && f.unidad.errors }">
            <option [value]="item" *ngFor="let item of unidadmedida">{{item}} </option>
          </select>
          <div *ngIf="submitted && f.unidad.errors" class="invalid-feedback">
            <div *ngIf="f.unidad.errors.required">Presentación es requerida</div>
          </div>
          <h2></h2>
        </div>

        <div class="form-group">

          <span>Almacén de origen</span>
          <h2></h2>

          <select formControlName="idAlmacenes" [(ngModel)]="sal.idAlmacenes" placeholder="almacen" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.idAlmacenes.errors }" (ngModelChange)="traerAlmacen($event)">
            <option *ngFor="let ud of alm" [value]="ud.idAlmacenes">{{ud.Nombre }} </option>
          </select>

          <div *ngIf="submitted && f.idAlmacenes.errors" class="invalid-feedback">
            <div *ngIf="f.idAlmacenes.errors.required">Almacén de origen es requerido</div>
          </div>

        </div>

        <div class="form-group">

          <span>Centro de distribución de origen</span>
          <h2></h2>

          <select formControlName="idCentroDistribucion" [(ngModel)]="sal.idCentroDistribucion" placeholder="almacen"
            class="form-control" [ngClass]="{ 'is-invalid': submitted && f.idCentroDistribucion.errors }">
            <option *ngFor="let ud of cen" [value]="ud.idCentroDistribucion">{{ud.Nombre }} </option>
          </select>

          <div *ngIf="submitted && f.idCentroDistribucion.errors" class="invalid-feedback">
            <div *ngIf="f.idCentroDistribucion.errors.required">Centro de distribución de origen es requerido</div>
          </div>

          <h2></h2>

        </div>




        <div class="form-group">

          <span>Lote</span>
          <h2></h2>
          <select formControlName="lote" class="form-control" [(ngModel)]="sal.lote" placeholder="Lote" [ngClass]="{ 'is-invalid': submitted && f.lote.errors }">
            <option *ngFor="let lo of lotes" [value]="lo.lote">{{lo.lote }} </option>
          </select>

          <div *ngIf="submitted && f.lote.errors" class="invalid-feedback">
            <div *ngIf="f.lote.errors.required">Lote es requerido</div>
          </div>

          <h2></h2>

        </div>

        <div class="form-group">

          <span>Fecha de vencimiento </span>
          <h2></h2>
          <input type="date" formControlName="fechavencimiento" [(ngModel)]="sal.fechavencimiento" placeholder="Fecha"
            min="2018-01-01" max="2050-12-31" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.fechavencimiento.errors }">

          <div *ngIf="submitted && f.fechavencimiento.errors" class="invalid-feedback">
            <div *ngIf="f.fechavencimiento.errors.required">Fecha de vencimiento es requerido</div>
          </div>
          <h2></h2>


        </div>



        <div class="form-group">

          <span>Cantidad</span>
          <h2></h2>
          <input type="text" class="form-control" formControlName="cantidad" [(ngModel)]="sal.cantidad"
            (keyup)="onKey($event)" placeholder="Cantidad" [ngClass]="{ 'is-invalid': submitted && f.cantidad.errors }">

          <div *ngIf="submitted && f.cantidad.errors" class="invalid-feedback">
            <div *ngIf="f.cantidad.errors.required">Cantidad es requerido</div>
            <div *ngIf="f.cantidad.errors.pattern">Cantidad solo puede conterner numeros</div>
          </div>

          <h2></h2>


        </div>

        

        <div class="form-group">

          <span>Beneficiario </span>
          <h2></h2>

          <select [(ngModel)]="sal.idBeneficiarios" placeholder="" class="form-control" (ngModelChange)="onChange($event)"
            formControlName="idBeneficiarios" [ngClass]="{ 'is-invalid': submitted && f.idBeneficiarios.errors }" (ngModelChange)="acudientes($event)" >
            <option *ngFor="let ud of ben" [value]="ud.idBeneficiarios"  >{{ud.PrimerNombre}}  {{ud.PrimerApellido}}
            </option>
          </select>

          <div *ngIf="submitted && f.idBeneficiarios.errors" class="invalid-feedback">
            <div *ngIf="f.idBeneficiarios.errors.required">Beneficiario es requerido</div>
          </div>

          <h2></h2>

        </div>

        <div class="form-group">
          <span>Acudiente </span>
          <h2></h2>
          <select [(ngModel)]="sal.idAcudientes" placeholder="" class="form-control" formControlName="idAcudientes"
            [ngClass]="{ 'is-invalid': submitted && f.idAcudientes.errors }">
            <option *ngFor="let ud of acu" [value]="ud.idAcudientes">{{ud.Nombres || ud.Apellidos}} </option>
          </select>

          <div *ngIf="submitted && f.idAcudientes.errors" class="invalid-feedback">
            <div *ngIf="f.idAcudientes.errors.required">Acudiente es requerido</div>
          </div>
          <h2></h2>
        </div>

        <div class="form-group">


          <button type="submit" class="btn btn-success btn-block" [disabled]="validacion" >Aceptar</button>

        </div>


      </form>
    </div>
  </div>
</div>