<nav class="navbar navbar-fixed-top">
    <td>
    <button class="btn btn-dark" routerLink="/menu">Volver</button>
           
          </td>
  </nav>
     
    <table class="table" id="contentToConvert">
        <thead class="thead-green">
            {{Nombrereporte}}       {{fecha}}
          <tr>
            <th scope="col">#</th>
            <th scope="col">Número documento</th>
            <th scope="col">Fecha ingreso</th>
            <th scope="col">Fecha nacimiento</th>
            <th scope="col">Primer nombre</th>
            <th scope="col">Primer apellido</th>
            <th scope="col">Segundo nombre</th>
            <th scope="col">Segundo apellido</th>
            <th scope="col">Dirección</th>
            <th scope="col">País</th>
            <th scope="col">Departamento</th>
            <th scope="col">Municipio</th>
            <th scope="col">Teléfono fijo</th>
            <th scope="col">Teléfono fijo2</th>
            <th scope="col">Teléfono movil</th>
            <th scope="col">Teléfono movil2</th>
            <th scope="col">Correo electrónico</th>
            <th scope="col">Estado</th>
            <th scope="col">Servicio o modalidad</th>
            <th scope="col">Género</th>
            <th scope="col">Tipo documento</th>
       
    
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let centro of benefi">
            <th scope="row">{{centro.idBeneficiarios}}</th>
            <td>{{centro.NumeroDocumento }}</td>
            <td>{{centro.FechaI  }}</td>
            <td>{{centro.FechaN }}</td>
            <td>{{centro.PrimerNombre }}</td>
            <td>{{centro.PrimerApellido }}</td>
            <td>{{centro.SegundoNombre }}</td>
            <td>{{centro.SegundoApellido }}</td>
            <td>{{centro.Direccion}}</td>
            <td>{{centro.Pais }}</td>
            <td>{{centro.Departamento  }}</td>
            <td>{{centro.Municipio }}</td>
            <td>{{centro.TelefonoFijo }}</td>
            <td>{{centro.TelefonoFijo2 }}</td>
            <td>{{centro.TelefonoMovil }}</td>
            <td>{{centro.TelefonoMovil2 }}</td>
            <td>{{centro.Email }}</td>
            <td>
            
            <div *ngIf="centro.Estado == 1">
            Habilitado
          </div>
          <div *ngIf="centro.Estado == 0">
            Deshabilitado
          </div>
            
           </td>
            <td>{{centro.ServicioOmodalidad }}</td>
            <td>{{centro.NombreGenero  }}</td>
            <td>{{centro.NombreTipo }}</td>
          
          </tr>
        </tbody>
      </table>
      <div class="trans">
      <button class="btn btn-dark" (click)="Generareporte()">Generar pdf</button>
    </div>