<nav class="navbar navbar-fixed-top">
  
    <button class="btn btn-dark" routerLink="/menu">Volver</button>
     
    <div
    style="margin-left: auto; margin-right: auto; display: inline-flex; width: 450px;
  justify-content: center; align-items: center;"
  >
    <div style="  padding: 5px; margin: auto;">
      <label>
        <mat-icon class="icon" style="font-size: larger;"
          >filter_list <a>Filtar por :</a>
        </mat-icon>
      </label>
    </div>

  <select
    class="form-control"
    style="width: 200px;"
    [(ngModel)]="fil"
    (change)="onChange()"
    [value]="Responsable"
  >
    <option>
      Municipio
    </option>
    <option>
     Fecha de ingreso
    </option>
    <option>
      Estado
    </option>
    <option>
      Servicio o modalidad
    </option>
  </select>
  </div>

  <label [hidden]="isHidden2">Municipio : </label>
  <h2></h2>
  <input
    type="text"
    placeholder="Municipio"
    [hidden]="isHidden2"
    [(ngModel)]="muni"
    name="muni"
  
  />
  <h2></h2>

  <label [hidden]="isHidden">Fecha de ingreso : </label>
  <h2></h2>
  <input
    type="text"
    placeholder="Fecha de ingreso"
    [hidden]="isHidden"
    [(ngModel)]="Fecha"
    name="Fecha"
  
  />
  <h2></h2>

  <label [hidden]="isHidden1">Estado : </label>
  <select
    class="form-control"
    style="width: 200px;"
    [(ngModel)]="est"
    name="est"
    (change)="estad()"
    [hidden]="isHidden1"
  >
    <option [value]="1">
      Habilitado
    </option>
    <option [value]="0">
      Deshabilitado
    </option>
  </select>

  <label [hidden]="isHidden3">Servicio o modalidad : </label>
  <h2></h2>
  <input type="text" 
  placeholder="Servicio o modalidad "
  [hidden]="isHidden3"
  [(ngModel)]="servicio"
  name="servicio"
  >

</nav>
     
    <table class="table" id="contentToConvert">
        <thead class="thead-green">
          <footer id="sticky-footer" class="text-white-50" style="margin-bottom: 0px; bottom: 0px;">
            <div class="container text-center" style="justify-content: center;  bottom: 0px; margin-left: auto; margin-right: auto; margin-bottom: 0px;">
     
             <img src="../../assets/icbf-logo.png" id="imagen" style="width: 65px; height: 65px; margin-left: 10px; margin-top: 10px; margin-bottom: 0px;" class="rounded float-left">
            </div>
          </footer>
          
            {{Nombrereporte}}       {{fecha}}
          <tr>
            <th scope="col">#</th>
            <th scope="col">Número documento</th>
            <th scope="col">Fecha ingreso</th>
            <th scope="col">Fecha nacimiento</th>
            <th scope="col">Primer nombre</th>
            <th scope="col">Primer apellido</th>
            <th scope="col">Segundo nombre</th>
            <th scope="col">Segundo apellido</th>
            <th scope="col">Dirección</th>
            <th scope="col">País</th>
            <th scope="col">Departamento</th>
            <th scope="col">Municipio</th>
            <th scope="col">Teléfono fijo</th>
            <th scope="col">Teléfono fijo2</th>
            <th scope="col">Teléfono movil</th>
            <th scope="col">Teléfono movil2</th>
            <th scope="col">Correo electrónico</th>
            <th scope="col">Estado</th>
            <th scope="col">Servicio o modalidad</th>
            <th scope="col">Género</th>
            <th scope="col">Tipo documento</th>
       
    
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let centro of benefi | filtrobenefi: muni | filtrobenefi: est | filtrobenefi: servicio | filtrobenefi: Fecha">
            <th scope="row">{{centro.idBeneficiarios}}</th>
            <td>{{centro.NumeroDocumento }}</td>
            <td>{{centro.FechaI  }}</td>
            <td>{{centro.FechaN }}</td>
            <td>{{centro.PrimerNombre }}</td>
            <td>{{centro.PrimerApellido }}</td>
            <td>{{centro.SegundoNombre }}</td>
            <td>{{centro.SegundoApellido }}</td>
            <td>{{centro.Direccion}}</td>
            <td>{{centro.Pais }}</td>
            <td>{{centro.Departamento}}</td>
            <td>{{centro.Municipio }}</td>
            <td>{{centro.TelefonoFijo }}</td>
            <td>{{centro.TelefonoFijo2 }}</td>
            <td>{{centro.TelefonoMovil }}</td>
            <td>{{centro.TelefonoMovil2 }}</td>
            <td>{{centro.Email }}</td>
            <td>
            
            <div *ngIf="centro.Estado == 1">
            Habilitado
          </div>
          <div *ngIf="centro.Estado == 0">
            Deshabilitado
          </div>
            
           </td>
            <td>{{centro.ServicioOmodalidad }}</td>
            <td>{{centro.NombreGenero  }}</td>
            <td>{{centro.NombreTipo }}</td>
          
          </tr>
        </tbody>
      </table>
      <div class="trans">
      <button class="btn btn-dark" (click)="Generareporte()">Generar pdf</button>
    </div>