<nav class="navbar navbar-success bg-success">
    <button class="btn btn-dark" routerLink="/centrozonali"> Crear </button>
  </nav>
  
  <table class="table">
      <thead class="thead-green">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre Centro Zonal</th>
          <th scope="col">Estado</th>
          <th scope="col">Nombre PE</th>
          <th scope="col">Codigo Externo PE</th>
          <th scope="col">Codigo Interno PE</th>
          <th scope="col">Responsable</th>
          <th scope="col">Comuna o Vereda</th>
          <th scope="col">Direccion PE</th>
          <th scope="col">Barrio PE</th>
          <th scope="col">Telefono</th> 
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cen of centros">
          <th scope="row">{{cen.idCentrosZonales}}</th>
          <td>{{cen.NombreCentroZonal}}</td>
          <td>{{cen.idMunicipios}}</td>
          <td>{{cen.idComunas}}</td>
          <td>{{cen.idBarrioVeredas}}</td>
          <td>{{cen.CodigoExternoJcz}}</td>
          <td>{{cen.CodigoExternoCZ}}</td>
          <td>{{cen.Estado}}</td>
          <td>{{cen.idRegional}}</td>
          <td>
            <button class="btn btn-primary" [routerLink]="['/centrozonali', cen.idCentrosZonales]">Modificar</button>
          </td>
        </tr>
      </tbody>
    </table>