<nav class="navbar navbar-success bg-success">
  <button class="btn btn-dark" routerLink="/puntoentregai"> Crear </button>
</nav>

<table class="table">
    <thead class="thead-green">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre Punto E</th>
        <th scope="col">CodigoInternoPE</th>
        <th scope="col">CodigoExternoPE</th>
        <th scope="col">Direccion</th>
        <th scope="col">Responsable</th>
        <th scope="col">Telefono</th>
        <th scope="col">Estado</th>
        <th scope="col">centro zonal</th>
        <th scope="col">Barrio</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pun of punto">
        <th scope="row">{{pun.idPuntoEntrega}}</th>
        <td>{{pun.NombrePE}}</td>
        <td>{{pun.CodigoInternoPE}}</td>
        <td>{{pun.CodigoExternoPE}}</td>
        <td>{{pun.Direccion}}</td>
        <td>{{pun.Responsable}}</td>
        <td>{{pun.Telefono}}</td>
        <td>{{pun.Estado}}</td>
        <td>{{pun.idCentrosZonales}}</td>
        <td>{{pun.idBarriosVeredas}}</td>
        <td>
          <button class="btn btn-primary" [routerLink]="['/centrozonali', pun.idPuntoEntrega]">Modificar</button>
        </td>
      </tr>
    </tbody>
  </table>