<nav class="navbar navbar-success bg-success">
    <button class="btn btn-dark" routerLink="/reportes">Volver</button>
 

    <label  style="text-align:left;"  >Filtar Por : </label>
    <select style="width: 200px;" class="form-control"  [(ngModel)]="fil" (change)="onChange()"> 
        <option >  
          Código interno
        </option > 
        <option> 
          Unidad de medida 
        </option > 
        <option > 
          Estado
        </option > 
        
        </select>
  
        <label [hidden]="isHidden2" class="menu"> Código interno</label>
        <input type="text"  style="width: 200px;" class="form-control" class="menu" placeholder="Código interno " [hidden]="isHidden2" [(ngModel)]="res" (ngModelChange)="cambiaLado($event)" />
    
          <label class="menu" [hidden]="isHidden">Unidad de medida </label>
        <input type="text"  style="width: 200px;" class="form-control" class="menu" placeholder="Unidad de medida " [hidden]="isHidden" [(ngModel)]="res" (ngModelChange)="cambiaLado($event)" />
  
  
        <label  [hidden]="isHidden1" class="menu"> Estado </label>
  
        <select   style="width: 200px;" class="form-control" [(ngModel)]="est" (change)="estad()"  [hidden]="isHidden1"> 
          <option   > 
            Habilitado
          </option > 
          <option  > 
            Deshabilitado
          </option > 
          
          </select>
     
          <button class="btn btn-dark" >Buscar</button>
  














  </nav>
    
    <table class="table" id="contentToConvert">
      <thead class="thead-green">
        <footer id="sticky-footer" class="text-white-50" style="margin-bottom: 0px; bottom: 0px;">
            <div class="container text-center" style="justify-content: center;  bottom: 0px; margin-left: auto; margin-right: auto; margin-bottom: 0px;">
     
             <img src="../../assets/icbf-logo.png" id="imagen" style="width: 65px; height: 65px; margin-left: 10px; margin-top: 10px; margin-bottom: 0px;" class="rounded float-left">
            </div>
          </footer>
          {{Nombrereporte}}       {{fecha}}
        <tr>
          <th scope="col">#</th>
          <th scope="col">Código interno </th>
          <th scope="col">Estado </th>
          <th scope="col">Descripción del registro</th>
          <th scope="col">Valor </th>
          <th scope="col">Unidad de medida  </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ser of servic">
          <th scope="row">{{ser.idnumerocupos}}</th>
          <td>{{ser.CodigoInterno  }}</td>
          <td>
            
              <div *ngIf="ser.EstadoDatoMaestro == 1">
                  Habilitado
                </div>
                <div *ngIf="ser.EstadoDatoMaestro == 0">
                  Deshabilitado
                </div>
            </td>
          <td>{{ser.DescripcionDelRegistro }}</td>
          <td>{{ser.Valor }}</td>
          <td>{{ser.UnidadDeMedida  }}</td>
        </tr>
      </tbody>
    </table>
    <div class="trans">
        <button class="btn btn-dark" (click)="Generareporte()" >Generar Reporte</button>
        </div>


