<nav class="navbar navbar-success bg-success">
    <button class="btn btn-dark" routerLink="/menu">Volver</button>
  </nav>
  
  <table class="table" id="contentToConvert">
      <thead class="thead-green">
        <tr>
          <th scope="col">idRolPersona</th>
          <th scope="col">Estado </th>
          <th scope="col">RolPersona </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cen of trol">
          <th scope="row">{{cen.idRolPersona}}</th>
          <td>{{cen.Estado}}</td>
          <td>{{cen.RolPersona}}</td>
        </tr>
      </tbody>
    </table>
    <div class="trans">
    <button class="btn btn-dark" (click)="Generareporte()">Generar Reporte</button>
  </div>