<nav class="navbar navbar-success bg-success">
	<button class="btn btn-dark" routerLink="/rolin">Volver</button>
  </nav>
  
  <div class="col-md-4 offset-md-4" style="padding-top: 50px;" padding>
	<div class="card" padding>
	  <div class="card-body" padding>
		<form>
				<h1>Deshabilitar Rol</h1>
		  <div class="form-group">


			<span >Estado del dato maestro</span>
			<h2></h2>
			<!-- name= "al campo de la tabla" [(ngModel)]="Roles.(Nombre de la columna)"-->
			<select name="Estado" id="Estado" [(ngModel)]="roles.Estado" style="width: 100%;" class="form-control">
				<option value="1">Habilitado</option>
				<Option value="0">Deshabilitado</Option>
            </select>
            <h2></h2>

			<button class="btn btn-success" (click)="updateDatos()" type="submit">
				Guardar
			</button> 

		</div>
	</form>
</div>
</div>
</div>




