<nav class="navbar navbar-success bg-success">
    <button class="btn btn-dark" routerLink="/reportes">Volver</button>
 
  </nav>

  <table class="table" id="contentToConvert">
    <thead class="thead-green">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Referencia</th>
        <th scope="col">Mes</th>
        <th scope="col">Año</th>
        <th scope="col">Valor Cop</th>
        <th scope="col">Estado</th>
        <th scope="col">Código</th>
      </tr>
    </thead>
    <tbody>
            <tr *ngFor="let cen of listapre">
                    <th scope="row">{{cen.idListaPrecios}}</th>
                    <td>{{cen.Referencia}}</td>
                    <td>{{cen.Mes}}</td>
                    <td>{{cen.Ano}}</td>
          <td>{{cen.ValorCop}}</td>
          <td>{{cen.Estado}}</td>
          <td>{{cen.Codigo}}</td>
       
                  </tr>
                    
            
      </tbody>
  
</table>
<div class="trans">
<button class="btn btn-primary" (click)="Generareporte()" >Generar Reporte</button>
</div>