<nav class="navbar navbar-success bg-success">
    <button class="btn btn-dark" routerLink="/reportes">Volver</button>


    <div
    style="margin-left: auto; margin-right: auto; display: inline-flex; width: 450px;
  justify-content: center; align-items: center;"
  >
    <div style="  padding: 5px; margin: auto;">
      <label>
        <mat-icon class="icon" style="font-size: larger;"
          >filter_list <a>Filtar por :</a>
        </mat-icon>
      </label>
    </div>





    <div
    style="  padding: 5px;
  margin: 5px;"
  >

 
    <select style="width: 200px;" class="form-control"  [(ngModel)]="fil" (change)="onChange()"> 
        <option >  
          Código
        </option > 
        <option> 
          Referencia
        </option > 
        <option > 
          Estado
        </option > 
        
        </select>
  
      </div>
    </div>

        <label [hidden]="isHidden2" class="menu">Código</label>
        <input type="text"  style="width: 200px;" class="form-control" class="menu" placeholder="Código  " [hidden]="isHidden2" name="cod"  [(ngModel)]="cod"  />
  
        
    
          <label class="menu" [hidden]="isHidden">Referencia </label>
        <input type="text"  style="width: 200px;" class="form-control" class="menu" placeholder="Referencia" [hidden]="isHidden" name="ref" [(ngModel)]="ref"  />
  
  
        <label  [hidden]="isHidden1" class="menu"> Estado </label>
  
        <select   style="width: 200px;" class="form-control" name="est" [(ngModel)]="est"  [hidden]="isHidden1"> 
          <option  [value]="1" > 
            Habilitado
          </option > 
          <option [value]="0" > 
            Deshabilitado
          </option > 
          
          </select>
  </nav>

  <table class="table" id="contentToConvert">
    <thead class="thead-green">
      <footer id="sticky-footer" class="text-white-50" style="margin-bottom: 0px; bottom: 0px;">
        <div class="container text-center" style="justify-content: center;  bottom: 0px; margin-left: auto; margin-right: auto; margin-bottom: 0px;">
 
         <img src="../../assets/icbf-logo.png" id="imagen" style="width: 65px; height: 65px; margin-left: 10px; margin-top: 10px; margin-bottom: 0px;" class="rounded float-left">
        </div>
      </footer>
        {{Nombrereporte}}       {{fecha}}
      <tr>
        <th scope="col">#</th>
        <th scope="col">Referencia</th>
        <th scope="col">Mes</th>
        <th scope="col">Año</th>
        <th scope="col">Valor COP</th>
        <th scope="col">Estado</th>
        <th scope="col">Código</th>
      </tr>
    </thead>
    <tbody>
            <tr *ngFor="let cen of listapre | filtropreciob: cod | filtropreciob: ref | filtropreciob: est  ">
                    <th scope="row">{{cen.idListaPrecios}}</th>
                    <td>{{cen.Referencia}}</td>
                    <td>{{cen.Mes}}</td>
                    <td>{{cen.Ano}}</td>
          <td>{{cen.ValorCop}}</td>
          <td>
            
              <div *ngIf="cen.Estado == 1">
                  Habilitado
                </div>
                <div *ngIf="cen.Estado == 0">
                  Deshabilitado
                </div>
            
            </td>
          <td>{{cen.Codigo}}</td>
       
                  </tr>
                    
            
      </tbody>
  
</table>
<div class="trans">
<button class="btn btn-dark" (click)="Generareporte()" >Generar Reporte</button>
</div>