
  <table class="table">
    <thead class="thead-green">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombres</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Estado</th>
        <th scope="col">Numero documento</th>
        <th scope="col">Fecha ingreso</th>
        <th scope="col">Nombre usuario sistema</th>
        <th scope="col">Dirección</th>
        <th scope="col">Teléfono fijo</th>
        <th scope="col">Teléfono fijo2</th>
        <th scope="col">Teléfono movil</th>
        <th scope="col">Teléfono movil2</th>
        <th scope="col">Correo electrónico</th>
        <th scope="col">UDS</th>
        <th scope="col">Tipo documento</th>
        <th scope="col">Tipo usuario</th>
        
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cen of usua">
        <th scope="row">{{cen.idUsuarios}}</th>
        <td>{{cen.Nombres}}</td>
        <td>{{cen.Apellidos}}</td>
        <td>{{cen.Estado}}</td>
        <td>{{cen.NumeroDocumento}}</td>
        <td>{{cen.FechaIngreso}}</td>
        <td>{{cen.NombreUsuarioSistema}}</td>
        <td>{{cen.Direccion}}</td>
        <td>{{cen.TelefonoFijo}}</td>
        <td>{{cen.TelefonoFijo2}}</td>
        <td>{{cen.TelefonoMovil}}</td>
        <td>{{cen.TelefonoMovil2}}</td>
        <td>{{cen.Email}}</td>
        <td>{{cen.idUDS}}</td>
        <td>{{cen.idTipoDocumento}}</td>
        <td>{{cen.TipoUsuario}}</td>
        <td>
          <button class="btn btn-primary" [routerLink]="['/ModificarBeneficiariom', cen.idUsuarios]">Modificar</button>
        </td>
      </tr>
    </tbody>
  </table>

