<app-menu></app-menu>

<nav class="navbar navbar-success bg-success">
  <button class="btn btn-dark" routerLink="/modificarusuarios1">Volver</button>
</nav>

<div class="col-md-4 offset-md-4" style="padding-top: 50px;" padding>
  <div class="card" padding>
    <div class="card-body" padding>
      <form>
        <div class="form-group">

          <!-- name= "al campo de la tabla" [(ngModel)]="regionales.(Nombre de la columna)"-->
          <select name="Estado" id="Estado" [(ngModel)]="x.Estado" style="width: 100%;" class="form-control">
            <option value="1">0</option>
            <Option value="0">1</Option>
          </select>
           <!-- name= "al campo de la tabla" [(ngModel)]="regionales.(Nombre de la columna)"-->
           <select name="tipodocumento" id="tipodocumento"  style="width: 100%;" class="form-control">
            <option value="1"> CC</option>
            <Option value="0">CE</Option>
            <Option value="0">PA</Option>
          </select>

          <input type="number" class="form-control" [(ngModel)]="x.NumeroDocumento" name="numerodoc"
          placeholder="numero Documento" class="form-control" id="inputdoc">

          <input type="text" class="form-control" [(ngModel)]="x.Nombres" name="nombre"
          placeholder="Nombres" class="form-control" id="nom">

          <input type="text" class="form-control" [(ngModel)]="x.Apellidos" name="apellidos"
		placeholder="Apellidos" class="form-control" id="app">

    <input type="date" class="form-control" [(ngModel)]="x.FechaIngreso" name="fechai" placeholder="Fecha" min="2018-01-01" max="2050-12-31" class="form-control">
  
    <input type="text" class="form-control" [(ngModel)]="x.NombreUsuarioSistema" name="Usuario"
    placeholder="Usuario Sistema" class="form-control" id="usu">
    
    <input type="text" class="form-control" [(ngModel)]="x.Direccion" name="Nombredireccion"
    placeholder="Direccion" class="form-control">

    <input type="number" class="form-control" [(ngModel)]="x.TelefonoFijo" name="telefonof1"
    placeholder="Telefono fijo 1" class="form-control">

    <input type="number" class="form-control" [(ngModel)]="x.TelefonoFijo2" name="telefonof2"
            placeholder="Telefono fijo 2" class="form-control">
            
            <input type="number" class="form-control" [(ngModel)]="x.TelefonoMovil" name="telefonom1"
            placeholder="Telefono movil 1" class="form-control">
            
            <input type="number" class="form-control" [(ngModel)]="x.TelefonoMovil2" name="telefonom2"
            placeholder="Telefono movil 2" class="form-control">
            
            <input type="text" class="form-control" [(ngModel)]="x.Email" name="email"
            placeholder="Email" class="form-control">


        </div>
        <!-- Validacion para usar el mismo form  (click)="modificar ? updateDatos() : insertDatos()"-->
        <button class="btn btn-success btn-block" type="submit" (click)="updateDatos()" routerLink="/modificarusuarios1">
          Guardar
        </button>
      </form>
    </div>
  </div>
</div>
