<nav class="navbar navbar-success bg-success">
  <button class="btn btn-dark" routerLink="/modificarbeneficiariosu">Volver</button>
</nav>

<div class="col-md-4 offset-md-4" style="padding-top: 50px;" padding>
  <div class="card" padding>
    <div class="card-body" padding>


      <form [formGroup]="beForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label>Seleccione la unidad de servicio</label>
          <select formControlName="idUDS" class="form-control" [(ngModel)]="x.idUDS"
            [ngClass]="{ 'is-invalid': submitted && f.idUDS.errors }">
            <option *ngFor="let udss of ud" [value]="udss.idUDS">{{udss.NombreUDS}}</option>
          </select>
          <div *ngIf="submitted && f.idUDS.errors" class="invalid-feedback">
            <div *ngIf="f.idUDS.errors.required">La unidad de servicio es requerido</div>
          </div>
        </div>
        <h1>Datos generales beneficiario</h1>

        <div class="form-group">
          <label>Estado del beneficiario</label>
          <select formControlName="Estado" class="form-control" [(ngModel)]="x.Estado"
            [ngClass]="{ 'is-invalid': submitted && f.Estado.errors }" disabled>
            <option value="1">Habilitado</option>
            <option value="0">Deshabilitado</option>

          </select>
          <div *ngIf="submitted && f.Estado.errors" class="invalid-feedback">
            <div *ngIf="f.Estado.errors.required">Estado es requerido</div>
          </div>
        </div>

        <div class="form-group">
          <label>Tipo de documento</label>
          <select formControlName="idTipoDocumentoA" class="form-control" [(ngModel)]="x.idTipoDocumento"
            [ngClass]="{ 'is-invalid': submitted && f.idTipoDocumentoA.errors }">
            <option *ngFor="let do of doc" [value]="do.idTipoDocumento">{{do.NombreTipo}}</option>
          </select>

          <div *ngIf="submitted && f.idTipoDocumentoA.errors" class="invalid-feedback">
            <div *ngIf="f.idTipoDocumentoA.errors.required"> Tipo de documento es requerido</div>
          </div>
        </div>

        <div class="form-group">
          <label>Número de documento</label>

          <input type="text" placeholder="Número de documento" formControlName="NumeroDocumento" class="form-control"
            [(ngModel)]="x.NumeroDocumento" [ngClass]="{ 'is-invalid': submitted && f.NumeroDocumento.errors }" />

          <div *ngIf="submitted && f.NumeroDocumento.errors" class="invalid-feedback">
            <div *ngIf="f.NumeroDocumento.errors.required">El número de documento es requiredo
            </div>
            <div *ngIf="f.NumeroDocumento.errors.pattern"> El número de documento solo puede
              conterner
              numeros
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>Primer nombre</label>

          <input type="text" placeholder="Primer nombre" formControlName="PrimerNombre" class="form-control"
            [(ngModel)]="x.PrimerNombre" [ngClass]="{ 'is-invalid': submitted && f.PrimerNombre.errors }" />

          <div *ngIf="submitted && f.PrimerNombre.errors" class="invalid-feedback">
            <div *ngIf="f.PrimerNombre.errors.required"> Primer nombre es requiredo</div>
            <div *ngIf="f.PrimerNombre.errors.pattern"> Primer nombre solo puede
              contener letras minusculas o
              mayusculas</div>
          </div>
        </div>

        <div class="form-group">
          <label>Segundo nombre</label>

          <input type="text" placeholder="Segundo nombre" formControlName="SegundoNombre" class="form-control"
            [(ngModel)]="x.SegundoNombre" [ngClass]="{ 'is-invalid': submitted && f.SegundoNombre.errors }" />

          <div *ngIf="submitted && f.SegundoNombre.errors" class="invalid-feedback">
            <div *ngIf="f.SegundoNombre.errors.required"> El segundo nombre es requiredo</div>
            <div *ngIf="f.SegundoNombre.errors.pattern">El segundo nombre solo puede
              contener letras minusculas o
              mayusculas</div>
          </div>
        </div>

        <div class="form-group">
          <label>Primer apellido</label>

          <input type="text" placeholder="Primer apellido" formControlName="PrimerApellido" class="form-control"
            [(ngModel)]="x.PrimerApellido" [ngClass]="{ 'is-invalid': submitted && f.PrimerApellido.errors }" />

          <div *ngIf="submitted && f.PrimerApellido.errors" class="invalid-feedback">
            <div *ngIf="f.PrimerApellido.errors.required">El primer apellido es requiredo</div>
            <div *ngIf="f.PrimerApellido.errors.pattern">El primer apellido solo puede conterner
              letras
              minusculas o
              mayusculas</div>
          </div>
        </div>

        <div class="form-group">
          <label>Segundo apellido</label>

          <input type="text" placeholder="Segundo apellido" formControlName="SegundoApellido" class="form-control"
            [(ngModel)]="x.SegundoApellido" [ngClass]="{ 'is-invalid': submitted && f.SegundoApellido.errors }" />

          <div *ngIf="submitted && f.SegundoApellido.errors" class="invalid-feedback">
            <div *ngIf="f.SegundoApellido.errors.required">El segundo apellido es requiredo</div>
            <div *ngIf="f.SegundoApellido.errors.pattern">El segundo apellido solo puede conterner
              letras
              minusculas o
              mayusculas</div>
          </div>
        </div>

        <div class="form-group">
          <label>Género</label>
          <select formControlName="idGenero" class="form-control" [(ngModel)]="x.idGenero"
            [ngClass]="{ 'is-invalid': submitted && f.idGenero.errors }">
            <option *ngFor="let gener of gen" [value]="gener.idGenero">{{gener.NombreGenero}}</option>
          </select>
          <div *ngIf="submitted && f.idGenero.errors" class="invalid-feedback">
            <div *ngIf="f.idGenero.errors.required">Genero es requerido</div>
          </div>
        </div>

        <div class="form-group">
          <label>Fecha de nacimiento</label>

          <input type="date" placeholder="Fecha de nacimiento" formControlName="FechaNacimiento" class="form-control"
            [(ngModel)]="x.FechaNacimiento" min="1900-01-01" max="2050-12-31"
            [ngClass]="{ 'is-invalid': submitted && f.FechaNacimiento.errors }" />

          <div *ngIf="submitted && f.FechaNacimiento.errors" class="invalid-feedback">
            <div *ngIf="f.FechaNacimiento.errors.required">Fecha de nacimiento es requireda</div>
          </div>
        </div>

        <div class="form-group">
          <label>Servicio o modalidad</label>
          <select formControlName="ServicioOmodalidad" class="form-control" [(ngModel)]="x.ServicioOmodalidad"
            [ngClass]="{ 'is-invalid': submitted && f.ServicioOmodalidad.errors }">
            <option *ngFor="let s of ser" [value]="s.Modalidad">{{s.Modalidad}}</option>
          </select>
          <div *ngIf="submitted && f.ServicioOmodalidad.errors" class="invalid-feedback">
            <div *ngIf="f.ServicioOmodalidad.errors.required">Genero es requerido</div>
          </div>
        </div>

        <div class="form-group">
          <label>Fecha de ingreso</label>

          <input type="date" placeholder="Fecha de Ingreso" formControlName="FechaIngreso" class="form-control"
            [(ngModel)]="x.FechaIngreso" min="1900-01-01" max="2050-12-31"
            [ngClass]="{ 'is-invalid': submitted && f.FechaIngreso.errors }" />

          <div *ngIf="submitted && f.FechaIngreso.errors" class="invalid-feedback">
            <div *ngIf="f.FechaIngreso.errors.required">Fecha de ingreso es requireda</div>
          </div>
        </div>

        <h1>Acudiente beneficiario</h1>

        <div class="form-group">
          <label>Tipo de documento del acudiente</label>
          <select formControlName="idTipoDocumento" class="form-control" [(ngModel)]="y.idTipoDocumento"
            [ngClass]="{ 'is-invalid': submitted && f.idTipoDocumento.errors }">
            <option *ngFor="let do of doc" [value]="do.idTipoDocumento">{{do.NombreTipo}}</option>
          </select>

          <div *ngIf="submitted && f.idTipoDocumento.errors" class="invalid-feedback">
            <div *ngIf="f.idTipoDocumento.errors.required"> Tipo de documento es requerido</div>
          </div>
        </div>

        <div class="form-group">
          <label>Número de documento del acudiente</label>

          <input type="text" placeholder="Número de documento" formControlName="NumeroDocumentoA" class="form-control"
            [(ngModel)]="y.NumeroDocumento" [ngClass]="{ 'is-invalid': submitted && f.NumeroDocumentoA.errors }" />

          <div *ngIf="submitted && f.NumeroDocumentoA.errors" class="invalid-feedback">
            <div *ngIf="f.NumeroDocumentoA.errors.required">El número de documento es requiredo
            </div>
            <div *ngIf="f.NumeroDocumentoA.errors.pattern"> El número de documento solo puede
              conterner
              numeros
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>Nombres</label>

          <input type="text" placeholder="Nombres" formControlName="Nombres" class="form-control"
            [(ngModel)]="y.Nombres" [ngClass]="{ 'is-invalid': submitted && f.Nombres.errors }" />

          <div *ngIf="submitted && f.Nombres.errors" class="invalid-feedback">
            <div *ngIf="f.Nombres.errors.required"> Los nombres son requiredos</div>
            <div *ngIf="f.Nombres.errors.pattern"> Los nombres solo puede
              contener letras minusculas o
              mayusculas</div>
          </div>
        </div>

        <div class="form-group">
          <label>Apellidos</label>

          <input type="text" placeholder="Apellidos" formControlName="Apellidos" class="form-control"
            [(ngModel)]="y.Apellidos" [ngClass]="{ 'is-invalid': submitted && f.Apellidos.errors }" />

          <div *ngIf="submitted && f.Apellidos.errors" class="invalid-feedback">
            <div *ngIf="f.Apellidos.errors.required">Los Apellidos son requiredos</div>
            <div *ngIf="f.Apellidos.errors.pattern">Los Apellidos solo puede conterner
              letras
              minusculas o
              mayusculas</div>
          </div>
        </div>

        <div class="form-group">
          <label>Parentesco con el beneficiario</label>
          <select formControlName="Parentesco" class="form-control" [(ngModel)]="y.Parentesco"
            [ngClass]="{ 'is-invalid': submitted && f.Parentesco.errors }">
            <option>Padre</option>
            <option>Madre</option>
            <option>Hermano(a)</option>
            <option>Abuelo(a)</option>
            <option>Tio(a)</option>
            <option>Persona con custodia</option>
          </select>

          <div *ngIf="submitted && f.Parentesco.errors" class="invalid-feedback">
            <div *ngIf="f.Parentesco.errors.required"> Parentesco con el beneficiario es requerido</div>
          </div>
        </div>

        <div class="form-group">
          <label>Género</label>
          <select formControlName="idGeneroA" class="form-control" [(ngModel)]="y.idGenero"
            [ngClass]="{ 'is-invalid': submitted && f.idGeneroA.errors }">
            <option *ngFor="let gener of gen" [value]="gener.idGenero">{{gener.NombreGenero}}</option>
          </select>
          <div *ngIf="submitted && f.idGeneroA.errors" class="invalid-feedback">
            <div *ngIf="f.idGeneroA.errors.required">Genero es requerido</div>
          </div>
        </div>

        <div class="form-group">
          <label>Fecha de nacimiento</label>

          <input type="date" placeholder="Fecha de nacimiento" formControlName="FechaNacimientoA" class="form-control"
            [(ngModel)]="y.FechaNacimiento" min="1900-01-01" max="2050-12-31"
            [ngClass]="{ 'is-invalid': submitted && f.FechaNacimientoA.errors }" />

          <div *ngIf="submitted && f.FechaNacimientoA.errors" class="invalid-feedback">
            <div *ngIf="f.FechaNacimientoA.errors.required">Fecha de nacimiento es requireda</div>
          </div>
        </div>

        <div class="form-group">
          <label>Fecha de ingreso</label>

          <input type="date" placeholder="Fecha de Ingreso" formControlName="FechaIngresoA" class="form-control"
            [(ngModel)]="y.FechaIngreso" min="1900-01-01" max="2050-12-31"
            [ngClass]="{ 'is-invalid': submitted && f.FechaIngresoA.errors }" />

          <div *ngIf="submitted && f.FechaIngresoA.errors" class="invalid-feedback">
            <div *ngIf="f.FechaIngresoA.errors.required">Fecha de ingreso es requireda</div>
          </div>
        </div>

        <div class="form-group">
          <label>Registro biometrico índice derecho</label>

          <input type="text" placeholder="Registro biometrico" formControlName="RegistroBiometrico" class="form-control"
            [(ngModel)]="y.RegistroBiometrico" [ngClass]="{ 'is-invalid': submitted && f.RegistroBiometrico.errors }" />

          <div *ngIf="submitted && f.RegistroBiometrico.errors" class="invalid-feedback">
            <div *ngIf="f.RegistroBiometrico.errors.required">El registro biometrico es requiredo</div>
          </div>
          <label>Seleccione para modificar el registro biometrico índice derecho</label>
          <input type="checkbox" id="check" name="Crear" [(ngModel)]="filter" (change)="onFilterChange($event)" />
        
        </div>

        <div class="form-group">
					<label>Registro biometrico índice izquierdo</label>

					<input type="text" placeholder="Registro biometrico" formControlName="RegistroBiometrico1"
						class="form-control" [(ngModel)]="y.RegistroBiometrico1"
						[ngClass]="{ 'is-invalid': submitted && f.RegistroBiometrico1.errors }" />

					<div *ngIf="submitted && f.RegistroBiometrico1.errors" class="invalid-feedback">
						<div *ngIf="f.RegistroBiometrico1.errors.required">El registro biometrico es requiredo</div>
          </div>
          <label>Seleccione para modificar el registro biometrico índice izquierdo</label>
          <input type="checkbox" id="check2" name="Crear" [(ngModel)]="filter1" (change)="onFilterChange1($event)" />
        
				</div>

        <h1>Datos de contacto</h1>

        <div class="form-group">
          <label>Pais</label>

          <input type="text" placeholder="Pais" formControlName="Pais" class="form-control" [(ngModel)]="x.Pais"
            [ngClass]="{ 'is-invalid': submitted && f.Pais.errors }" />

          <div *ngIf="submitted && f.Pais.errors" class="invalid-feedback">
            <div *ngIf="f.Pais.errors.required">El pais es requiredo</div>
          </div>
        </div>

        <div class="form-group">
          <label>Departamento</label>
          <select formControlName="Departamento" class="form-control" [(ngModel)]="x.Departamento"
            [ngClass]="{ 'is-invalid': submitted && f.Departamento.errors }">
            <option *ngFor="let regi of reg" [value]="regi.Regional">{{regi.Regional}}</option>
          </select>
          <div *ngIf="submitted && f.Departamento.errors" class="invalid-feedback">
            <div *ngIf="f.Departamento.errors.required">Departamento es requerido</div>
          </div>
        </div>

        <div class="form-group">
          <label>Municipio</label>

          <input type="text" placeholder="Municipio" formControlName="Municipio" class="form-control"
            [(ngModel)]="x.Municipio" [ngClass]="{ 'is-invalid': submitted && f.Municipio.errors }" />

          <div *ngIf="submitted && f.Municipio.errors" class="invalid-feedback">
            <div *ngIf="f.Municipio.errors.required">El Municipio es requiredo</div>
            <div *ngIf="f.Municipio.errors.pattern">El Municipio es solo puede contener letras minusculas o
              Mayúsculas</div>
          </div>
        </div>

        <div class="form-group">
          <label>Dirección</label>

          <input type="text" placeholder="Dirección" formControlName="Direccion" class="form-control"
            [(ngModel)]="x.Direccion" [ngClass]="{ 'is-invalid': submitted && f.Direccion.errors }" />

          <div *ngIf="submitted && f.Direccion.errors" class="invalid-feedback">
            <div *ngIf="f.Direccion.errors.required">Dirección es requiredo</div>
            <div *ngIf="f.Direccion.errors.pattern">Dirección solo puede conterner - #
              numeros y
              letras
              minusculas o
              mayusculasletras minusculas o
              mayúsculas </div>
          </div>
        </div>

        <div class="form-group">
          <label>Teléfono fijo 1</label>

          <input type="text" placeholder="Teléfono fijo 1" formControlName="TelefonoFijo" class="form-control"
            [(ngModel)]="x.TelefonoFijo" [ngClass]="{ 'is-invalid': submitted && f.TelefonoFijo.errors }" />

          <div *ngIf="submitted && f.TelefonoFijo.errors" class="invalid-feedback">
            <div *ngIf="f.TelefonoFijo.errors.required">Teléfono es requiredo</div>
            <div *ngIf="f.TelefonoFijo.errors.minlength"> Teléfono debe contener minimo 10
              caracteres
            </div>
            <div *ngIf="f.TelefonoFijo.errors.pattern">Teléfono solo puede conterner numeros
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>Teléfono fijo 2</label>

          <input type="text" placeholder="Teléfono fijo 2" formControlName="TelefonoFijo2" class="form-control"
            [(ngModel)]="x.TelefonoFijo2" [ngClass]="{ 'is-invalid': submitted && f.TelefonoFijo2.errors }" />

          <div *ngIf="submitted && f.TelefonoFijo2.errors" class="invalid-feedback">
            <div *ngIf="f.TelefonoFijo2.errors.minlength"> Teléfono debe contener minimo 10
              caracteres
            </div>
            <div *ngIf="f.TelefonoFijo2.errors.pattern">Teléfono solo puede conterner numeros
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>Teléfono móvil 1</label>

          <input type="text" placeholder="Teléfono movil 1" formControlName="TelefonoMovil" class="form-control"
            [(ngModel)]="x.TelefonoMovil" [ngClass]="{ 'is-invalid': submitted && f.TelefonoMovil.errors }" />

          <div *ngIf="submitted && f.TelefonoMovil.errors" class="invalid-feedback">
            <div *ngIf="f.TelefonoMovil.errors.required">Teléfono es requiredo</div>
            <div *ngIf="f.TelefonoMovil.errors.minlength"> Teléfono debe contener minimo 10
              caracteres
            </div>
            <div *ngIf="f.TelefonoMovil.errors.pattern">Teléfono solo puede conterner numeros
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>Teléfono móvil 2</label>

          <input type="text" placeholder="Teléfono movil 2" formControlName="TelefonoMovil2" class="form-control"
            [(ngModel)]="x.TelefonoMovil2" [ngClass]="{ 'is-invalid': submitted && f.TelefonoMovil2.errors }" />

          <div *ngIf="submitted && f.TelefonoMovil2.errors" class="invalid-feedback">
            <div *ngIf="f.TelefonoMovil2.errors.required">Teléfono unidad de servicio es requiredo</div>
            <div *ngIf="f.TelefonoMovil2.errors.minlength"> Teléfono unidad de servicio debe contener minimo
              10
              caracteres
            </div>
            <div *ngIf="f.TelefonoMovil2.errors.pattern">Teléfono unidad de servicio solo puede conterner
              numeros
            </div>
          </div>
        </div>


        <div class="form-group">
          <label>Correo electrónico</label>

          <input type="email" placeholder="Correo electrónico" formControlName="Email" class="form-control"
            [(ngModel)]="x.Email" [ngClass]="{ 'is-invalid': submitted && f.Email.errors }" />

          <div *ngIf="submitted && f.Email.errors" class="invalid-feedback">
            <div *ngIf="f.Email.errors.required">Teléfono unidad de servicio es requiredo</div>
            <div *ngIf="f.Email.errors.minlength"> Teléfono unidad de servicio debe contener minimo 10
              caracteres
            </div>
            <div *ngIf="f.Email.errors.pattern">Teléfono unidad de servicio solo puede conterner numeros
            </div>
          </div>
        </div>


        <br />

        <div class="text-center">
          <button type="submit" class="btn btn-success btn-block">Guardar</button>
        </div>

      </form>
    </div>
  </div>
</div>