<nav class="navbar navbar-success bg-success">
    <button class="btn btn-dark" routerLink="/menu">Volver</button>
    <button class="btn btn-dark" routerLink="/refrenciasbienestarina"> Crear </button>
  </nav>
  
  <table class="table">
    <thead class="thead-green">
      <tr>
        <th scope="col">#</th>
        <th scope="col">TipoBienesterina</th>
        <th scope="col">Codigo </th>
        <th scope="col">Estado </th>
        <th scope="col">Referencia</th>
        <th scope="col">UnidadPrincipal </th>
        <th scope="col">Cantidad </th>
        <th scope="col">UnidadSecundaria</th>
        <th scope="col">idConsecutivosMaestro</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ser of servic">
        <th scope="row">{{ser.idTipoBienesterina}}</th>
        <td>{{ser.TipoBienesterina  }}</td>
        <td>{{ser.Codigo  }}</td>
        <td>{{ser.Estado  }}</td>
        <td>{{ser.Referencia }}</td>
        <td>{{ser.UnidadPrincipal  }}</td>
        <td>{{ser.Cantidad  }}</td>
        <td>{{ser.UnidadSecundaria  }}</td>
        <td>{{ser.idConsecutivosMaestro }}</td>
      </tr>
    </tbody>
  </table>

