
        <label>Tipo Documento</label>
        <select placeholder="Selececiona una">
                <option value="CC">Cedula de ciudadania</option>
                <option value="CE">Cédula de extranjería</option>
                <option value="TP"> Tarjeta pasaporte</option>
              </select>
        
      
            <label>Numero de Documento</label>
            <input type="text">
      
            <label>Nombres</label>
        <input type="text">
      
        <label>Apellidos</label>
        <input type="text">
      
            <label>Parentesco Beneficiario</label>
            <select placeholder="Selececiona una">
              <option value="CC">Padre</option>
              <option value="CE">Madre</option>
              <option value="TP"> Hermano(a)</option>
              <option value="TP"> Abuelo(a)</option>
              <option value="TP"> Tio(a)</option>
              <option value="TP"> persona con custodia</option>
            </select>
          
              <label>Genero</label>
              <select placeholder="Selececiona una">
                <option value="H">H</option>
                <option value="M">M</option>
              </select>
              <label>fecha Nacimiento</label>
              <input type="datetime-local">
              <label>fecha Ingreso</label>
              <input type="datetime-local">
                <label>Registro Biometrico</label>
                <input type="text">
    
                <button>Siguiente</button>
          
      