<nav class="navbar navbar-success bg-success">
    <button class="btn btn-dark" routerLink="/inventario">Volver</button>
    <div>
        <label>Recuento inventario</label>
    
    {{fecha}}  
    </div>
    <button class="btn btn-dark" routerLink="/recuentoinventarioc"> Crear </button>
  </nav>

  <table class="table">
    <thead class="thead-green">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Lote</th>
        <th scope="col">Fecha de vencimiento</th>
        <th scope="col">Referencia bienesterina</th>
        <th scope="col">Presentación</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Cantidad contada</th>
        <th scope="col">Centro de distribución</th>
        <th scope="col">Almacén</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sal of recuento">
        <th scope="row">{{sal.idrecuentroinventario}}</th>
        <td>{{sal.lote}}</td>
        <td>{{sal.fechavencimiento}}</td>
        <td>{{sal.TipoBienesterina}}</td>
        <td>{{sal.unidadmedida1 }}</td>
        <td>{{sal.cantidad }}</td>
        <td>{{sal.cantidadcontada }}</td>
        <td>{{sal.centrodistribucion}}</td>
        <td>{{sal.almacenes}}</td>
      

      </tr>
    </tbody>
  </table>
