<nav class="navbar navbar-success bg-success">
    <button class="btn btn-dark" routerLink="/menu">Volver</button>
    <div>
        <label>Modificar referencias bienestarina</label>
    
    {{fecha}}  
    </div>
    <div>
    </div>
   
  </nav>
  
  <table class="table">
      <thead class="thead-green">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Tipo bienesterina</th>
          <th scope="col">Código</th>
          <th scope="col">Estado</th>
          <th scope="col">Referencia</th>
          <th scope="col">Presentacion</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Unidad </th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cen of tbienestarina">
          <th scope="row">{{cen.idTipoBienesterina}}</th>
          <td>{{cen.TipoBienesterina}}</td>
          <td>{{cen.Codigo}}</td>
          <td>
            
              <div *ngIf="cen.Estado == 1">
                  Habilitado
                </div>
                <div *ngIf="cen.Estado == 0">
                  Deshabilitado
                </div>
            
           </td>
          <td>{{cen.Referencia}}</td>
          <td>{{cen.UnidadPrincipal}}</td>
          <td>{{cen.Cantidad}}</td>
          <td>{{cen.UnidadSecundaria}}</td>
          <td>
            <button class="btn btn-primary" [routerLink]="['/modificarreferenciabm', cen.idTipoBienesterina]">Modificar</button>
          </td>
        </tr>
      </tbody>
    </table>
