<nav class="navbar navbar-success bg-success">
    <button class="btn btn-dark" routerLink="/entregasel">Volver</button>
    <button class="btn btn-dark" routerLink="/salidaconsumoc"> Crear </button>
  </nav>

  <table class="table">
    <thead class="thead-green">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Lote</th>
        <th scope="col">Fecha Vencimiento</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Unidad</th>
        <th scope="col">Fecha Registro</th>
        <th scope="col">Tipo Bienesterina</th>
        <th scope="col">Centro Distribucion</th>
        <th scope="col">Almacén</th>
       
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sal of centroC">
        <th scope="row">{{sal.idEntregaconsumointerno }}</th>
        <td>{{sal.lote}}</td>
        <td>{{sal.fechavencimiento}}</td>
        <td>{{sal.cantidad}}</td>
        <td>{{sal.unidad}}</td>
        <td>{{sal.fecharegistro}}</td>
        <td>{{sal.idTipoBienesterina}}</td>
        <td>{{sal.idCentroDistribucion}}</td>
        <td>{{sal.idAlmacenes }}</td>
       

      </tr>
    </tbody>
  </table>
