<nav class="navbar navbar-success bg-success">
        <td>
        <button class="btn btn-dark" routerLink="/centrodistribucion">Volver</button>
        </td>

        <div>
          <label>Crear centro de distribucion uds </label>
      
      {{fecha}}  
      </div>
      
      

        <td>
                <button class="btn btn-dark" [routerLink]="['/centrodistribucionui']">Crear</button>
              </td>
      </nav>
      
      <table class="table">
          <thead class="thead-green">
            <tr>
              <th scope="col"># </th>
              <th scope="col">Número externo</th>
              <th scope="col">Nombre</th>
              <th scope="col">Responsable</th>
              <th scope="col">Dirección</th>
              <th scope="col">Barrio</th>
              <th scope="col">Teléfono</th>
              <th scope="col">Estado</th>
              <th scope="col">UDS</th>
              
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let centro of cen">
              <th scope="row">{{centro.idCentroDistribucion}}</th>
              <td>{{centro.NumeroExterno }}</td>
              <td>{{centro.Nombre }}</td>
              <td>{{centro.Responsable }}</td>
              <td>{{centro.Direccion }}</td>
              <td>{{centro.Barrio }}</td>
              <td>{{centro.Telefono }}</td>
              <td>
              <div *ngIf="centro.Estado == 1">
              Habilitado
            </div>
            <div *ngIf="centro.Estado== 0">
              Deshabilitado
            </div>
            </td>
            <td>{{centro.NombreUDS }}</td>
                  
            </tr>
          </tbody>
        </table>
       
