<nav class="navbar navbar-success bg-success">
    <button class="btn btn-dark" routerLink="/menu">Volver</button>
    <button class="btn btn-dark" routerLink="/listaprecios"> Crear </button>
  </nav>
  
  <table class="table">
    <thead class="thead-green">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Referencia  </th>
        <th scope="col">Mes </th>
        <th scope="col">Ano </th>
        <th scope="col">ValorCop </th>
        <th scope="col">Estado  </th>
        <th scope="col">Codigo  </th>
        <th scope="col">idBienestarina </th>
        <th scope="col">idConsecutivosMaestro </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ser of servic">
        <th scope="row">{{ser.idListaPrecios}}</th>
        <td>{{ser.Referencia  }}</td>
        <td>{{ser.Mes  }}</td>
        <td>{{ser.Ano  }}</td>
        <td>{{ser.ValorCop }}</td>
        <td>{{ser.Estado}}</td>
        <td>{{ser.Codigo }}</td>
        <td>{{ser.idBienestarina}}</td>
        <td>{{ser.idConsecutivosMaestro}}</td>
      </tr>
    </tbody>
  </table>

