<nav class="navbar navbar-success bg-success">
    <button class="btn btn-dark" routerLink="/inventario">Volver</button>
    <div>
        <label>Crear traslado entre almacenes</label>
    
    {{fecha}}  
    </div>

    <button class="btn btn-dark" routerLink="/trasladoc"> Crear </button>
  </nav>

  <table class="table">
    <thead class="thead-green">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Lote</th>
        <th scope="col">Fecha vencimiento</th>
        <th scope="col">Referencia bienesterina</th>
        <th scope="col">Presentación</th>
        <th scope="col">Fecha registro</th>
        <th scope="col">Centro distribución</th>
        <th scope="col">Almacén origen</th>
        <th scope="col">Almacén destino</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sal of translado">
        <th scope="row">{{sal.idTraslados }}</th>
        <td>{{sal.lote}}</td>
        <td>{{sal.fechavencimiento}}</td>
        <td>{{sal.TipoBienesterina}}</td>
        <td>{{sal.unidad}}</td>
        <td>{{sal.fecharegistro}}</td>
        <td>{{sal.centroorigen}}</td>
        <td>{{sal.almancenorigen }}</td>
        <td>{{sal.almacendestino }}</td>

      </tr>
    </tbody>
  </table>

