<nav class="navbar navbar-success bg-success">
    <button class="btn btn-dark" routerLink="/menu">Volver</button>
    <button class="btn btn-dark" routerLink="/trasladoc"> Crear </button>
  </nav>

  <table class="table">
    <thead class="thead-green">
      <tr>
        <th scope="col">#</th>
        <th scope="col">lote</th>
        <th scope="col">fechavencimiento</th>
        <th scope="col">unidad</th>
        <th scope="col">fecharegistro</th>
        <th scope="col"># TipoBienesterina</th>
        <th scope="col"># CentroDistribucion</th>
        <th scope="col"># AlmacenesOrigen</th>
        <th scope="col"># AlmacenesDestino</th>
       
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sal of translado">
        <th scope="row">{{sal.idTraslados }}</th>
        <td>{{sal.lote}}</td>
        <td>{{sal.fechavencimiento}}</td>
        <td>{{sal.unidad}}</td>
        <td>{{sal.fecharegistro}}</td>
        <td>{{sal.idTipoBienesterina}}</td>
        <td>{{sal.idCentroDistribucion}}</td>
        <td>{{sal.idAlmacenesOrigen }}</td>
        <td>{{sal.idAlmacenesDestino }}</td>

      </tr>
    </tbody>
  </table>

