
<nav class="navbar navbar-success bg-success">
        <button class="btn btn-dark" routerLink="/menu">Volver</button>
      </nav>
      
      <div class="col-md-4 offset-md-4" style="padding-top: 50px;" padding>
        <div class="card" padding>
          <div class="card-body" padding>
            <form>
                    <h1>Inhabilitar centro distribución</h1>
              <div class="form-group">

                    <span  >Nivel</span>
                    <h2></h2>
                    <select name="miselect" [(ngModel)]="listau" class="form-control">
                        <option [value]="item" *ngFor="let item of lista">{{item}} </option>
                        </select>
                    <h2></h2>
                    <h2></h2>
                    <button (click)="onClickMe()" class="btn btn-success">Aceptar</button>
                    
                           <h2></h2>

                </div>
			</form>
		</div>
	  </div>
	</div>






