<nav class="navbar navbar-success bg-success">
    <button class="btn btn-dark" routerLink="/modificarlistamaestro">Volver</button>

  </nav>
  
  <table class="table">
      <thead class="thead-green">
        <tr>
          <th scope="col">idDatosVarios</th>
          <th scope="col">CodigoInterno </th>
          <th scope="col">EstadoDatoMaestro</th>
          <th scope="col">DescripcionDelRegistro</th>
          <th scope="col">Valor</th>
          <th scope="col">UnidadDeMedida</th>
          <th scope="col">idDatosMaestros</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cen of dvarios">
          <th scope="row">{{cen.idDatosVarios}}</th>
          <td>{{cen.CodigoInterno}}</td>
          <td>{{cen.EstadoDatoMaestro}}</td>
          <td>{{cen.DescripcionDelRegistro}}</td>
          <td>{{cen.Valor}}</td>
          <td>{{cen.UnidadDeMedida}}</td>
          <td>{{cen.idDatosMaestros}}</td>

          <td>  
            <button class="btn btn-primary" [routerLink]="['/modificardatosnutricionalesm', cen.idDatosVarios]">Modificar</button>
          </td>
        </tr>
      </tbody>
    </table>

