<nav class="navbar navbar-fixed-top">
        <button class="btn btn-dark" routerLink="/inhabilitarusuarios">Volver</button>
        <div>
            <label>Deshabilitar usuarios punto de entrega</label>
        
        {{fecha}}  
        </div>
        
        <div>
          
        </div>
      </nav>
      
      <table class="table">
          <thead class="thead-green">
            <tr>
            <th scope="col">#</th>
            <th scope="col">Nombres</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Estado</th>
            <th scope="col">Numero documento</th>
            <th scope="col">Fecha ingreso</th>
            <th scope="col">Nombre usuario sistema</th>
            <th scope="col">Contraseña</th>
            <th scope="col">Dirección</th>
            <th scope="col">Teléfono fijo</th>
            <th scope="col">Teléfono fijo2</th>
            <th scope="col">Teléfono móvil</th>
            <th scope="col">Teléfono móvil2</th>
            <th scope="col">Correo electrónico</th>
            <th scope="col">Tipo documento</th>
            <th scope="col">Tipo usuario</th>
            <th scope="col">Punto de entrega</th>
      
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let usu of usua">
              <th scope="row">{{usu.idUsuarios}}</th>
              <td>{{usu.Nombres}}</td>
              <td>{{usu.Apellidos}}</td>
              <td> <div *ngIf="usu.Estado == 1">
                Habilitado
              </div>
              <div *ngIf="usu.Estado== 0">
                Deshabilitado
              </div></td>
              <td>{{usu.NumeroDocumento}}</td>
              <td>{{usu.FechaIngreso}}</td>
              <td>{{usu.NombreUsuarioSistema}}</td>
              <td>*******</td>
              <td>{{usu.Direccion}}</td>
              <td>{{usu.TelefonoFijo}}</td>
              <td>{{usu.TelefonoFijo2}}</td>
              <td>{{usu.TelefonoMovil}}</td>
              <td>{{usu.TelefonoMovil2}}</td>
              <td>{{usu.Email}}</td>
      
              <td>{{usu.NombreTipo}}</td>
              <td>{{usu.RolPersona}}</td>
              <td>{{usu.NombrePE}}</td>
              <td>
                <button class="btn btn-dark" [routerLink]="['/inhabilitarusuariosp', usu.idUsuarios]">Deshabilitar</button>
              </td>
            </tr>
          </tbody>
        </table>