

<nav class="navbar navbar-success bg-success">
    <button class="btn btn-dark" routerLink="/modificarcentroi">Volver</button>
  </nav>
  
  <div class="col-md-4 offset-md-4" style="padding-top: 50px;" padding>
    <div class="card" padding>
      <div class="card-body" padding>
        <form class="form-signin was-validated" style="justify-content: center; margin-bottom: 70px;" novalidate>
          <div class="form-group">
  
        

            <input type="number" class="form-control" [(ngModel)]="cend.NumeroExterno" name="numeroext"
              placeholder="número Externo" class="form-control" id="inputnext" minlength="0" required="">

              <input type="text" class="form-control" [(ngModel)]="cend.Nombre" name="nombre" placeholder="Nombres"
              class="form-control" id="nom" minlength="0" required="">

              <input type="text" class="form-control" [(ngModel)]="cend.Responsable" name="res" placeholder="Responsable"
              class="form-control" id="app" minlength="0" required="">

              <input type="text" class="form-control" [(ngModel)]="cend.Direccion" name="dic"
              placeholder="Dirección" class="form-control" id="usu" minlength="0" required="">

              <input type="text" class="form-control" [(ngModel)]="cend.Barrio" name="bar"
              placeholder="Barrio" class="form-control" id="usu" minlength="0" required="">

              <input type="text" class="form-control" [(ngModel)]="cend.Telefono" name="tel"
              placeholder="Teléfono" class="form-control" id="usu" minlength="0" required="">

            
            <!-- name= "al campo de la tabla" [(ngModel)]="regionales.(Nombre de la columna)"-->
            <select name="Estado" [(ngModel)]="cend.Estado" style="width: 100%;" class="form-control" minlength="0" required="">
              <option [value]="1">Habilitado</option>
              <Option [value]="0">Inhabilitado</Option>
            </select>

            <select name="idnivel1" class="form-control" style="width: 100%;" [(ngModel)]="cend.idCentrosZonales"
            options="options" placeholder="nivel" 
            minlength="0" required="">
            <option *ngFor="let do of cen " [value]="do.idCentrosZonales">{{do.NombreCentroZonal }} </option>
        
            </select>
           

          <!-- Validacion para usar el mismo form  (click)="modificar ? updateDatos() : insertDatos()"-->
          <button class="btn btn-success btn-block" type="submit" (click)="updateDatos()"
            routerLink="/modificarcentroi">
            Guardar
          </button>
        </div>
        </form>
      </div>
    </div>
  </div>
