<nav class="navbar navbar-success bg-success">
  <button class="btn btn-dark" routerLink="/centrozonali"> Crear </button>
</nav>

<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre Centro Zonal</th>
        <th scope="col">Municipios</th>
        <th scope="col">Comunas</th>
        <th scope="col">idBarrioVeredas</th>
        <th scope="col">Codigo Externo Jcz</th>
        <th>Codigo Externo CZ</th>
        <th>Estado</th>
        <th>Regional</th>
        <th scope="col">Modificar</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td>
          <button class="btn btn-primary">Modificar</button>
        </td>
      </tr>
    </tbody>
  </table>