<nav class="navbar navbar-success bg-success">
        <button class="btn btn-dark" routerLink="/referenciasbienestarinav">Volver</button>
      </nav>
      
      <div class="col-md-4 offset-md-4" style="padding-top: 50px;" padding>
        <div class="card" padding>
          <div class="card-body" padding>
            <form class="form-signin was-validated" style="justify-content: center; margin-bottom: 70px;" novalidate>
                    <h1>Referencia bienestarina</h1>
              <div class="form-group">

                  <span  >Tipo </span>
                  <h2></h2>
                  <input type="text" class="form-control" [(ngModel)]="x.TipoBienesterina" name="ref"
                        placeholder="Tipo bienestarina" class="form-control" id="tipo" minlength="0" required="">
                  <h2></h2>

                    <span  >Código </span>
                    <h2></h2>
                    <input type="number" class="form-control" [(ngModel)]="x.Codigo" name="cod"
                          placeholder="Código " class="form-control" id="codi" minlength="0" required="">
                    <h2></h2>
                    <span  >Estado del dato maestro</span>
                    <h2></h2>
                    

                    <select name="EstadoDatoMaestro" id="EstadoDatoMaestro" [(ngModel)]="x.Estado" style="width: 100%;" class="form-control" minlength="0" required="">
                      <option value="0">Inhabilitar</option>
                      <option value="1">Habilitar</option>
                    </select>
                  
                    <h2></h2>
                  
                    <span  >Referencia </span>
                    <h2></h2>
                    <input type="text" class="form-control" [(ngModel)]="x.Referencia" name="ref"
                          placeholder="Referencia" class="form-control" id="referencia" minlength="0" required="">
                    <h2></h2>
                  
                    <span  >Unidad de medida principal</span>
                    <h2></h2>
                    
                    <select name="unidadm" [(ngModel)]="x.UnidadPrincipal" class="select-css" minlength="0" required="" class="form-control">
                  <option [value]="item" *ngFor="let item of unidadmedidad">{{item}} </option>
                  </select>
                  <h2></h2>
                  
                  <span  >Cantidad equivalente </span>
                    <h2></h2>
                    <input type="number" class="form-control" [(ngModel)]="x.Cantidad" name="cantidade"
                          placeholder="Cantidad Equivalente" class="form-control" id="cantidadequivalente" minlength="0" required="">
                    <h2></h2>
                  
                    <span  >Unidad de medida secundaria </span>
                    <h2></h2>
                    <select name="unidadsecundario" [(ngModel)]="x.UnidadSecundaria"  class="select-css" minlength="0" required="" class="form-control">
                    <option [value]="item" *ngFor="let item of unidadsecundario">{{item}} </option>
                    </select>
                    <h2></h2>
                  
                  
                    <button (click)="onClickMe()" class="btn btn-success">Aceptar</button>
                
                         <h2></h2>

                </div>
                </form>
            </div>
          </div>
        </div>
    
    
