<nav class="navbar navbar-success bg-success">
        <button class="btn btn-dark" routerLink="/menu">Volver</button>
      </nav>
      
      <div class="col-md-4 offset-md-4" style="padding-top: 50px;" padding>
        <div class="card" padding>
          <div class="card-body" padding>
            <form>
                    <h1>Inhabilitar Listas De Datos Maestros</h1>
              <div class="form-group">
                
                    <span  >Lista a Modificar</span>
                    <h2></h2>
                    
                    <select name="servicio" [(ngModel)]="modalidads"class="form-control">
                      <option> Servicios y modalidades</option>
                      <option> Referencias de bienestarina</option>
                      <option> Lista de precios</option>
                      <option> Listado de cursos</option>
                      <option>Datos Nutricionales</option>
                      <option>Número de cupos</option>
                      </select>
                    <h2></h2>
                    
                    <button (click)="onClickMe()" class="btn btn-success">Aceptar</button>
                                 
                         <h2></h2>
                    
    
                </div>
                </form>
            </div>
          </div>
        </div>
    
    