<nav class="navbar navbar-success bg-success">
    <button class="btn btn-dark" routerLink="/recuentoinventario">Volver</button>
  </nav>

  <div class="col-md-4 offset-md-4" style="padding-top: 50px;" padding>
    <div class="card" padding>
      <div class="card-body" padding>
  
  
        <form [formGroup]="rec" (ngSubmit)="onSubmit()">
          <h1>Recuento inventario</h1>

          <div class="form-group">

            <label>Tipo bienestarina</label>
            <select formControlName="idTipoBienesterina" class="form-control" [(ngModel)]="sal.idTipoBienesterina"
              [ngClass]="{ 'is-invalid': submitted && f.idTipoBienesterina.errors }" (ngModelChange)="Referencia($event)">
              <option *ngFor="let t of tip" [value]="t.idTipoBienesterina">{{t.TipoBienesterina}}</option>
            </select>
            <div *ngIf="submitted && f.idTipoBienesterina.errors" class="invalid-feedback">
              <div *ngIf="f.idTipoBienesterina.errors.required">Tipo de bienestarina es requerido</div>
            </div>
          </div>

          <div class="form-group">
            <label>Referencia bienestarina</label>
            <select formControlName="Referencia" class="form-control" [(ngModel)]="refe.referencia"
              [ngClass]="{ 'is-invalid': submitted && f.Referencia.errors }">
              <option *ngFor="let t of Referencias" [value]="t">{{t}}</option>
            </select>
            <div *ngIf="submitted && f.Referencia.errors" class="invalid-feedback">
              <div *ngIf="f.Referencia.errors.required">Referencia es requerida</div>
            </div>
          </div>
  
          <div class="form-group">
            <label>Presentación</label>
            <select formControlName="unidadmedida1" class="form-control" [(ngModel)]="sal.unidadmedida1"
              [ngClass]="{ 'is-invalid': submitted && f.unidadmedida1.errors }">
              <option value="Bolsa">Bolsa</option>
              <option value="Caja">Caja</option>
            </select>
            <div *ngIf="submitted && f.unidadmedida1.errors" class="invalid-feedback">
              <div *ngIf="f.unidadmedida1.errors.required">Presentación es requerida</div>
            </div>
          </div>

          <div class="form-group">
            <label>Almacén</label>
            <select formControlName="idAlmacenes" class="form-control" [(ngModel)]="sal.idAlmacenes"
              [ngClass]="{ 'is-invalid': submitted && f.idAlmacenes.errors }" (ngModelChange)="traerAlmacen($event)">
              <option *ngFor="let ud of alm" [value]="ud.idAlmacenes">{{ud.Nombre}}</option>
            </select>
            <div *ngIf="submitted && f.idAlmacenes.errors" class="invalid-feedback">
              <div *ngIf="f.idAlmacenes.errors.required">Almacen es requerido</div>
            </div>
          </div>
  
          <div class="form-group">
            <label>Centro de distribución</label>
            <select formControlName="idCentroDistribucion" class="form-control"
              [(ngModel)]="sal.idCentroDistribucion"
              [ngClass]="{ 'is-invalid': submitted && f.idCentroDistribucion.errors }">
              <option *ngFor="let c of cen" [value]="c.idCentroDistribucion">{{c.Nombre}}</option>
            </select>
            <div *ngIf="submitted && f.idCentroDistribucion.errors" class="invalid-feedback">
              <div *ngIf="f.idCentroDistribucion.errors.required">Centro de distribución es requerido
              </div>
            </div>
          </div>

          <div class="form-group">
            <label>Lote</label>
  
            <input type="text" placeholder="Lote" formControlName="lote" class="form-control" [(ngModel)]="sal.lote"
              [ngClass]="{ 'is-invalid': submitted && f.lote.errors }" />
  
            <div *ngIf="submitted && f.lote.errors" class="invalid-feedback">
              <div *ngIf="f.lote.errors.required">Lote es requireda</div>
              <div *ngIf="f.lote.errors.pattern"> Lote solo puede conterner numeros y letras minúsculas o mayúsculas</div>
            </div>
          </div>

          <div class="form-group">
            <label>Cantidad</label>
            <input type="text" placeholder="Cantidad" formControlName="cantidad" class="form-control" [(ngModel)]="sal.cantidad"
              [ngClass]="{ 'is-invalid': submitted && f.cantidad.errors }" (keyup)="onKey($event)" />
  
            <div *ngIf="submitted && f.cantidad.errors" class="invalid-feedback">
              <div *ngIf="f.cantidad.errors.required">Cantidad es requireda</div>
              <div *ngIf="f.cantidad.errors.pattern"> Cantidad solo puede conterner numeros</div>
            </div>
          </div>
          
          <div class="form-group">
            <label>Cantidad contada</label>
            <input type="text" placeholder="Cantidad contada" formControlName="cantidadcontada" class="form-control" [(ngModel)]="sal.cantidadcontada"
              [ngClass]="{ 'is-invalid': submitted && f.cantidadcontada.errors }" (keyup)="onKey($event)" />
  
            <div *ngIf="submitted && f.cantidadcontada.errors" class="invalid-feedback">
              <div *ngIf="f.cantidadcontada.errors.required">Cantidad contada es requireda</div>
              <div *ngIf="f.cantidadcontada.errors.pattern"> Cantidad contada solo puede conterner numeros</div>
            </div>
          </div>

          <div class="form-group">
            <label>Fecha de vencimiento</label>
  
            <input type="date" placeholder="Fecha de vencimiento" formControlName="FechaVencimiento" class="form-control"
              [(ngModel)]="sal.FechaVencimiento" min="1900-01-01" max="2050-12-31"
              [ngClass]="{ 'is-invalid': submitted && f.FechaVencimiento.errors }" />
  
            <div *ngIf="submitted && f.FechaVencimiento.errors" class="invalid-feedback">
              <div *ngIf="f.FechaVencimiento.errors.required">Fecha de vencimiento es requireda</div>
            </div>
          </div>
  
          <br />
  
          <div class="text-center">
            <button type="submit" class="btn btn-success btn-block">Guardar</button>
          </div>
  
        </form>
      </div>
    </div>
  </div>