<nav class="navbar navbar-success bg-success">
  <button class="btn btn-dark" routerLink="/roli"> Volver </button>
</nav>

<h1>Asignar transacciones</h1>

<table class="table">
  <thead class="thead-green">
    <tr>
      <th scope="col">Nombre de la transacción</th>
      <th scope="col">Permisos</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <span>Centro zonal</span>

      </td>
      <td>
        <div class="form-group">
          <a> Crear </a>
          <input type="checkbox" name="Crear" [(ngModel)]="filter" (change)="onFilterChange($event)" />

          <a> Actualizar </a>
          <input type="checkbox" name="Actualizar" [(ngModel)]="filter2" (change)="onFilterChange2($event)"
            data-md-icheck />
            <a> Reportes </a>
          <input type="checkbox" name="Reportes" [(ngModel)]="filter4" (change)="onFilterChange4($event)" />
          <a> Deshabilitar </a>
          <input type="checkbox" name="Inhabilitar" [(ngModel)]="filter5"  (change)="onFilterChange5($event)"/>
          <hr>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <span>Punto de entrega</span>
      </td>
      <td>
        <div>
          <a> Crear </a>
          <input type="checkbox" [(ngModel)]="filter6" (change)="onFilterChange6($event)"/>
          <a> Actualizar </a>
          <input type="checkbox" [(ngModel)]="filter7" (change)="onFilterChange7($event)" />
          <a> Reportes </a>
          <input type="checkbox" [(ngModel)]="filter9" (change)="onFilterChange9($event)" />
          <a> Deshabilitar </a>
          <input type="checkbox" [(ngModel)]="filter10"  (change)="onFilterChange10($event)"/>
          <hr>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <span>Unidad de servicio</span>
      </td>
      <td>
        <div>
          <a> Crear </a>
          <input type="checkbox" [(ngModel)]="filter11" (change)="onFilterChange11($event)" />
          <a> Actualizar </a>
          <input type="checkbox" [(ngModel)]="filter12" (change)="onFilterChange12($event)" />
          <a> Reportes </a>
          <input type="checkbox" [(ngModel)]="filter14" (change)="onFilterChange14($event)" />
          <a> Deshabilitar </a>
          <input type="checkbox" [(ngModel)]="filter15" (change)="onFilterChange15($event)"/>
          <hr>
        </div>
      </td>

    </tr>
    <tr>
      <td>
        <span>Usuarios</span>
      </td>
      <td>
        <div>
          <a> Crear </a>
          <input type="checkbox" [(ngModel)]="filter16" (change)="onFilterChange16($event)"/>
          <a> Actualizar </a>
          <input type="checkbox" [(ngModel)]="filter17" (change)="onFilterChange17($event)"/>
          <a> Reportes </a>
          <input type="checkbox" [(ngModel)]="filter19" (change)="onFilterChange19($event)" />
          <a> Deshabilitar </a>
          <input type="checkbox" [(ngModel)]="filter20" (change)="onFilterChange20($event)" />
          <hr>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <span>Beneficiarios</span>

      </td>
      <td>
        <div>
          <a> Crear </a>
          <input type="checkbox" [(ngModel)]="filter21" (change)="onFilterChange21($event)" />
          <a> Actualizar </a>
          <input type="checkbox" [(ngModel)]="filter22" (change)="onFilterChange22($event)" />
          <a> Reportes </a>
          <input type="checkbox" [(ngModel)]="filter24" (change)="onFilterChange24($event)" />
          <a> Deshabilitar </a>
          <input type="checkbox" [(ngModel)]="filter25" (change)="onFilterChange25($event)" />
          <hr>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <span>Entrega</span>

      </td>
      <td>
        <div>
          <a> Crear </a>
          <input type="checkbox" [(ngModel)]="filter26" (change)="onFilterChange26($event)" />
          <a> Actualizar </a>
          <input type="checkbox" [(ngModel)]="filter27" (change)="onFilterChange27($event)" />
          <a> Reportes </a>
          <input type="checkbox" [(ngModel)]="filter29" (change)="onFilterChange29($event)" />
          <a> Deshabilitar </a>
          <input type="checkbox" [(ngModel)]="filter30" (change)="onFilterChang30($event)" />
          <hr>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <span> Centro distribución</span>

      </td>
      <td>
        <div>
          <a> Crear </a>
          <input type="checkbox" [(ngModel)]="filter31" (change)="onFilterChange31($event)"/>
          <a> Actualizar </a>
          <input type="checkbox" [(ngModel)]="filter32" (change)="onFilterChange32($event)"/>
          <a> Reportes </a>
          <input type="checkbox" [(ngModel)]="filter34" (change)="onFilterChange34($event)" />
          <a> Deshabilitar </a>
          <input type="checkbox" [(ngModel)]="filter35" (change)="onFilterChange35($event)" />
          <hr>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <span>Inventarios</span>

      </td>
      <td>
        <div>
          <a> Crear </a>
          <input type="checkbox" [(ngModel)]="filter36" (change)="onFilterChange36($event)"/>
          <a> Actualizar </a>
          <input type="checkbox" [(ngModel)]="filter37" (change)="onFilterChange37($event)" />
          <a> Reportes </a>
          <input type="checkbox" [(ngModel)]="filter39" (change)="onFilterChange39($event)" />
          <a> Deshabilitar </a>
          <input type="checkbox" [(ngModel)]="filter40" (change)="onFilterChange40($event)" />
          <hr>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <span>Roles</span>
      </td>
      <td>
        <div>
          <a> Crear </a>
          <input type="checkbox" [(ngModel)]="filter41" (change)="onFilterChange41($event)"/>
          <a> Actualizar </a>
          <input type="checkbox" [(ngModel)]="filter42" (change)="onFilterChange42($event)" />
          <a> Reportes </a>
          <input type="checkbox" [(ngModel)]="filter44" (change)="onFilterChange44($event)" />
          <a> Deshabilitar </a>
          <input type="checkbox" [(ngModel)]="filter45" (change)="onFilterChange45($event)" />
          <hr>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <span>Datos maestros</span>
      </td>
      <td>
        <div>
          <a> Crear </a>
          <input type="checkbox" [(ngModel)]="filter46" (change)="onFilterChange46($event)"/>
          <a> Actualizar </a>
          <input type="checkbox" [(ngModel)]="filter47" (change)="onFilterChange47($event)" />
          <a> Reportes </a>
          <input type="checkbox" [(ngModel)]="filter49" (change)="onFilterChange49($event)" />
          <a> Deshabilitar </a>
          <input type="checkbox" [(ngModel)]="filter50" (change)="onFilterChange50($event)" />
          <hr>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <span>Almacenes</span>
      </td>
      <td>
        <div>
          <a> Crear </a>
          <input type="checkbox" [(ngModel)]="filter51" (change)="onFilterChange51($event)"/>
          <a> Actualizar </a>
          <input type="checkbox" [(ngModel)]="filter52" (change)="onFilterChange52($event)" />
          <a> Reportes </a>
          <input type="checkbox" [(ngModel)]="filter54" (change)="onFilterChange54($event)" />
          <a> Deshabilitar </a>
          <input type="checkbox" [(ngModel)]="filter55" (change)="onFilterChange55($event)" />
          <hr>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<button type="submit" class="btn btn-block btn-success" (click)="insertDatos()">Asignar</button>