
<html>

<head>

	<style type="text/css">
		* {
			margin: 0px;
			padding: 0px;
		}

		#header {
			margin: auto;
			width: 700px;
			font-family: Arial, Helvetica, sans-serif;
			text-align: center;
		}

		ul,
		ol {
			list-style: none;
		}

		.nav>li {
			float: left;
			text-align: center;
		}

		.nav li a {
			background-color: rgb(39, 192, 25);
			color: #fff;
			text-decoration: none;
			padding: 10px 12px;
			display: block;

		}

		.nav li a:hover {
			background-color: #434343;
		}

		.nav li ul {
			display: none;
			position: absolute;
			min-width: 140px;
		}

		.nav li:hover>ul {
			display: block;
		}

		.nav li ul li {
			position: relative;
		}

		.nav li ul li ul {
			right: -140px;
			top: 0px;
		}
	</style>


</head>

<body>
	<div class="padre">
		<div id="header" class="hijo_uno">
			<ul class="nav">
			</ul>
		</div>
	</div>
	<h1>Asignar Transacciones</h1>

    <table class="table">
        <thead class="thead-green">
          <tr>
            <th scope="col">Nombre de transaccion</th>
            <th scope="col">Permisos</th>
          </tr>
        </thead>
        <tbody>
          <tr >
            <td>
                <span>Centro Zonal</span>
                
            </td>
           <td>
             <div>
                <a> Crear  </a>
                <input type="checkbox" [(ngModel)]="Crear"  data-md-icheck (change)="toggleVisibility($event)" />
                <a> Actualizar  </a>
                <input type="checkbox" [(ngModel)]="Actualizar"  data-md-icheck (change)="toggleVisibility($event)"/>
                <a> Visualizar  </a>
                <input type="checkbox" [(ngModel)]="Visualizar"  data-md-icheck (change)="toggleVisibility($event)"/>
                <a> Reportes  </a>
                <input type="checkbox" [(ngModel)]="Reportes"  data-md-icheck (change)="toggleVisibility($event)"/>
                <a> Deshabilitar  </a>
                <input type="checkbox" [(ngModel)]="Inhabilitar"  data-md-icheck (change)="toggleVisibility($event)"/>
                <hr>
			  </div>
           </td>	  
		  </tr>
		  <tr >
            <td>
                <span>Punto de entrega</span>
                
            </td>
           <td>
             <div>
                <a> Crear  </a>
                <input type="checkbox" [(ngModel)]="theCheckbox"  data-md-icheck (change)="toggleVisibility($event)"/>
                <a> Actualizar  </a>
                <input type="checkbox" [(ngModel)]="theCheckbox"  data-md-icheck (change)="toggleVisibility($event)"/>
                <a> Visualizar  </a>
                <input type="checkbox" [(ngModel)]="theCheckbox"  data-md-icheck (change)="toggleVisibility($event)"/>
                <a> Reportes  </a>
                <input type="checkbox" [(ngModel)]="theCheckbox"  data-md-icheck (change)="toggleVisibility($event)"/>
                <a> Deshabilitar  </a>
                <input type="checkbox" [(ngModel)]="theCheckbox"  data-md-icheck (change)="toggleVisibility($event)"/>
                <hr>
			  </div>
           </td>	  
		  </tr>
		  <tr >
            <td>
                <span>Unidad de servicio</span>
                
            </td>
           <td>
             <div>
                <a> Crear  </a>
                <input type="checkbox" [(ngModel)]="theCheckbox"  data-md-icheck (change)="toggleVisibility($event)"/>
                <a> Actualizar  </a>
                <input type="checkbox" [(ngModel)]="theCheckbox"  data-md-icheck (change)="toggleVisibility($event)"/>
                <a> Vizualizar  </a>
                <input type="checkbox" [(ngModel)]="theCheckbox"  data-md-icheck (change)="toggleVisibility($event)"/>
                <a> Reportes  </a>
                <input type="checkbox" [(ngModel)]="theCheckbox"  data-md-icheck (change)="toggleVisibility($event)"/>
                <a> Deshabilitar  </a>
                <input type="checkbox" [(ngModel)]="theCheckbox"  data-md-icheck (change)="toggleVisibility($event)"/>
                <hr>
			  </div>
		   </td>
		   	  
		  </tr>
		  <tr >
            <td>
                <span>Usuarios</span>
                
            </td>
           <td>
             <div>
                <a> Crear  </a>
                <input type="checkbox" [(ngModel)]="theCheckbox"  data-md-icheck (change)="toggleVisibility($event)"/>
                <a> Actualizar  </a>
                <input type="checkbox" [(ngModel)]="theCheckbox"  data-md-icheck (change)="toggleVisibility($event)"/>
                <a> Vizualizar  </a>
                <input type="checkbox" [(ngModel)]="theCheckbox"  data-md-icheck (change)="toggleVisibility($event)"/>
                <a> Reportes  </a>
                <input type="checkbox" [(ngModel)]="theCheckbox"  data-md-icheck (change)="toggleVisibility($event)"/>
                <a> Deshabilitar  </a>
                <input type="checkbox" [(ngModel)]="theCheckbox"  data-md-icheck (change)="toggleVisibility($event)"/>
                <hr>
			  </div>
		   </td>
		  </tr>
		  <tr >
            <td>
                <span>Beneficiarios</span>
                
            </td>
           <td>
             <div>
                <a> Crear  </a>
                <input type="checkbox" [(ngModel)]="theCheckbox"  data-md-icheck (change)="toggleVisibility($event)"/>
                <a> Actualizar  </a>
                <input type="checkbox" [(ngModel)]="theCheckbox"  data-md-icheck (change)="toggleVisibility($event)"/>
                <a> Vizualizar  </a>
                <input type="checkbox" [(ngModel)]="theCheckbox"  data-md-icheck (change)="toggleVisibility($event)"/>
                <a> Reportes  </a>
                <input type="checkbox" [(ngModel)]="theCheckbox"  data-md-icheck (change)="toggleVisibility($event)"/>
                <a> Deshabilitar  </a>
                <input type="checkbox" [(ngModel)]="theCheckbox"  data-md-icheck (change)="toggleVisibility($event)"/>
                <hr>
			  </div>
		   </td>
		  </tr>
		  <tr >
            <td>
                <span>Entrega</span>
                
            </td>
           <td>
             <div>
                <a> Crear  </a>
                <input type="checkbox" [(ngModel)]="theCheckbox"  data-md-icheck (change)="toggleVisibility($event)"/>
                <a> Actualizar  </a>
                <input type="checkbox" [(ngModel)]="theCheckbox"  data-md-icheck (change)="toggleVisibility($event)"/>
                <a> Vizualizar  </a>
                <input type="checkbox" [(ngModel)]="theCheckbox"  data-md-icheck (change)="toggleVisibility($event)"/>
                <a> Reportes  </a>
                <input type="checkbox" [(ngModel)]="theCheckbox"  data-md-icheck (change)="toggleVisibility($event)"/>
                <a> Deshabilitar  </a>
                <input type="checkbox" [(ngModel)]="theCheckbox"  data-md-icheck (change)="toggleVisibility($event)"/>
                <hr>
			  </div>
		   </td>
		  </tr> 
		  <tr >
            <td>
                <span>Distribucion</span>
                
            </td>
           <td>
             <div>
                <a> Crear  </a>
                <input type="checkbox" [(ngModel)]="theCheckbox"  data-md-icheck (change)="toggleVisibility($event)"/>
                <a> Actualizar  </a>
                <input type="checkbox" [(ngModel)]="theCheckbox"  data-md-icheck (change)="toggleVisibility($event)"/>
                <a> Vizualizar  </a>
                <input type="checkbox" [(ngModel)]="theCheckbox"  data-md-icheck (change)="toggleVisibility($event)"/>
                <a> Reportes  </a>
                <input type="checkbox" [(ngModel)]="theCheckbox"  data-md-icheck (change)="toggleVisibility($event)"/>
                <a> Deshabilitar  </a>
                <input type="checkbox" [(ngModel)]="theCheckbox"  data-md-icheck (change)="toggleVisibility($event)"/>
                <hr>
			  </div>
		   </td>
		  </tr>
		  <tr >
            <td>
                <span>Inventarios</span>
                
            </td>
           <td>
             <div>
                <a> Crear  </a>
                <input type="checkbox" [(ngModel)]="theCheckbox"  data-md-icheck (change)="toggleVisibility($event)"/>
                <a> Actualizar  </a>
                <input type="checkbox" [(ngModel)]="theCheckbox"  data-md-icheck (change)="toggleVisibility($event)"/>
                <a> Vizualizar  </a>
                <input type="checkbox" [(ngModel)]="theCheckbox"  data-md-icheck (change)="toggleVisibility($event)"/>
                <a> Reportes  </a>
                <input type="checkbox" [(ngModel)]="theCheckbox"  data-md-icheck (change)="toggleVisibility($event)"/>
                <a> Deshabilitar  </a>
                <input type="checkbox" [(ngModel)]="theCheckbox"  data-md-icheck (change)="toggleVisibility($event)"/>
                <hr>
			  </div>
		   </td>
		  </tr>

        </tbody>
      </table>
	  





</body>

</html>