<nav class="navbar navbar-success bg-success">
    <div>
           <button class="btn btn-dark" routerLink="/crearalmacen">Volver</button>
           <button class="btn btn-dark" [routerLink]="['/almacenpi']">Crear</button>
    </div>
           <div>
            <label>Crear almacen punto de entrega</label>
        
        {{fecha}}  
        </div>
        
        
           <div>
           
           </div>
  </nav>
  
  <table class="table">
      <thead class="thead-green">
        <tr>
          <th scope="col"># </th>
          <th scope="col">Número externo </th>
          <th scope="col">Nombre almacén </th>
          <th scope="col">Responsable </th>
          <th scope="col">Capacidad bolsas </th>
          <th scope="col">Capacidad cajas </th>
          <th scope="col">Unidad medida </th>
          <th scope="col">Estado </th>
          <th scope="col">Centro distribución</th>
          <th scope="col">Punto entrega</th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let al of alm">
          <th scope="row">{{al.idAlmacenes}}</th>
          <td>{{al.NumeroExterno }}</td>
          <td>{{al.Nombre }}</td>
          <td>{{al.Responsable }}</td>
          <td>{{al.Capacidad }}</td>
          <td>{{al.Capacidad2 }}</td>
          <td>{{al.UnidadMedida }}</td>
          <td>
          
          <div *ngIf="al.Estado == 1">
            Habilitado
          </div>
          <div *ngIf="al.Estado== 0">
            Deshabilitado
          </div>
          
          </td>
          <td>{{al.Nombrecentrodistribucion }}</td>
          <td>{{al.NombrePE }}</td>
              
        </tr>
      </tbody>
    </table>
   
