<nav class="navbar navbar-success bg-success">
    <button class="btn btn-dark" routerLink="/entregasel">Volver</button>
    <button class="btn btn-dark" routerLink="/salidacentroc"> Crear </button>
  </nav>

  <table class="table" >
    <thead class="thead-green">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Lote </th>
        <th scope="col">Fecha Vencimiento </th>
        <th scope="col">Cantidad </th>
        <th scope="col">Unidad </th>
        <th scope="col">Fecha Registro</th>
        <th scope="col">Centro Distribución Origen</th>
        <th scope="col">Centro Distribución Destino</th>
        <th scope="col">Almacén</th>
        <th scope="col">Tipo Bienesterina</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sal of centroD">
        <th >{{sal.identregacentrodistribucion}}</th>
        <td>{{sal.lote }}</td>
        <td>{{sal.fechavencimiento}}</td>
        <td>{{sal.cantidad }}</td>
        <td>{{sal.unidad}}</td>
        <td>{{sal.fecharegistro}}</td>
        <td>{{sal.idCentroDistribucionOrigen}}</td>
        <td>{{sal.idCentroDistribucionDestino}}</td>
        <td>{{sal.idAlmacen }}</td>
        <td>{{sal.idTipoBienesterina}}</td>
        

      </tr>
    </tbody>
  </table>  
 