<nav class="navbar navbar-success bg-success">
    <button class="btn btn-dark" routerLink="/entregasel">Volver</button>
    <button class="btn btn-dark" routerLink="/salidacentroc"> Crear </button>
  </nav>

  <table class="table" >
    <thead class="thead-green">
      <tr>
        <th scope="col">#</th>
        <th scope="col">lote </th>
        <th scope="col">fechavencimiento </th>
        <th scope="col">cantidad </th>
        <th scope="col">unidad </th>
        <th scope="col">fecharegistro</th>
        <th scope="col">idCentroDistribucionOrigen</th>
        <th scope="col">idCentroDistribucionDestino</th>
        <th scope="col">idAlmacen</th>
        <th scope="col">idTipoBienesterina</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sal of centroD">
        <th scope="row">{{sal.identregacentrodistribucion}}</th>
        <td>{{sal.lote }}</td>
        <td>{{sal.fechavencimiento}}</td>
        <td>{{sal.cantidad }}</td>
        <td>{{sal.unidad}}</td>
        <td>{{sal.fecharegistro}}</td>
        <td>{{sal.idCentroDistribucionOrigen}}</td>
        <td>{{sal.idCentroDistribucionDestino}}</td>
        <td>{{sal.idAlmacen }}</td>
        <td>{{sal.idTipoBienesterina}}</td>

      </tr>
    </tbody>
  </table>  
 