.trans{
    width: 1300px;
    display: flex;
    justify-content: center;
  }

  .menu{ 
 
    display: flex;
    justify-content: center;
  
  } 

  .s {
    
    width: 400px; 
    text-align:center;
    
   } 

 