<nav class="navbar navbar-success bg-success">
    <button class="btn btn-dark" routerLink="/menu">Volver</button>
  </nav>
  


  <table class="table" id="contentToConvert" >
    <thead class="thead-green">
      <footer id="sticky-footer" class="text-white-50" style="margin-bottom: 0px; bottom: 0px;">
        <div class="container text-center" style="justify-content: center;  bottom: 0px; margin-left: auto; margin-right: auto; margin-bottom: 0px;">
 
         <img src="../../assets/icbf-logo.png" id="imagen" style="width: 65px; height: 65px; margin-left: 10px; margin-top: 10px; margin-bottom: 0px;" class="rounded float-left">
        </div>
      </footer>
        {{Nombrereporte}}                    {{fecha}}
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre centro zonal</th>
        <th scope="col">Municipio</th>
        <th scope="col">Comunas</th>
        <th scope="col">Código externo JCZ</th>
        <th scope="col">Código externo ICBF centro zonal</th>
        <th scope="col">Estado</th>
        <th scope="col">Regional</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cen of centros">
        <th scope="row">{{cen.idCentrosZonales}}</th>
        <td>{{cen.NombreCentroZonal}}</td>
        <td>{{cen.Municipio}}</td>
        <td>{{cen.Comuna}}</td>
        <td>{{cen.CodigoExternoJcz}}</td>
        <td>{{cen.CodigoExternoCZ}}</td>
        <td>
          <div *ngIf="cen.Estado == 1">
            Habilitado
          </div>
          <div *ngIf="cen.Estado== 0">
            Deshabilitado
          </div>
        </td>
        <td>{{cen.Regional}}</td>
      </tr>
    </tbody>
  </table>

   


 
  <div class="trans">
  <button class="btn btn-dark" (click)="Generareporte()">Generar reporte</button>
</div>